<%= render partial: 'show_block' %>
<%= render partial: 'uploads/upload_viewer' %>

<% provide(:title, "Job #{@job_id}") %>

<%= content_for :controller do %>technicianCtrl<% end %>

<%= content_for :class do %>technician<% end %>

<% content_for :wider_sidebar do %>true<% end %>

<% content_for :sidebar do %>

  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="steps">
      <md-content layout-padding>
          <br/>
          <div ng-repeat="step in job.steps | filter: { operation: 'display' } track by $index"
               ng-class="$index == state.index ? 'no-highlight step-index-selected' : 'no-highlight step-index'"
               ng-click="state.index = $index">
            {{$index+1}}. {{step.content[0].title}}
         </div>
      </md-content>
    </md-tab>

    <md-tab label="plans">
      <md-content layout-padding>
      </md-content>
    </md-tab>

    <md-tab label="uploads">
      <md-content layout-padding>

      <br/>
   
      <ul ng-if="job.uploads.length > 0"
          class="upload-list">
        <li ng-repeat="upload in job.uploads">
          <upload-viewer record="upload"></upload-viewer>
          <span class="pull-right">{{upload.upload_file_size|bytes}}</span>
        </li>
      </ul>

      <div ng-if="job.uploads.length == 0">
        <h1 class="md-title">No uploads</h1>
      </div>

     <div class="upload-button-container">

        <form id="upload-form-generic" action="/krill/upload" method="post">
          <input id="upload-generic" 
                 type="file"
                 name="files[]"
                 custom-on-change="complete_upload"
                 multiple></input>
          <input type="submit">
          <input id="authenticity_token" name="authenticity_token" type="hidden" value="<%=form_authenticity_token %>" />
        </form>
        <md-button
          class="md-raised md-primary" 
          ng-click="start_upload('generic')">Upload File(s)</md-button>      

      </div>

      </md-content>
    </md-tab>

  </md-tabs>


<% end %>

<% content_for :no_title do %>true<% end %>

<% content_for :keydown do %>keyDown($event)<% end %>

<% content_for :specific_title do %>
  {{job.operations[0].operation_type.name}}: Step {{state.index + 1}}
<% end %>

<% content_for :action1 do %>
  <md-button ng-click="state.index = state.index - 1" ng-disabled="state.index == 0">&#8678;</md-button>
<% end %>

<% content_for :action2 do %>
  <span class="ok">
    <md-button class='md-raised md-primary'
               ng-disabled="state.index != job.steps.length-1"
               ng-click="ok()">OK</md-button>
  </span>
<% end %>

<% content_for :action3 do %>
  <md-button ng-click="state.index = state.index + 1" ng-disabled="state.index >= job.steps.length-1">&#8680;</md-button>
<% end %>

<% content_for :main do %>

  <div ng-repeat="step in job.steps | filter: { operation: 'display' } track by $index"
       ng-show="$index == state.index"
       class="step-container animate-show-hide">

      <div ng-repeat="line in step.content" ng-include="content_type(line)"></div>

    </script>
  </div>

<% end %>
