<%= render partial: 'show_block' %>
<%= render partial: 'uploads/upload_viewer' %>

<% provide(:title, "Job #{@job_id}") %>

<%= content_for :controller do %>technicianCtrl<% end %>

<%= content_for :class do %>technician<% end %>

<% content_for :wider_sidebar do %>true<% end %>

<% content_for :sidebar do %>

  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="steps">
      <md-content layout-padding>
          <br/>
          <span ng-if="!job.started">No steps</span>

          <div ng-repeat="step in job.backtrace track by $index"
               ng-class="$index == job.state.index ? 
                         'no-highlight step-index-selected' : 
                         'no-highlight step-index'"
               ng-click="job.state.index = $index"
               ng-if="step.type != 'aborted'">
            {{$index+1}}. {{step.title}}
         </div>

      </md-content>
    </md-tab>

    <md-tab label="plans">
      <md-content layout-padding>
      </md-content>
    </md-tab>

    <md-tab label="uploads">
      <md-content layout-padding>

      <br/>
   
      <ul ng-if="job.uploads.length > 0"
          class="upload-list">
        <li ng-repeat="upload in job.uploads">
          <upload-viewer record="upload"></upload-viewer>
          <span class="pull-right">{{upload.upload_file_size|bytes}}</span>
        </li>
      </ul>

      <div ng-if="job.uploads.length == 0">
        <h1 class="md-title">No uploads</h1>
      </div>

     <div class="upload-button-container">

        <form id="upload-form-generic" action="/krill/upload" method="post">
          <input id="upload-generic" 
                 type="file"
                 name="files[]"
                 custom-on-change="complete_upload"
                 multiple></input>
          <input type="submit">
          <input id="authenticity_token" name="authenticity_token" type="hidden" value="<%=form_authenticity_token %>" />
        </form>
        <md-button
          class="md-raised md-primary" 
          ng-click="start_upload('generic')">Upload File(s)</md-button>      

      </div>

      </md-content>
    </md-tab>

  </md-tabs>


<% end %>

<% content_for :no_title do %>true<% end %>

<% content_for :keydown do %>keyDown($event)<% end %>

<% content_for :specific_title do %>
  <span ng-if="job.backtrace && job.is_complete"
        class="specific-title-complete">[COMPLETED] </span>
  <span ng-if="job.started">
    {{job.operations[0].operation_type.name}}: Step {{job.state.index + 1}}
  </span>
  <span ng-if="!job.started">
    JOB NOT STARTED
  </span>
<% end %>

<% content_for :action1 do %>
  <md-button ng-if="job.started"
             ng-click="job.state.index = job.state.index - 1"
             ng-disabled="job.state.index == 0">&#8678;
  </md-button>
<% end %>

<% content_for :action2 do %>
  <span class="ok" 
        ng-if="job.started">
    <md-button class='md-raised md-primary'
               ng-disabled="job.state.index != job.backtrace.length-1 || job.is_complete || job.sending"
               ng-click="ok()">
      {{job.sending ? 'Waiting' : 'OK'}}
    </md-button>
  </span>
<% end %>

<% content_for :action3 do %>
  <md-button ng-if="job.started"
             ng-click="job.state.index = job.state.index + 1"
             ng-disabled="job.state.index >= job.backtrace.length-1">&#8680;
  </md-button>
<% end %>

<% content_for :main do %>

  <div ng-if="job.started"
       ng-repeat="step in job.backtrace track by $index"
       ng-show="$index == job.state.index"
       class="step-container animate-show-hide">

      <div ng-if="step.type == 'display'"
           ng-repeat="line in step.display.content" 
           ng-include="content_type(line)" 
           track by $index></div> 

      <div ng-if="step.type == 'complete'" ng-include="'complete'"></div>  
      <div ng-if="step.type == 'error'" ng-include="'error'"></div>         

      <md-button ng-if="step.type == 'display'"
                 class="md-small md-raised pull-right" 
                 ng-click="job.show_debug_info = !job.show_debug_info">
                 Debug
      </md-button>

      <div ng-if="job.show_debug_info">
        <pre>{{step.display|json}}</pre><hr>
        <pre>{{step.response|json}}</pre>                      
      </div>

    </script>
  </div>

<% end %>
