<% provide(:title, @collection.name) %>

<h2><%= @collection.object_type.name %>: <%= @collection.name %></h2>
<h2>Project: <%= @collection.project %></h2>

<div class='row-fluid' style="outline: 0pt dashed red">
  <div class='span5' style="outline: 0pt dashed red">
    <span class='collection'>
      <% (0..@collection.rows).each do |r| %>
        <% (0..@collection.columns).each do |c| %>

          <% if r == 0 && c != 0 %>

            <div class='part part_header'><%= c %></div>

          <% elsif r != 0 && c == 0 %>

            <div class='part part_header'><%= r %></div>

          <% elsif r == 0 && c == 0 %>

            <div class='part part_header'></div>

          <% elsif @matrix[r-1][c-1].length > 0 %>

            <% part = @matrix[r-1][c-1].first 

               sample = part.item.sample
               container = part.item.object_type

               description  = "{ type:   '#{sample.sample_type.name}', project: '#{sample.project}', "
               description += "  sample: '#{sample.name}',             container: '#{container.name}', "
               description += "  item:   '#{part.item.id}' }" %>

            <div class='part part_occupied' id='<%= "part_#{r}_#{c}" %>' 
                 onclick='show_part( <%= r %>, <%= c %>, <%= description %> )'></div>

          <% else %>

            <div class='part part_empty'    id='<%= "part_#{r}_#{c}" %>' 
                 onclick='show_part( <%= r %>, <%= c %>, null )'></div>

          <% end %>

        <% end %>

        <div class='clear'></div>
      <% end %>
    </span>
  </div>

  <div class='span7'>
    <br />
    <div class='row-fluid'>
      <div class='span6 infobox' id='current-part'><p>No part selected.</p></div>
      <div class='span6 infobox' id='current-item'><p>No item selected.</p></div>
    </div>

    <div id='item-selector' style='outline: 0pt dashed red'></div>

  </div>

</div>

<%= link_to 'Back to List', collections_path, class: 'btn' %>

<script>

window.history.replaceState ( null, 'Collection', '/collections/' + <%= params[:id] %> );

samples = {
    <% SampleType.all.each do |st| %>
       "<%= st.name %>" : {
          <% st.samples.pluck(:project).uniq.each do |p| %>
              "<%= p %>" : {
                <% (st.samples.reject { |s| s.project != p }).each do |s| %>
                    "<%= s.name %>" :{
                      <% st.object_types.each do |ot| %>
                        "<%= ot.name %>" : {
                          <% (ot.items.reject { |i| i.sample_id != s.id }).each do |i| %>
                            "<%= i.id %>" : { data: '<%= i.data %>', location: '<%= i.location %>', 
                                              sample_id: <%= s.id %>, object_type_id: <%= ot.id %> },
                          <% end %> },
                      <% end %> },
                <% end %> },
          <% end %> },
    <% end %>
};

IS = new ItemSelector('item-selector','current-item');

IS.new_item_callback = function() {
    window.location = '/collections/<%= params[:id] %>/newitem?' 
                    + hash2query(IS.current_selection) + '&'
                    + 'r=' + active_part.r + '&c=' + active_part.c;
};


<% if params[:r] %>
  active_part = { r:<%= params[:r] %>,c:<%= params[:c] %> };
  show_part(<%= params[:r] %>,<%= params[:c] %>,null);
<% else %>
  active_part = null;
<% end %>

<% if params[:item] %>
  IS.select ( '<%= params[:type] %>',
                  '<%= params[:project] %>',
                  '<%= params[:sample] %>',
                  '<%= params[:container] %>',
                  <%= params[:item] %> );

<% else %>
  IS.show_types();
<% end %>

function show_part(r,c,d) {

  if ( active_part ) {
    document.getElementById('part_'+active_part.r+'_'+active_part.c).style.outline = '0pt';
  }

  document.getElementById('part_'+r+'_'+c).style.outline = '3pt solid red';
  active_part = { r: r, c: c, d: d };

  el = document.getElementById ( 'current-part' );

  var html = "";

  if ( d == null ) {
    html += "<h4>( " + r + ", " + c + " ) &larr; &empty;</h4>";
    var action = "associate("+r+","+c+")";
    html += "<button class='btn' onclick='"+action+"'>Associate</button>";
    IS.clear_item_info();
  } else {
    html += "<h4>( " + r + ", " + c + " ) &larr; " + d.item + "</h4>";
    var action = "dissociate("+r+","+c+")";
    html += "<button class='btn' onclick='"+action+"'>Disassociate</button>";
    IS.select ( d.type, d.project, d.sample, d.container, d.item );
  }

  el.innerHTML = html;

}

function associate(r,c) {
  
  if ( IS.showing_active_item ) {

    window.location = '/collections/<%= params[:id] %>/associate?' 
                    + hash2query(IS.current_selection) + '&'
                    + 'r=' + r + '&c=' + c;

  } else {
    alert ( "Select an item before clicking 'Associate'" );
  }

}

function dissociate(r,c) {
  
  if ( IS.showing_active_item ) {

    window.location = '/collections/<%= params[:id] %>/dissociate?' 
                    + hash2query(IS.current_selection) + '&'
                    + 'r=' + r + '&c=' + c;

  } 

}

</script>
