<% provide(:title, @collection.name) %>

<h2><%= @collection.object_type.name %>: <%= @collection.name %></h2>
<h2>Project: <%= @collection.project %></h2>

<style>

.collection {
  border: 1pt solid black;
  display: inline-block;
  padding: 10px 20px 20px 10px;
}

.part {
  width: 12px;
  height: 12px;
  margin: 2px; 
  display: inline;
  float: left;
  line-height: 1;
  padding: 10px;
  font-size: 12pt;
  border-radius: 0px;
}

.part_header {
  background: #fff;
}

.part_occupied {
  background: #444;
}

.part_empty {
  background: #ddd;
}

.part_details {
  display: none;
  border: 1pt solid #aaa;
  padding: 10px;
}

</style>

<div class='row-fluid'>
  <div class='span5'>
    <span class='collection'>
      <% (0..@collection.rows).each do |r| %>
        <% (0..@collection.columns).each do |c| %>
          <% if r == 0 && c != 0 %>
            <div class='part part_header'><%= c %></div>
          <% elsif r != 0 && c == 0 %>
            <div class='part part_header'><%= r %></div>
          <% elsif r == 0 && c == 0 %>
            <div class='part part_header'></div>
          <% elsif @matrix[r-1][c-1].length > 0 %>
            <div class='part part_occupied' id='<%= "part_#{r}_#{c}" %>' onclick='show_part(<%= r %>,<%= c %>)'></div>
          <% else %>
            <div class='part part_empty'    id='<%= "part_#{r}_#{c}" %>' onclick='show_part(<%= r %>,<%= c %>)'></div>
          <% end %>
        <% end %>
        <div class='clear'></div>
      <% end %>
    </span>
  </div>
  <div class='span5'>
    <% (1..@collection.rows).each do |r| %>
      <% (1..@collection.columns).each do |c| %>
        <span class='part_details' id='<%= "details_#{r}_#{c}" %>'>
          <%= render partial: '/collections/part', locals: { row: r, col: c } %>
        </span>
      <% end %>
    <% end %>
  </div>
  <div class='span2'></div>
</div>

<br />

<%= link_to 'Back to List', collections_path, class: 'btn' %>

<script>

function show_part(r,c) {
  
  for ( var i=1; i<=<%= @collection.rows %>; i++ ) {
    for ( var j=1; j<=<%= @collection.columns %>; j++ ) {

      part = document.getElementById("part_"+i+"_"+j);
      details = document.getElementById("details_"+i+"_"+j);

      if ( i==r && j==c ) {
        part.style.outline = '3pt solid red';  
        details.style.display = 'block';  
      } else {
        part.style.outline = '0pt solid red';  
        details.style.display = 'none';  
      }

    }
  }
}

</script>
