<div ng-app="costs">

<div id="cost-control" ng-controller='costsCtrl as cc'>

<h2>Cost Report</h2>

<p>See the <%= link_to "individual users index", users_url %> for costs per user.</p>

<label>UW Indirect Cost Rate</label>
<input type="number" ng-model="idc_rate" />

<label>Aquarium Overhead Rate</label>
<input type="number" ng-model="aq_rate" />

  <% @report.each do |r| %>

      <hr />

      <h3><%= r[:date].strftime('%B, %Y') %></h3>

      <div class='row-fluid'>

        <div class='span7'>

          <table class='table'>

            <caption style="text-align:left">Cost Summary</caption>

            <tr>
              <th width=28%>Task Type</th>
              <th width=12%>Cost per</th>          
              <th width=12%>Number</th>
              <th width=12%>Direct Cost</th>
              <th width=12%>Indirect Cost</th>
              <th width=12%>Aquarium Overhead</th>                            
              <th width=12%>Total Cost</th>                                          
            </tr>

            <% r[:task_summaries].each do |ts| %>

              <% if ts[:number] > 0 %>
                <tr>          
                  <td><a href="/task_prototypes/<%= ts[:id] %>"><%= ts[:name] %><a></td>        
                  <td><%= number_to_currency ( ts[:cost_per] ) %></td>
                  <td><%= ts[:number] %></td>              
                  <td><%= number_to_currency ( ts[:number] * ts[:cost_per] ) %></td> 
                  <td>{{idc_rate*<%= ts[:number] * ts[:cost_per] %>|currency}}</td> 
                  <td>{{aq_rate*<%= ts[:number] * ts[:cost_per] %>|currency}}</td>
                  <td>{{(1+idc_rate+aq_rate)*<%= ts[:number] * ts[:cost_per] %>|currency}}</td>
                </tr>            
              <% end %>

            <% end %>

            <tr style="border-top: 2pt solid black">
              <% cost = r[:task_summaries].collect { |ts| ts[:total] }.inject { |sum,x| sum + x } %>
              <td></td>
              <td></td>
              <td>Total</td>        
              <td>{{ <%= cost %> | currency }}</td>
              <td>{{ idc_rate * <%= cost %> | currency }}</td>
              <td>{{ aq_rate * <%= cost %> | currency }}</td>  
              <td>{{ (1+idc_rate+aq_rate) * <%= cost %> | currency }}</td>                                  
            </tr>

          </table>

        </div>

        <div class='span5'>

          <table class='table'>
            <caption style="text-align:left">Customer Breakdown</caption>
            <tr>
              <th width=32%>Customer</th>
              <th width=17%>Direct Cost</th>
              <th width=17%>Indirect Cost</th>
              <th width=17%>Aquarium Overhead</th>                            
              <th width=17%>Total Cost</th>                  
            </tr>

            <% r[:breakdown].each do |login,summary| %>
              <% if summary[:cost] > 100 %>
                <tr>
                  <% cost = summary[:cost] %>
                  <td><a href="/users/billing/<%= summary[:id] %>"><%= summary[:name] %></a></td>
                  <td>{{ <%= cost %> | currency }}</td>
                  <td>{{ idc_rate * <%= cost %> | currency }}</td>
                  <td>{{ aq_rate * <%= cost %> | currency }}</td>
                  <td>{{ ( 1 + aq_rate + idc_rate ) * <%= cost %> | currency }}</td>                                    
                </tr>
              <% end %>
            <% end %>

          </table>

        </div>

      </div>

  <% end %>

</div>

</div>

<script>
(function() {

  w = angular.module('costs',[]);

  w.controller('costsCtrl', [ '$scope', '$http', '$attrs', function ($scope,$http,$attrs) {

    $scope.idc_rate = 0.54;
    $scope.aq_rate = 0.10;

  }]);

})();
</script>