
<%= content_for :class do %>main-navigation<% end %>

<%= content_for :controller do %>homeCtrl<% end %>

<% content_for :much_wider_sidebar do %>
  true
<% end %>

<%= content_for :sidebar do %>

  <div layout="column" layout-align="center center" style="margin-top: 16px">
    <%= image_tag 'biofab-logo.jpg', style: 'width: 50%' %>
  </div>
  <md-list>
    <md-list-item id="chrome" class="md-3-line" layout-padding style="display: none">
      <div class="md-list-item-text" layout="column">
        <h2 class='md-title'>Chrome Not Detected</h2>
        <h3 class='md-subtitle' style="color: red; font-weight: bold">Warning!</h3>
        <p>You are not using Google Chrome. Some features may not be available. 
           Aquarium has been tested extensively with Google Chrome and we highly recommend you use
           it instead. Install it <a href="https://www.google.com/chrome/index.html">here</a>.</p>
      </div>
    </md-list-item>  

  <% @announcements.each do |a| %>
    <md-list-item class="md-3-line" layout-padding>
      <div class="md-list-item-text" layout="column">
        <h2 class='md-title'><%= a.title %></h2>
        <h3 class='md-subtitle'><%= a.created_at.strftime '%A %B %e, %Y' %></h3>
        <p layout-padding><%= simple_format(a.message).html_safe %></p>
      </div>
    </md-list-item>
  <% end %>
  </md-list>
<% end %>

<% content_for :specific_title do %>
  <%= Bioturk::Application.config.instance_name %>
  &rang; 
  Main
<% end %>

<% content_for :main do %>

  <style>
    .box {
      border: 1pt solid #bbb; 
      border-radius: 4px; 
      margin: 16px;
    }
    a {
      color: #01579b;
    }
  </style>

  <script type="text/javascript">    
  $(function() {
    if ( ! ( !!window.chrome && !!window.chrome.webstore) )  {
      console.log("No chrome!")
      $("#chrome").show()
    }
  });
  </script>

  <div layout="column" layout-padding>

    <div layout="row">

      <div flex="50" class="box">
        <md-toolbar class="md-hue-4"><div class="md-toolbar-tools"><h2>Support</h2></div></md-toolbar>
        <md-list>
          <md-list-item>
            <ng-md-icon icon="videocam" size="24" aria-label="Help" style="fill: #444"></ng-md-icon> 
            <h4>&nbsp;<a href="http://youtube.com">A Video on how to use Aquarium 2.0</a></h4>
          </md-list-item>
          <md-list-item>
            <ng-md-icon icon="build" size="24" aria-label="Developer Help" style="fill: #444"></ng-md-icon> 
            <h4>&nbsp;<a href="/doc/index.html">Developer Help</a></h4>
            </md-list-item>      
          <md-list-item>
            <ng-md-icon icon="contact_mail" size="24" aria-label="Contact" style="fill: #444"></ng-md-icon> 
            <h4>&nbsp;<a href="mailto:biofab@uw.edu">Contact the BIOFAB</a></h4>
          </md-list-item>     
        </md-list>
      </div>

      <div flex="50" class="box">
        <md-toolbar class="md-hue-4"><div class="md-toolbar-tools"><h2>Improve Aquarium</h2></div></md-toolbar>
          <md-list>
            <md-list-item>
              <ng-md-icon icon="bug_report" size="52" aria-label="Bugs" style="fill: #444"></ng-md-icon> 
              <p style="margin-left: 20px; margin-top: 10px">See <a href="/doc/md-viewer?doc=BugReportStyle">our guide</a> 
              for information about how to describe a bug you've found or a feature
              you'd like to see. We are using github to keep track of issues, bugs, and feature requests. Go to the 
              <a href="https://github.com/klavinslab/aquarium-bugs/issues">aquarium-bugs issue list</a>
              to submit a bug report or feature reqeust.</p>
            </md-list-item>
          </md-list>
      </div>

    </div>

  </div>


<% end %>

