<div class='row-fluid'>

  <div class='span4'>
    <%= render partial: 'stats/users' %>    
  </div>

  <div class='span4'>
    <%= render partial: 'stats/jobs' %>
  </div>

  <div class='span4'>
    <%= render partial: 'stats/outcomes' %>
  </div>

</div>

<div class='row-fluid'>

    <div class='span4'>
      <%= render partial: 'stats/processes' %>
    </div>

    <div class='span4'>
      <%= render partial: 'stats/protocols' %>
    </div>

    <div class='span4'>
      <%= render partial: 'stats/samples' %>
    </div>

</div>

<div class='row-fluid'>

    <div class='span6'>
      <%= render partial: 'stats/empty' %>
    </div>

    <div class='span6'>
      <%= render partial: 'stats/objects' %>
    </div>

</div>

