<% provide(:title, "AQUARIUM") %>

<%= content_for :class do %>main-navigation<% end %>

<%= content_for :controller do %>homeCtrl<% end %>

<% content_for :much_wider_sidebar do %>
  true
<% end %>

<%= content_for :sidebar do %>

  <div layout="column" layout-align="center center" style="margin-top: 16px">
    <%= image_tag Bioturk::Application.config.logo_path, class: "logo" %>
  </div>
  <md-list>
    <md-list-item id="notchrome" class="md-3-line" layout-padding style="display: none">
      <div class="md-list-item-text" layout="column">
        <h2 class='md-title'>Chrome Not Detected</h2>
        <h3 class='md-subtitle' style="color: red; font-weight: bold">Warning!</h3>
        <p>You are not using Google Chrome. Some features may not be available.
           Aquarium has been tested extensively with Google Chrome and we highly recommend you use
           it instead. Install it <a href="https://www.google.com/chrome/index.html">here</a>.</p>
      </div>
    </md-list-item>

  <% @announcements.each do |a| %>
    <md-list-item class="md-3-line" layout-padding>
      <div class="md-list-item-text" layout="column">
        <h2 class='md-title'><%= a.title %></h2>
        <h3 class='md-subtitle'><%= a.created_at.strftime '%A %B %e, %Y' %></h3>
        <p layout-padding><%= simple_format(a.message).html_safe %></p>
      </div>
    </md-list-item>
  <% end %>
  </md-list>
<% end %>

<% content_for :specific_title do %>
  <%= Bioturk::Application.config.instance_name %>
  &rang;
  Leader Boards (Last 3 months)
<% end %>

<% content_for :show_errors do %>true<% end %>

<% content_for :main do %>

  <style>
    .box {
      border: 1pt solid #bbb;
      border-radius: 4px;
      margin: 16px;
    }
    a {
      color: #01579b;
    }
  </style>

  <script type="text/javascript">
  $(function() {
    if ( !window.chrome )  {
      console.log("No chrome!")
      $("#notchrome").show()
    }
  });
 </script>

  <div layout="row">

    <div flex="33" class="box">
      <md-toolbar class="md-hue-4"><div class="md-toolbar-tools"><h2>Video Tutorial Series</h2></div></md-toolbar>
      <p style="margin-left: 20px; margin-top: 10px; margin-bottom: 0px">
         Garrett Newman has made a great series of videos on how to use Aquarium 2.0. Please start here if you are new
         to the system.</p>

      <md-list style="margin-left: 40px">
        <md-list-item>
          <ng-md-icon icon="videocam" size="24" aria-label="Help" style="fill: #444"></ng-md-icon>
          <h4>&nbsp;<a href="https://www.youtube.com/watch?v=ydN51ew1JmI&feature=youtu.be">1. Populating your Inventory</a></h4>
        </md-list-item>

        <md-list-item>
          <ng-md-icon icon="videocam" size="24" aria-label="Help" style="fill: #444"></ng-md-icon>
          <h4>&nbsp;<a href="https://www.youtube.com/watch?v=kYnDc8RIsNg&feature=youtu.be">
            2a. Planning with Templates and Modules
            <span style="background: yellow; color: black; padding: 3px; border: 1pt solid #ddd">New!!</span>
          </a></h4>
        </md-list-item>

        <md-list-item>
          <ng-md-icon icon="videocam" size="24" aria-label="Help" style="fill: #444"></ng-md-icon>
          <h4>&nbsp;<a href="https://www.youtube.com/watch?v=xDrv4f2AZlM&feature=youtu.be">
            2b. Building a Workflow (Old Version)
                                                                                                                                
                                                                                                                                            </a></h4>
        </md-list-item>

        <md-list-item>
          <ng-md-icon icon="videocam" size="24" aria-label="Help" style="fill: #444"></ng-md-icon>
          <h4>&nbsp;<a href="https://www.youtube.com/watch?v=WCTmuz5yBAo&feature=youtu.be">
            4. Monitoring your Plan
          </a></h4>
        </md-list-item>

      </md-list>

    </div>

    <div flex="33" class="box">
      <md-toolbar class="md-hue-4"><div class="md-toolbar-tools"><h2>Improve Aquarium</h2></div></md-toolbar>
        <md-list>
          <md-list-item>
            <ng-md-icon icon="bug_report" size="52" aria-label="Bugs" style="fill: #444"></ng-md-icon>
            <p style="margin-left: 20px; margin-top: 10px"> We are using slack to keep track of issues, bugs, and feature requests. Go to the
            <a href="https://damplab.slack.com/messages/C9F4CPVBN">bugs channel on our Slack to submit an issue</a>
            .<br><br>
              <a href="mailto:damplabnorthaquarium@gmail.com">Contact the DAMP Lab North</a> if you have any questions
            </p>
          </md-list-item>
        </md-list>
    </div>

    <div flex="33" class="box">
      <md-toolbar class="md-hue-4"><div class="md-toolbar-tools"><h2>We're on Slack</h2></div></md-toolbar>
        <md-list>
          <md-list-item>
            <%= image_tag 'slack.png', style: 'width: 100px' %>
            <p style="margin-left: 20px; margin-top: 10px">We have a Slack page for our users to
            discuss their workflows and experiments with the DAMP Lab North staff.
            Sign up <a href="https://join.slack.com/t/damplab/signup">here</a>.
            <a href="mailto:damplabnorthaquarium@gmail.com">email</a>.</p>
          </md-list-item>
        </md-list>
    </div>
  </div>

  <div layout="row" class="leaderboard">

    <% [ { board: @job_board,
           caption: "Most Protocols Completed",
           symbol: :jobs,
           heading: "Jobs" },
         { board: @sample_board,
           caption: "Most Samples",
           symbol: :samples,
           heading: "Samples" },
         { board: @plan_board,
           caption: "Most Plans Launched",
           symbol: :plans,
           heading: "Plans" }  ].each_with_index do |section,i| %>

      <table flex="33" style="<%= i == 2 ? 'margin-right: 15px' : '' %>">
        <caption><%= section[:caption] %></caption>
        <tr>
          <th>User</th>
          <th><%= section[:heading] %></th>
        </tr>
        <% unless section[:board].empty?
           section[:board][0..9].each_with_index do |row,i| %>
            <tr>
              <td style="font-weight: <%= i == 0 ? 'bold' : 'normal'%>"><%= row[:user].login %></td>
              <td class='stat'>
                <div class="bar" style="width: calc( <%= row[:width] %>% - 5px )">&nbsp;</div>
                <div class="value" style="">&nbsp;<%= row[section[:symbol]] %></div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>

    <% end %>
  </div>

  <div layout="row" class="leaderboard">

    <table flex="50">
      <caption>Biggest Fully Completed Plans</caption>
      <tr>
        <th>User</th>
        <th>Operations</th>
        <th>Plan ID</th>
        <th>Date</th>
      </tr>
      <% @biggest_plans[0..9].each_with_index do |row,i| %>
        <tr>
          <td style="font-weight: <%= i == 0 ? 'bold' : 'normal'%>"><%= row[:user].login %></td>
          <td class='stat' style="width: 33%">
            <div class="bar" style="width: calc( <%= row[:width] %>% - 5px )">&nbsp;</div>
            <div class="value" style="">&nbsp;<%= row[:ops] %></div>
          </td>
          <td><a href="/plans?plan_id=<%= row[:plan].id %>"><%= row[:plan].id %></td>
          <td><%= row[:plan].created_at.strftime("%b. %Y") %></td>
        </tr>
      <% end %>
    </table>

    <div flex="50" class="individual_stats">
      <h2 class="md-title">Key Statistics</h2>
      <ul>
        <li><b><%= @user_count %></b> Active Users</li>
        <li><b><%= @sample_count %></b> Sample definitions</li>
        <li><b><%= @item_count %></b> items in inventory</li>
        <% if @last_item %>
          <li><b><%= @last_item.id %></b>: Last Item ID
            ( <%= @last_item.object_type.name %>
              <%= @last_item.sample ? ' for ' + @last_item.sample.user.login : ''%>)</li>
        <% end %>
        <li><b><%= @deployed_op_count %></b> Operation Types deployed</li>
        <li><b><%= @job_count %></b> Jobs performed in the last month</li>
        <li><b><%= @wizard_count %></b> location wizards defined</li>
        <li><b><%= @upload_count %></b> files uploaded</li>
      </ul>
    </div>
  </div>

<% end %>
