<h1>Status</h1>

<h2>Database sizes</h2>

<ul class='list'>
  <li><%= User.all.length %> users</li>
  <li><%= ObjectType.all.length %> object types</li>
  <li><%= Item.all.length %> items</li>
  <li><%= Primer.all.length %> primers</li>
  <li><%= Job.all.length %> jobs</li>
  <li><%= Log.all.length %> log entries</li>
  <li><%= Blob.all.length %> github sha tags cached</li>
</ul>
