<% provide(:title, 'Unit Tests') %>

<% if current_user && current_user.is_admin && Rails.env == 'development' %>

  <script type="text/ng-template" id="describe">
    <div style="margin-left: 16px">
      <h4>
        {{name}}
      </h4>
      <ul ng-if="test.its.length > 0">
        <li ng-repeat="it in test.its">
          <b>{{it.description}}</b>
          <span ng-if="it.is_async && !it.done" style="color: green"> ... running</span>
          <span ng-if="it.is_async && it.done"> ... done</span>          
          <ul>
            <li ng-repeat='result in it.results track by $index'>
              <span ng-if="result == 'failed' || result == 'failed asynchronously' || result == 'unimplemented'"
                    style="color: red">{{result}}</span>
              <span ng-if="result != 'failed' && result != 'failed asynchronously' && result != 'unimplemented'">{{result}}</span>
            </li>
          </ul>
        </li>
      </ul>
      <div ng-repeat="(name,subtest) in test.subtests" 
           ng-if="name != 'its' && name != 'path'"
           ng-include="'describe'" ng-init="name = name; test = subtest">
      </div>
    </div>
  </script>

  <!-- SHOULD ASSERTIONS -->
  <script src="/components/should/should.js" type="text/javascript"></script>

  <%= content_for :sidebar do %>
  <h3>Test Categories</h3>
  <ul>
      <li ng-class="md-subhead">
        <a href="/test">All Tests</a><br><br>
      </li>
      <li ng-repeat="test in shark.test.subtests" ng-class="md-subhead">
        <a href="/test?category={{test.name}}">{{test.name}}</a>
      </li>
  </ul>
  <% end %>

  <% content_for :controller do %>testCtrl<% end %>

  <%= content_for :action1 do %>
    <md-button class="md-raised" ng-click="refresh()">Refresh</md-button>
  <% end %>

  <%= content_for :main do %>
    <div layout-padding id="aq_test">
      <div ng-include="'describe'" ng-init="test = test; name = ''"></div>
    </div>
  <% end %>

<% else %>

  <%= content_for :sidebar do %><% end %>
  <%= content_for :main do %>
    <div layout-padding>Tests not available in <%= Rails.env %></div>
  <% end %>

<% end %>