<h1>Yeast QC Results by Week</h1>


<% @items.reverse.group_by(&:week).each do |week, items| %>

    <% results = items.collect { |i| i.datum[:QC_result] }.flatten %>

    <% percent_correct = results.select { |r| r == "Yes" || r == "correct" || r == "yes" || r == "good" }.length.to_f / results.length %> 

    <div style="width: 100%; outline: 1pt solid #eee">
      <% if percent_correct > 0.5 %>    
        <div style="padding: 3px; margin: 5px 0 5px 0; display: table; background: #afa; width: <%= 100 * percent_correct %>%">
      <% else %>
        <div style="padding: 3px; margin: 5px 0 5px 0; display: table; background: #faa; width: <%= 100 * percent_correct %>%">
      <% end %>
        <b>
          <%= (items.first.created_at.beginning_of_year + (week.to_i-1).week).strftime("%b %d, %Y") %>: 
          <%= (100 * percent_correct).round(1) %>% Correct
        </b>
      </div>
    </div>

    <div style="display: block">
      <% items.each do |i| %>
        <ul>
          <li><%= link_to i.id, i %> (<%= i.sample.user.login %>): <%= i.datum[:QC_result] %></li>
        </ul>
      <% end %>
    </div>

<% end %>
