<%= form_for(@announcement) do |f| %>

  <% if @announcement.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-error">
          The form contains <%= pluralize(@announcement.errors.count, "error") %>.
        </div>
      <ul>
      <% @announcement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h3> Create Announcement </p>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'span4'%>

  <%= f.label :message %>
  <%= f.text_area :message, class: 'span4'%>

  <%= f.label :active %>
  <%= f.check_box :active %>

  <br/>
  <%= f.submit "Save", class: 'md-button md-raised md-primary' %>

<% end %>


