<%= form_for(@announcement) do |f| %>

  <% if @announcement.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-error">
          The form contains <%= pluralize(@announcement.errors.count, "error") %>.
        </div>
      <ul>
      <% @announcement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title, required: true, placeholder: "Your announcement title" %>

  <%= f.label :message %>
  <%= f.text_area :message, required: true, placeholder: "Your announcement message", style: 'width: 100%' %>

  <%= f.label :active %>
  <%= f.check_box :active %>

  <br/>
  <br/>

  <%= f.submit class: 'md-button md-raised md-primary' %>
<% end %>


