<% provide(:title, 'Announcements') %>

<% content_for :controller do %>noCtrl<% end %>

<% content_for :sidebar do %>
  <div layout-padding %>
    <h3>Create Announcement</h3><br/>
    <%= render 'form' %>
  </div>
<% end %>

<% content_for :main do %>

    <table class='table'>
      <tr>
        <th style="width: 5%">Id</th>
        <th style="width: 20%">Title</th>
        <th style="width: 60%">Message</th>
        <th style="width: 5%">Active</th>
        <th style="width: 5%"></th>
        <th style="width: 5%"></th>
      </tr>

    <% @announcements.reverse.each do |announcement| %>
      <tr>
        <td><%= announcement.id %></td>
        <td><%= announcement.title %></td>
        <td><%= announcement.message %></td>
        <% if announcement == @latest_announcement %>
          <td><%= announcement.active %></td>
        <% else %>
          <td></td>
        <% end %> 
        <td>
          <%= link_to edit_announcement_path(announcement) do %>
            <icon class='icon-pencil'></icon>
          <% end %>
        </td>
        <td> 
          <%= link_to announcement, method: :delete, data: {confirm: 'Are you sure?' } do %>
            <icon class='icon-remove'></icon>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>

<% end %>