<h1>Listing announcements</h1>

<table class='table'>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Message</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @announcements.reverse.each do |announcement| %>
  <tr>
    <td><%= announcement.id %></td>
    <td><%= announcement.title %></td>
    <td><%= announcement.message %></td>
    <% if announcement == @latest_announcement %>
      <td><%= announcement.active %></td>
    <% else %>
      <td></td>
    <% end %>
    <td><%= link_to 'Show', announcement %></td>
    <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
    <td><%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Announcement', new_announcement_path %>
