<%= form_for(@sample_type) do |f| %>
  <% if @sample_type.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@sample_type.errors.count, "error") %> prohibited this sample_type from being saved:</h2>
      <ul>
      <% @sample_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>
  <% end %>

  <div class='row-fluid'>
   <div class='span1'></div>
   <div class='span3'>
     <label>Name</label>
     <%= f.text_field :name, placeholder: 'Name' %>
   </div>
   <div class='span8'>
     <label>Description</label>
     <%= f.text_field :description, placeholder: 'Short description', class: 'input-xxlarge' %>
   </div>
  </div>

  <hr />

    <% types = [['not used','not used'],['string','string'],['number','number'],['url','url']] 
       SampleType.all.each do |st|
         types.push [ 'link to ' + st.name.downcase, st.name ]
       end
    %>

    <div class='row-fluid'>
      <div class='span1'></div>
      <label class='span3'>Field Names</label>
      <label class='span3'>Field Types</label>
      <div class='span5'></div>
    </div>

      <% (1..8).each do |i| %>

        <div class='row-fluid'>
         
        <% fn = "field#{i}name".to_sym
           ft = "field#{i}type".to_sym 
           if @sample_type[ft]
             chosen = @sample_type[ft].split '|' 
           else
             chosen = ['not used']
           end %>
           
           <div class='span1'></div>
           <div class='span3'>
             <%= f.text_field fn, placeholder: "Field #{i} Name" %>
           </div>
           <div class='span3'>
             <select class="sample_type_link_select" 
                     id=<%= "sample_type_field#{i}type" %> 
                     multiple="multiple" 
                     name=<%= "sample_type[field#{i}type][]" %>>
             <% types.each do |opt| %>
                <option value='<%= opt[1] %>' 
                        <%= chosen.include?(opt[1]) ? "selected" : "" %> >
                  <%= opt[0] %>
                </option>
             <% end %>
             </select>
           </div>
          <% if i==1 %>
           <div class='span4'><b>Notes:</b> All samples automatically
           get a Name, Project, and Description field.</div>
           <div class='span1'></div>
          <% else %>
           <div class='span5'></div>
          <% end %>
        </div>

      <% end %>

  <hr />

  <div class="actions">
    <%= f.submit "Save Sample Type", class: 'btn' %>
  </div>

<% end %>

