<% provide(:title, 'Sample Type Definitions') %>

<%= content_for :controller do %>noCtrl<% end %>

<%= content_for :class do %>sample-types<% end %>

<% content_for :sidebar do %>

  <% flash.each do |key, value| %>
    <div class='flash md-body-2'><%= value %></div>
  <% end %>

  <md-list ng-init="status.st = '<%= @first %>'" class='md-compact-list'>

    <% @sample_types.each do |sample_type| %>
      <md-list-item ng-click="status.st = '<%= sample_type.name %>'"
                    ng-class="status.st == '<%= sample_type.name %>' ? 'selected' : ''">
        <%= sample_type.name %>
      </md-list-item>
    <% end %>

  </md-list>

<% end %>

<% content_for :specific_title do %>
  &rang; {{status.st}}
<% end %>

<% content_for :main do %>

    <% @sample_types.each do |sample_type| %>

      <div ng-if="status.st == '<%= sample_type.name %>'" layout="column" layout-padding>

        <p class="md-title"><%= sample_type.description %></p>

        <% if sample_type.field_types.length > 0 %>
          <div>
            <%= render partial: 'fields', locals: { sample_type: sample_type } %>
          </div>       
        <% end %>

        <div>There are 
          <%= sample_type.samples.all.length %> 
          <a href="/browser?stid=<%= sample_type.id %>"><%= sample_type.name.pluralize %></a> 
          in the inventory
        </div>

        <p class="md-title">Containers</p>

        <ul>
          <% sample_type.object_types.each do |ot| %>
            <li><b> <%= link_to ot.name, ot %></b>: <%= ot.description %></li>
          <% end %>
          <li><%= link_to 'Add', new_object_type_path(sample_type_id: sample_type.id), class: 'btn btn-mini' %></li>
        </ul>

        <% if sample_type.object_types.length == 0 %>
          No containers.
        <% end %>        

      </div>

    <% end %>

  </div>

<% end %>

<% content_for :action3 do %>
  <% if current_user && current_user.is_admin %>
    <%= link_to 'New', new_sample_type_path, class: 'md-button md-raised md-primary' %>
  <% end %>
<% end %>

<% content_for :action1 do %>
  <% @sample_types.each do |sample_type| %>
   <a href="/sample_types/<%= sample_type.id %>/edit" 
      class='md-button md-raised' 
      ng-if="status.st == '<%= sample_type.name %>'">Edit</a>
   <% end %>
<% end %>

<% content_for :action2 do %>
  <% @sample_types.each do |sample_type| %>
   <span ng-if="status.st == '<%= sample_type.name %>'">
     <%= link_to( 'Delete', 
                  sample_type, 
                  method: :delete, 
                  data: { confirm: "Are you sure you want to delete #{sample_type.name}?"},
                  class: 'md-button md-raised') %>
   </span>
   <% end %>
<% end %>

