<% provide(:title, 'Sample Types') %>

<h1>Sample Type Definitions</h1>

<div class='alert alert-info'>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Note:</strong> Each entry on this list describes a type of
  sample. The name is used to distinguish different kinds of samples
  in item, object type, and interpreter views. The field names and
  types are used when index, viewing, and editing samples of a given
  type. When in doubt, do not create a new sample type. Instead, see
  if your sample type is close enough to an existing sample type and
  use that.
</div>

<table class='table'>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Fields</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sample_types.each do |sample_type| %>
  <tr>
    <td><b><%= sample_type.name %></b></td>
    <td><%= sample_type.description %></td>
    <td>
      <% (1..4).each do |i| %>
        <% fn = "field#{i}name".to_sym
           ft = "field#{i}type".to_sym %>
        <% if sample_type[fn] != '' %>
           <b><%= sample_type[fn] %></b>: <%= sample_type[ft] %></br>
        <% end %>
      <% end %>
    </td>
    <% n = sample_type.samples.all.length
       s = pluralize n, sample_type.name %>
    <td><%= link_to s, samples_path( sample_type_id: sample_type.id )%></td>
    <td><%= link_to 'Show', sample_type %></td>
    <td><%= link_to 'Edit', edit_sample_type_path(sample_type) %></td>
    <td><%= link_to 'Destroy', sample_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sample type', new_sample_type_path, class: 'btn' %>
