<% provide(:title, @sample_type.name + ' Definition' ) %>

<h1>Sample Type: <%= @sample_type.name %></h1>

<h2>
<% 
  n = @sample_type.samples.all.length
  s = pluralize n, @sample_type.name %>
  Show all <%= link_to s, samples_path( sample_type_id: @sample_type.id )%>
</h2>

<h3>Datatype (Used in Operation Based Workflows)</h3>

<pre><%= @sample_type.datatype.to_json %></pre>

<h3>Fields (Deprecated for Operation Based Workflows)</h3>

<ul class='list'>
  <li><b>Description</b>: <%= @sample_type.description %></li>
  <% (1..8).each do |i| %>
    <% fn = "field#{i}name".to_sym
       ft = "field#{i}type".to_sym %>
    <% if @sample_type[ft] != 'not used' && @sample_type[ft] != nil %>
      <li><b><%= @sample_type[fn] %></b>: <%= @sample_type[ft] %></li>
    <% end %>
  <% end %>
</ul>

<h3>Containers</h3>

<ul class='list'>
  <% @sample_type.object_types.each do |ot| %>
    <li><b> <%= link_to ot.name, ot %></b>: <%= ot.description %></li>
  <% end %>
  <li><%= link_to 'Add', new_object_type_path(sample_type_id: @sample_type.id), class: 'btn btn-mini' %></li>
</ul>



<% if @sample_type.object_types.length == 0 %>
  No containers.
<% end %>

<hr />

<%= link_to 'List all Types', sample_types_path, class: 'btn' %> 
