<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sample_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @sample_type.description %>
</p>

<p>
  <b>Field1name:</b>
  <%= @sample_type.field1name %>
</p>

<p>
  <b>Field1type:</b>
  <%= @sample_type.field1type %>
</p>

<p>
  <b>Field2name:</b>
  <%= @sample_type.field2name %>
</p>

<p>
  <b>Field2type:</b>
  <%= @sample_type.field2type %>
</p>

<p>
  <b>Field3name:</b>
  <%= @sample_type.field3name %>
</p>

<p>
  <b>Field3type:</b>
  <%= @sample_type.field3type %>
</p>

<p>
  <b>Field4name:</b>
  <%= @sample_type.field4name %>
</p>

<p>
  <b>Field4type:</b>
  <%= @sample_type.field4type %>
</p>


<%= link_to 'Edit', edit_sample_type_path(@sample_type) %> |
<%= link_to 'Back', sample_types_path %>
