<% provide(:title, @sample_type.name + ' Definition' ) %>

<%= content_for :controller do %>noCtrl<% end %>

<% content_for :main do %>
  <div layout-padding>
    <h1>Sample Type: <%= @sample_type.name %></h1>

    <b>Description</b>: <%= @sample_type.description %>

    <h3>Fields</h3>

    <%= render partial: 'fields', locals: { sample_type: @sample_type } %>

    <h3>Containers</h3>

    <ul class='list'>
      <% @sample_type.object_types.each do |ot| %>
        <li><b> <%= link_to ot.name, ot %></b>: <%= ot.description %></li>
      <% end %>
      <li><%= link_to 'Add', new_object_type_path(sample_type_id: @sample_type.id), class: 'btn btn-mini' %></li>
    </ul>

    <% if @sample_type.object_types.length == 0 %>
      No containers.
    <% end %>

    <hr />

    <%= link_to 'List all Types', sample_types_path, class: 'btn' %> 
  </div>
<% end %>







