<% provide(:title, "Sign in") %>

<h1>Sign In</h1>

<br />

<div class="row-fluid">
  <div class="span4 offset4">

    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :login %>
      <%= f.text_field :login %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <br />
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>

<%
  cookies.each { |k,v| 
    if k != "_bioturk_#{Rails.env}_session".to_sym
      cookies.delete k 
    end
  }
%>