<% if params[:msg] %>
  <div class="container-fluid">
    <div class='alert'>
      <%= params[:msg] %>
    </div>
  </div>
<% end %>

<h1>Welcome to the Aquarium</h1>

<br />

<div class="row-fluid">

  <div class="span4 offset4">

    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :login %>
      <%= f.text_field :login %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <br />
      <br />
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>

<%
  cookies.each { |k,v| 
    if k != "_aquarium_#{Rails.env}_session" && k != "location"
      cookies.delete k
    end
  }
%>