<div class='row-fluid'>

  <div class='span3'>

    <ul class="nav nav-list sample-nav" id="tabs">

      <li class="nav-header">Containers</li>

      <% first = true %>

      <% sample_type.object_types.each do |ot| %>

        <% name = pluralize(2,ot.name)[2..-1] 
           link = name.gsub(/\//,"per").gsub(/ /, '_') %>

        <li <%= first ? "class='active'".html_safe : "".html_safe %> id="<%= link %>-li">
          <a href="#<%= link %>" data-toggle="tab"><%= name %><span class='sample-item-num' id="<%= link %>-num"></span></a>
        </li>

        <% first = false %>

      <% end %>

      <li class="nav-header">Associations</li>

      <li id='collections-li'>
        <a href="#collections" data-toggle="tab">Collections<span class='sample-item-num' id='collections-num'></span></a>
      </li>

      <li id='tasks-li'>
        <a href="#tasks" data-toggle="tab">Tasks<span class='sample-item-num' id='tasks-num'></span></a>
      </li>

    </ul>

  </div>

  <div class='span9'>

    <div class='tab-content details'>

      <% first = true %>

      <% sample_type.object_types.each do |ot| %>

        <% name = pluralize(2,ot.name)[2..-1] 
           link = name.gsub(/\//,"per").gsub(/ /, '_') %>

        <div <%= first ? 'class="sample-item-tab tab-pane active"'.html_safe : 
                         'class="sample-item-tab tab-pane"'.html_safe %> id='<%= link %>'>

          <%= render partial: 'item_list', locals: { object_type: ot, sample: @sample }  %>
          
            <% wiz = Wizard.find_by_name(ot.prefix) %>

            <% if wiz %>
              <p><%= name %> are managed by the <%= link_to wiz.name, wiz %> wizard.</p>
            <% end %>

          <%= render partial: '/samples/new_item', locals: { object_type: ot, sample: @sample, wizard: wiz } %>

        </div>

        <% first = false %>

      <% end %>

      <div class="sample-item-tab tab-pane" id="collections">
        <div id='collections-container'>
          <%= render partial: 'collections', locals: { sample: sample } %>
        </div>
        <div id='collections-empty' style='display: none'>
          <p>No known collections are associated with this sample.</p>
        </div>
      </div>

      <div class="sample-item-tab tab-pane" id="tasks">
        <div id='tasks-container'>
          <%= render partial: 'tasks', locals: { sample: sample } %>
        </div>
        <div id='tasks-empty' style='display: none'>
          <p>No processed tasks are associated with this sample.</p>
          <p><b>Note:</b> Tasks that have yet to be processed by a job or metacol are not shown here.</p>
        </div>
      </div>      

    </div>

  </div>

</div>

<script>
  $(function() {

    $(".nav-list").bind('click',function(e) {
      var href = $(e.target).attr('href');
      if ( href && href.length > 0 ) {
        var name = href.substr(1);
        $.cookie("sample-<%= @sample.id %>-active-section",name);
      }
    });

    var tab = $.cookie("sample-<%= @sample.id %>-active-section");

    if ( tab ) {
      $('#'+tab+"-li a").tab('show');
    } else {
      $('#tabs a:first').tab('show');
    }

  });

</script>
