<%= form_for(@sample) do |f| %>
  <% if @sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
      <% @sample.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class='row-fluid'>

    <div class='span3'>    

     <label>Name</label>
     <%= f.text_field :name %>

   </div><div class='span3'>    

    <label>Project </label>
    <%= f.text_field :project %>

   </div><div class='span3'>    

     <label>Owner</label>
     <%= f.select( :user_id, User.all.collect { |u| [ u.login, u.id ] } ) %>

   </div><div class='span3'>    

     <div style='display: none'>
       <label>Type</label>
       <%= f.select( :sample_type_id, SampleType.all.collect { |st| [ st.name, st.id ] } ) %>
     </div> 

   </div>

  </div>

  <hr />

    <% if @sample_type.field1name != '' %>
      <label><%= @sample_type.field1name %></label>
      <%= f.text_field :field1 %>
    <% end %>

    <% if @sample_type.field2name != '' %>
      <label><%= @sample_type.field2name %></label>
      <%= f.text_field :field2 %>
    <% end %>

    <% if @sample_type.field3name != '' %>
      <label><%= @sample_type.field3name %></label>
      <%= f.text_field :field3 %>
    <% end %>

    <% if @sample_type.field4name != '' %>
      <label><%= @sample_type.field4name %></label>
      <%= f.text_field :field4 %>
    <% end %>

  <hr />

  <div class="actions">
    <%= f.submit "Save Sample Information", class: 'btn' %>
  </div>

<% end %>
