<div ng-app="aquarium" 
     ng-controller="sampleEditCtrl" 
     ng-init="info = { stid: <%= @sample_type.id %>, sid: <%= @sample.id ? @sample.id : 0 %> }"
     class='sample-type-edit'>

  <%= render partial: '/samples/templates/field_input' %>
  <%= render partial: '/samples/templates/orphan_field' %>  

  <h3>
    <span class='light'>
      {{mode == 'edit' ? 'Edit' : 'New'}}
      {{sample.sample_type.name}}
      {{sample.id}} :
    </span>
    {{sample.name}}
  </h3>

  <p>{{sample.sample_type.description}}</p>

  <div class='alert alert-error' ng-if="errors.length > 0">
    <button type="button" class="close" ng-click="clear_errors()">&times;</button>
    <h4>Error(s)</h4>
    <ul>
      <li ng-repeat="e in errors">{{e}}</li>
    </ul>
  </div>

  <div class='alert alert-success' ng-if="messages.length > 0">
    <button type="button" class="close" ng-click="clear_messages()">&times;</button>
    <h4>Message(s)</h4>
    <ul>
      <li ng-repeat="m in messages">{{m}}</li>
    </ul>
  </div>  

  <div ng-if="!ready">
    <p>Loading...</p>
  </div>

  <div ng-if="ready">

    <div class='row-fluid'>

      <div class='span3'>

        <h4>Name</h4>
        <input ng-model='sample.name' type=text class="full bordered tall">

        <h4>Project</h4>
        <input ng-model='sample.project' type=text class="full bordered tall">

        <h4>Description</h4>
        <textarea ng-model='sample.description' type=text rows=4 class="bordered"></textarea>

      </div>

      <div class='span9'>

        <h4>Properties</h4>

        <table style="table-layout: fixed">

          <tr ng-repeat="ft in sample.sample_type.field_types">

            <!-- NAME /////////////////////////////////////////////////////////////// -->
            <td>
              <b>{{ft.name}}</b>
            </td>

            <!-- TYPE /////////////////////////////////////////////////////////////// -->

            <td ng-if="ft.ftype == 'sample'">
              <span ng-repeat="aft in ft.allowable_field_types track by $index">
                <a href="/sample_types/{{aft.sample_type.id}}">{{aft.sample_type.name}}</a> 
                <span ng-if="!$last">|</span>
              </span>
              <span ng-if="ft.required" class="light">(required)</span>         
            </td>

            <td ng-if="ft.ftype != 'sample' && ft.ftype != 'item'">
              {{ft.ftype}}
              <span ng-if="ft.required" class="light">(required)</span>
            </td>

            <!-- VALUE ////////////////////////////////////////////////////////////// -->

            <td style='width: 3%'>
              <a href="#" 
                 ng-if="ft.array"
                 ng-click="add_to_array(ft)"><i class='icon-plus'></i></a>
            </td>            

            <td ng-include="'field_input'" style="width: 60%"></td>     

          </tr>

          <tr ng-repeat="fv in sample.field_values"
              ng-if="fv.orphan && !fv.deleted"
              ng-include="'orphan_field'">
          </tr>

        </table>

      </div>

    </div>

    <br />

    <button class='btn btn-primary' ng-click="save()" ng-disabled="changes <= 0">Save</button> 
    <%= link_to 'Cancel', samples_path(sample_type_id:@sample_type.id), class: 'btn' %> 

    <br /><br />

    <div ng-if="legacy()">
      <hr />
      <h4>Legacy Fields</h4>
      <div ng-repeat="i in eight">
        <b>{{i}}. {{sample.sample_type['field'+i+'name']}}: </b>
           {{sample['field'+i]}}
      </div>
    </div>

  </div>



   <!-- <pre>{{sample|json}}</pre> -->

</div>

<br />