<% if item.inuse > 0
     c = 'item-in-use'
   else
     c = 'item-available'
    end %>

<div class='sample-item <%= c %>' id='sample-item-<%= item.id %>'>

  <div class='id'>
     <%= link_to item.id, item %>
     <a href="#" onclick='toggle_change_details_form(<%= item.id %>)'><i id='icon-<%= item.id %>' class='icon-chevron-down'></i></a>
  </div>

  <div class='loc' id='sample-item-loc-<%= item.id %>'>
    <%= item.location %>
  </div>

  <div class='changeloc' id='sample-item-loc-edit-<%= item.id %>'>
    <%= render partial: '/samples/update_item', locals: { item: item } %>
  </div>

  <div class='use'>
    <%= item.inuse > 0 ? 'in use' : 'available' %>
    <%= link_to sample_path(@sample,toggle: item.id) do %>
      <i class='icon-refresh'></i>
    <% end %>
  </div>
  
  <div class='delete'>
    <%= link_to sample_path(@sample,delete: item.id), data: { 
            confirm: "Are you sure you want to delete this sample of #{@sample.name}?" 
    } do %>
      <i class='icon-remove'></i>
    <% end %>
  </div>

</div>


