<p id="notice"><%= notice %></p>

<h1><%= @sample_type.name %>: <%= @sample.name %></h1>

<p>
  <b>Owner:</b>
  <%= @sample.user.login %>
</p>

<p> 
  <b>Project:</b>
  <%= @sample.project %>
</p>

<% if @sample_type.field1name != '' %>
  <p><b><%= @sample_type.field1name %>:</b>
      <%= @sample.field1 %></p>
<% end %>

<% if @sample_type.field2name != '' %>
  <p><b><%= @sample_type.field2name %>:</b>
      <%= @sample.field2 %></p>
<% end %>

<% if @sample_type.field3name != '' %>
  <p><b><%= @sample_type.field3name %>:</b>
      <%= @sample.field3 %></p>
<% end %>

<% if @sample_type.field4name != '' %>
  <p><b><%= @sample_type.field4name %>:</b>
      <%= @sample.field4 %></p>
<% end %>


<%= link_to 'Edit', edit_sample_path(@sample), class: 'btn' %> 
<%= link_to 'Back', samples_path, class: 'btn' %>
