<% provide(:title, @sample_type.name + '|' + @sample.name ) %>

<h1><%= @sample_type.name %> <%= @sample.id %><br /><%= @sample.name %></h1>

<div class='row-fluid'>

  <div class='span6'>

    <p>
      <b>Description:</b>
      <%= @sample.description %>
    </p>

    <p>
      <b>Owner:</b>
      <%= @sample.user.login %>
    </p>

    <p> 
      <b>Project:</b>
      <%= link_to @sample.project, project_url(name: @sample.project) %>
    </p>

      <ul class='list'>
        <% (1..8).each do |i| 
           fn = "field#{i}name".to_sym
           ft = "field#{i}type".to_sym 
            f = "field#{i}".to_sym %>
           <% if @sample_type[ft] != 'not used' && @sample_type[ft] !=nil %>

            <li><%= @sample_type[fn] %>: 
             
            <% if @sample[f] != nil %>

	      <% if @sample_type[ft] == 'url' %>
                <a href='<%= @sample[f] %>'><%= @sample[f][0..100] %></a>
	      <% elsif @sample_type[ft] == 'number' %>
		<%= @sample[f] %>
	      <% elsif @sample_type[ft] == 'string' %>
		<%= @sample[f] %>
	      <% elsif @sample[f] == '-none-' %>
                 -
	      <% else %>
		<%= link_to @sample[f], Sample.find_by_name(@sample[f]) %>
	      <% end %>

            <% else %>
              - 
            <% end %>

            </li>

          <% end %>

        <% end %>
      </ul>

  </div><div class='span3'></div><div class='span3 well'>
      <i class='icon-chevron-down'></i> Show details</br>
      <i class='icon-shopping-cart'></i> Add to cart</br>
      <i class='icon-refresh'></i> Toggle availability</br>
      <i class='icon-remove'></i> Delete the item</br>
    </p>
  </div>

</div>

<hr />

<% @sample_type.object_types.each do |ot| %>
  <div class='sample-object'>
    <h4><%= link_to pluralize(2,ot.name)[2..-1], ot %></h4>
    <!-- WARNING: I THINK THIS REJECT IS SLOW COMPARED TO SOME KIND OF --
      -- DB QUERY                                                      -->
    <% (ot.items.reject { |i| i.sample_id != @sample.id || i.quantity < 0 } ).each do |i| %>
      <%= render partial: '/samples/item', locals: { item: i } %>
    <% end %>
    <br />
    <%= render partial: '/samples/new_item', locals: { object_type: ot, sample: @sample } %>
  </div>
  <hr />
<% end %>

<%= link_to "Edit #{@sample_type.name} Information", edit_sample_path(@sample), class: 'btn' %> 
<%= link_to 'Back to List', samples_path(sample_type_id: @sample.sample_type_id), class: 'btn' %>

<script>

 window.history.replaceState ( null, '', '/samples/<%= @sample.id %>' );

 function toggle_change_details_form(i) {

   a = document.getElementById('sample-item-loc-'+i);
   b = document.getElementById('sample-item-loc-edit-'+i);
   c = document.getElementById('sample-item-'+i);
   d = document.getElementById('icon-'+i);

   if ( a.style.display == 'none' ) {
     a.style.display = 'block';
     b.style.display = 'none';
     c.style.width = '100px';
     d.className = 'icon-chevron-down';
   } else {
     a.style.display = 'none';
     b.style.display = 'block';
     c.style.width = '215px';
     d.className = 'icon-chevron-up';
   }

  }

  function turn_on_submit_button(i) {
     document.getElementById('submit-'+i).disabled = false;
  }

  <% if params[:active_item] %>
    toggle_change_details_form(<%= params[:active_item] %>);
  <% end %>

</script>
