<% provide(:title, @sample_type.name + '|' + @sample.name ) %>

<div class='sample-title-box'>
  <h1><span class='sample-id'><%= @sample_type.name %> <%= @sample.id %>:</span>
      <% if @sample.name.length > 30 %>
        <br />
      <% end %>
      <span class='sample-title'><%= @sample.name %></span>
  </h1>

  <div class='row-fluid' style='position: relative'>

    <div class='span3'>
      <ul>
        <% if @sample.description && @sample.description != "" %>
          <li><b>Description:</b> <%= @sample.description %></li>
        <% end %>      
        <li>
          <b>Owner:</b>
          <%= @sample.user ? link_to( @sample.user.login, @sample.user ) : 'unknown' %>
        </li>
        <li> 
          <b>Project:</b>
          <%= link_to @sample.project, project_url(name: @sample.project) %>
        </li>
        <li> 
          <b>Created:</b>
          <%= @sample.created_at.to_formatted_s(:long) %> 
        </li>
        <% if @sample.created_at != @sample.created_at %>
          <li> 
            <b>Updated:</b>
            <%= @sample.updated_at.to_formatted_s(:long) %> 
          </li>
        <% end %>
      </ul>
    </div>

    <div class='span6'>
      <%= render partial: 'sample_info', locals: {
        sample: @sample,
        sample_type: @sample_type
      }
      %>
    </div>

    <div class='span3'>
      <div style='position: absolute; bottom: 0; right: 0'>

        <%= 
          render partial: '/posts/discussion', locals: { 
          topic: @sample,
          button_class: 'btn-small' } 
        %>

        <%= link_to "Edit", edit_sample_path(@sample), class: 'btn btn-small btn-primary' %> 
        <%= link_to 'All', samples_path(sample_type_id: @sample.sample_type_id), class: 'btn btn-small' %>  

        <label class="checkbox" style='margin-top: 5px'>
          <input type='checkbox' 
                  id='show-deleted' 
                  <% if params[:show_deleted] %>
                    checked
                  <% end %>
          /> Show Deleted
        </label>

      </div>
    </div>

  </div>

</div>

<br />

<div class='sample-items'>
  <%= render partial: 'containers', locals: { sample_type: @sample_type, sample: @sample } %>
</div>

<script>

 // window.history.replaceState ( null, '', '/samples/<%= @sample.id %>' );

 function toggle_change_details_form(i) {

   a = document.getElementById('sample-item-loc-'+i);
   b = document.getElementById('sample-item-loc-edit-'+i);
   c = document.getElementById('sample-item-'+i);
   d = document.getElementById('icon-'+i);

   if ( a.style.display == 'none' ) {
     a.style.display = 'block';
     b.style.display = 'none';
     c.style.width = '100px';
     d.className = 'icon-chevron-down';
   } else {
     a.style.display = 'none';
     b.style.display = 'block';
     c.style.width = '215px';
     d.className = 'icon-chevron-up';
   }

  }

  function turn_on_submit_button(i) {
    document.getElementById('submit-'+i).disabled = false;
  }

  <% if params[:active_item] %>
    toggle_change_details_form(<%= params[:active_item] %>);
  <% end %>

  $(function() {
    $('#show-deleted').click(function() {
      if ( $("#show-deleted").is(':checked') ) {
        window.location = "/samples/<%= @sample.id %>?show_deleted=true";
      } else {
        window.location = "/samples/<%= @sample.id %>";     
      }
    });
  });

</script>
