<div ng-app="tree" class='sample-tree'>

  <div id="tree-control" ng-controller='treeCtrl as tree'>

    <!-- TEMPLATES -->
    <%= render partial: "samples/tree_partials/sample_router" %>
    <%= render partial: "samples/tree_partials/sample" %>
    <%= render partial: "samples/tree_partials/form" %>

    <div class='row-fluid'>
      <div class='span3 tree-nav'>
        <%= render partial: "samples/tree_partials/sample_navigator" %> 
        <%= render partial: "samples/tree_partials/new_sample_navigator" %>   
      </div>
      <div class='span9 viewer'>
        <%= render partial: "samples/tree_partials/new_samples" %>
        <%= render partial: "samples/tree_partials/samples" %>
      </div>
    </div>

  </div>

</div>