<h3>Add to inventory</h3>

  <% if @object_type.handler == 'sample_container' %>

    <p>Use the sample interface to add inventory for this object type.</p>

  <% elsif @object_type.collection_type? %>

    <%= form_for([@object_type, @object_type.items.build]) do |f| %>

       <%= f.label :location %>
       <%= f.text_field :location, value: "" %>
       <%= f.label :rows %>
       <%= f.text_field :rows, value: 1 %>
       <%= f.label :columns %>
       <%= f.text_field :cols, value: 1 %><br />
       <%= f.submit class: "btn btn-small", value: "Add"  %>

    <% end %>

  <% else %>

    <%= form_for([@object_type, @object_type.items.build]) do |f| %>

       <%= f.label :location %>
       <%= f.text_field :location, value: "" %>
       <br />
       <%= f.label :quantity %>
       <%= f.number_field :quantity, value: 0 %>
       <br />

       <%= f.submit class: "btn btn-small", value: "Add"  %>

    <% end %>

  <% end %>

