<h3>Add to inventory</h3>

<% if @object_type.handler != 'sample_container' %>

  <%= form_for([@object_type, @object_type.items.build]) do |f| %>

        <%= f.label :location %>
        <%= f.text_field :location %>
     <br />
         <%= f.label :quantity %>
         <%= f.number_field :quantity, value: 0 %>
     <br />
    <%= f.submit class: "btn btn-small", value: "Add"  %>

  <% end %>

<% else %>

  Use the sample interface to add inventory for this object type.

<% end %>
