<p><b>Description: </b><%= @object_type.description %></p>
<p><b>Min/Max:</b>     <%= @object_type.min %>/<%= @object_type.max %></p>
<p><b>Unit: </b>       <%= @object_type.unit %> (<%= number_to_currency(@object_type.cost)%> each)</p>
<p><b>Handler: </b>    <%= @object_type.handler %></p>
<p><b>Release(<%= @object_type.release_method.capitalize %>): </b><%= @object_type.release_description %></p>
<p><b>Safety: </b>     <%= @object_type.safety %></p>
<p><b>Cleanup: </b>    <%= @object_type.cleanup %></p>
<p><b>Data: </b>       <%= @object_type.data %></p>
<p><b>Vendor: </b>     <%= @object_type.vendor %></p>
