<% if  @object_type.sample? %>
  <div class='alert alert-info'>
    <p>Objects of this type contain samples of type
       <b><%= link_to @sample_type.name, @sample_type %></b>. <br />
       Description: <%= @sample_type.description %>
    </p>
  </div>
<% end %>

<ul class='list'>
<li><b>Description: </b><%= @object_type.description %></li>
<li><b>Min/Max:</b>     <%= @object_type.min %>/<%= @object_type.max %></li>
<li><b>Unit: </b>       <%= @object_type.unit %>(<%= number_to_currency(@object_type.cost)%> each)</li>

<% unless  @object_type.sample? %>
  <li><b>Handler: </b>
    <% if @object_type.collection_type? %>
      <%= @object_type.rows %>&times;<%= @object_type.columns %>
    <% end %>
    <%= @object_type.handler %>
  </li>
<% end %>

<li><b>Release(<%= @object_type.release_method.capitalize %>): </b><%= @object_type.release_description %></li>
<li><b>Safety: </b>     <%= @object_type.safety %></li>
<li><b>Cleanup: </b>    <%= @object_type.cleanup %></li>

<li><b>Data: </b>       <%= @object_type.data %>
  <% if @object_type.data_object != {} %>
    <p style="color: green">(Parsed as JSON)</p>
  <% else %>
    <p style="color: red">(Could not parse as JSON)</p>
  <% end %>
</li>

<li><b>Vendor: </b>     <%= @object_type.vendor %></li>
<li><b>Location Prefix: </b>     <%= @object_type.prefix %></li>
</ul>
