<%= form_for(@object_type) do |f| %>
  <% if @object_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@object_type.errors.count, "error") %> prohibited this object_type from being saved:</h2>

      <ul>
      <% @object_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new-object">
  <div class="field" id="name">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field" id="description">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field" id="min">
    <%= f.label :min %><br />
    <%= f.number_field :min %>
  </div>
  <div class="field" id="max">
    <%= f.label :max %><br />
    <%= f.number_field :max %>
  </div>
  <div class="field" id="unit">
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </div>
  <div class="field" id="cost">
    <%= f.label 'Cost per unit' %><br />
    <div class="input-prepend">
      <span class="add-on">$</span>
        <%= f.text_field :cost, class:'span2' %>
      </span>
    </div>
  </div>
  <div class="field" id="handler">
    <%= f.label :handler %><br />
    <%= f.text_field :handler %>
  </div>

  <%
    s1 = "<option value='return'  #{@object_type[:release_method] == 'return' ? ' selected' : ' '}>Return</option>";
    s2 = "<option value='dispose' #{@object_type[:release_method] == 'dispose' ? ' selected' : ' '}>Dispose</option>";
    s3 = "<option value='query'   #{@object_type[:release_method] == 'query' ? ' selected' : ' '}>Query</option>";
    s = s1+s2+s3;
  %>

  <div class="field" id="release_method">
    <%= f.label 'Release method' %><br />
    <%= select_tag('object_type[[release_method]', s.html_safe ) %>
  </div>

  <ul class="nav nav-tabs" id="detail_tabs">
    <li><a href="#release_description" data-toggle="tab">Resease Description</a></li>
    <li><a href="#safety" data-toggle="tab">Safety</a></li>
    <li><a href="#cleanup" data-toggle="tab">Cleanup</a></li>
    <li><a href="#data" data-toggle="tab">Data</a></li>
    <li><a href="#vendor" data-toggle="tab">Vendor</a></li>
  </ul>

  <div class="tab-content">

  <div class="tab-pane active" id="release_description">
    <div class="field">
      <%= f.text_area :release_description %>
    </div></div>

  <div class="tab-pane active" id="safety">
    <div class="field">
      <%= f.text_area :safety %>
    </div></div>

  <div class="tab-pane" id="cleanup">
    <div class="field">
      <%= f.text_area :cleanup %>
  </div></div>

  <div class="tab-pane" id="data">
    <div class="field">
      <%= f.text_area :data %>
  </div></div>

  <div class="tab-pane" id="vendor">
    <div class="field">
      <%= f.text_area :vendor %>
  </div></div>

  </div>

  <div class="field" id="image">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

<script>
  $(function () {
    $('#detail_tabs a:first').tab('show');
  })
</script>

  <div class="actions">
    <%= f.submit class: "btn btn-small" %>
  </div>

  </div>
<% end %>
