<%= form_for(@object_type) do |f| %>
  <% if @object_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@object_type.errors.count, "error") %> prohibited this object_type from being saved:</h2>

      <ul>
      <% @object_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='new-object'>
  <div class='row-fluid'>

    <div class="span3">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'span12' %>
    </div>

    <div class="span7" >
      <%= f.label :description %>
      <%= f.text_field :description, class: 'span12' %>
    </div>

    <div class="span2" >
      <%= f.label 'Location Prefix' %>
      <%= f.text_field :prefix, class: 'span12' %>
    </div>

  </div>

  <div class='row-fluid'>

    <div class="span1">
      <%= f.label :min %>
      <%= f.number_field :min, class: 'span12' %>
    </div>

    <div class="span1">
      <%= f.label :max %>
      <%= f.number_field :max, class: 'span12' %>
    </div>

    <div class="span2"<%= @sample_type ? "style='display:none'".html_safe : '' %>>
      <%= f.label :unit %>
      <%= f.text_field :unit, class: 'span12' %>
    </div>

    <div class="span2">
      <%= f.label 'Cost per unit' %>
      <div class="input-prepend">
        <span class="add-on">$</span>
          <%= f.text_field :cost, class: 'span10' %>
        </span>
      </div>
    </div>

    <div class="span2" id="handler" <%= @sample_type ? "style='display:none'".html_safe : '' %>>
      <%= f.label :handler %>
      <%= f.text_field :handler, class: 'span12', onchange: 'check_if_sample_container()', onkeypress: 'this.onchange()',
      onpaste: 'this.onchange()', oninput: 'this.onchange()' %>
    </div>

    <%
      s1 = "<option value='return'  #{@object_type[:release_method] == 'return' ? ' selected' : ' '}>Return</option>";
      s2 = "<option value='dispose' #{@object_type[:release_method] == 'dispose' ? ' selected' : ' '}>Dispose</option>";
      s3 = "<option value='query'   #{@object_type[:release_method] == 'query' ? ' selected' : ' '}>Query</option>";
      s = s1+s2+s3;
    %>

    <div class="span2" >
      <%= f.label 'Release method' %>
      <%= select_tag('object_type[[release_method]', s.html_safe, class: 'span12') %>
    </div>

  </div>

  <div id='sample_type_selector' style='display: none'>Sample type selector</div>

  <br />

  <ul class="nav nav-tabs" id="detail_tabs">
    <li><a href="#release_description" data-toggle="tab">Resease Description</a></li>
    <li><a href="#safety" data-toggle="tab">Safety</a></li>
    <li><a href="#cleanup" data-toggle="tab">Cleanup</a></li>
    <li><a href="#data" data-toggle="tab">Data</a></li>
    <li><a href="#vendor" data-toggle="tab">Vendor</a></li>
  </ul>

  <div class="tab-content">

  <div class="tab-pane active" id="release_description">
    <div class="field">
      <%= f.text_area :release_description %>
    </div></div>

  <div class="tab-pane active" id="safety">
    <div class="field">
      <%= f.text_area :safety %>
    </div></div>

  <div class="tab-pane" id="cleanup">
    <div class="field">
      <%= f.text_area :cleanup %>
  </div></div>

  <div class="tab-pane" id="data">
    <div class="field">
      <%= f.text_area :data %>
  </div></div>

  <div class="tab-pane" id="vendor">
    <div class="field">
      <%= f.text_area :vendor %>
  </div></div>

  </div>

  <div class="field" id="image">
     <label>Image name
     from <a href='http://bioturk.ee.washington.edu:3012/folders/2'
     target="_blank">Angler</a>. Do not include the file type
     (e.g. .jpg, .gif, etc.) in the name.</label>
     <%= f.text_field :image, class: 'span12' %>
  </div>

  <% if @sample_type %>
      <%= f.text_field :sample_type_id, style: 'display:none' %>
  <% end %>

  <script>
    $(function () {
      $('#detail_tabs a:first').tab('show');
    })
  </script>

  <br />

  <div class="actions">
    <%= f.submit class: "btn" %>
  </div>
  
  <br />

  <script>
    function check_if_sample_container() {
      var d = document.getElementById('sample_type_selector');
      if ( document.getElementById('object_type_handler').value == 'sample_container' ) {
        d.style.display = 'block';
        txt = '<%= f.label :sample_type %><select id="object_type_sample_type_id" name="object_type[sample_type_id]">';
        <% SampleType.all.each do |st| %>
          txt += '<option value=<%= st.id %>><%= st.name.downcase %></option>';
        <% end %>
        d.innerHTML = txt + '</select>';
        console.log('asd');
      } else {
        d.style.display = 'none';
        d.innerHTML = "";
      }
    }
  </script>

<% end %>
