<% provide(:title,  'Containers') %>

<% content_for :controller do %>noCtrl<% end %>

<% content_for :class do %>object-types<% end %>

<% content_for :sidebar do %>
  <% flash.each do |key, value| %>
    <div class='flash md-body-2'><%= value %></div>
  <% end %>
  <md-list ng-init="status.handler = '<%= @first %>'" class='md-compact-list'>
    <% @all_handlers.sort.each do |u| %>
      <md-list-item ng-click="status.handler = '<%= u %>'"
                    ng-class="status.handler == '<%= u %>' ? 'md-body-2 selected' : 'md-body-2'"><%= u %></md-list-item>
    <% end %>
  </md-list>
<% end %>

<% content_for :specific_title do %>
  &rang; {{status.handler}}
<% end %>

<% content_for :main do %>

  <div layout-padding>

    <table class="table table-fixed"> 

      <tr>
        <th>Name</th>
        <th>Description</th>
        <% if @handler == 'collection' %>
          <th>Collection Dimensions</th>
        <% end %>
        <th></th>
        <th></th>    
      </tr>

      <% @object_types.each do |object_type| %>

        <tr ng-if="status.handler == '<%= object_type.handler %>'">

          <td><a href="#" ng-click="status['ot<%= object_type.id %>'] = !status['ot<%= object_type.id %>']"><%= object_type.name %></a></td>

          <td>

            <%= object_type.description %>

            <div ng-if="status['ot<%= object_type.id %>']">

              <% if  object_type.handler == 'sample_container' %>
                <div>
                  <p>Objects of this type contain samples of type
                     <b><%= object_type.sample_type ? object_type.sample_type.name : '?' %></b>:
                     <%= object_type.sample_type ? object_type.sample_type.description : '?' %>
                  </p>
                </div>
              <% end %>

              <ul>
                <li><b>Min/Max:</b>     <%= object_type.min %>/<%= object_type.max %></li>
                <li><b>Unit: </b>       <%= object_type.unit %>(<%= number_to_currency(object_type.cost)%> each)</li>

                <% unless  object_type.handler == 'sample_container' %>
                  <li><b>Handler: </b>
                    <% if object_type.handler == 'collection' %>
                      <%= object_type.rows %>&times;<%= object_type.columns %>
                    <% end %>
                    <%= object_type.handler %>
                  </li>
                <% end %>

                <li><b>Release(<%= object_type.release_method.capitalize %>): </b><%= object_type.release_description %></li>
                <li><b>Safety: </b>     <%= object_type.safety %></li>
                <li><b>Cleanup: </b>    <%= object_type.cleanup %></li>

                <li><b>Data: </b>       <%= object_type.data %>
                  <% if object_type.data_object != {} %>
                    <p style="color: green">(Parsed as JSON)</p>
                  <% else %>
                    <p style="color: red">(Could not parse as JSON)</p>
                  <% end %>
                </li>

                <li><b>Vendor: </b>     <%= object_type.vendor %></li>
                <li><b>Location Prefix: </b>     <%= object_type.prefix %></li>
              </ul>
            
            </div>

          </td>

          <% if @handler == 'collection' %>
            <td><%= object_type.rows %>&times;<%= object_type.columns %></th>
          <% end %>

          <td><%= link_to 'Edit', edit_object_type_path(object_type) %></td>

          <td>            
            <%= link_to object_type, method: :delete, data: {confirm: 'Are you sure you want to delete this object type??' } do %>
              <icon class='icon-remove'></icon>
            <% end %>
          </td>

        </tr>

      <% end %>

    </table>

  </div>

<% end %>

<% content_for :action1 do %>
  <%= link_to 'New', new_object_type_path, class: "md-button md-raised" %>
<% end %>
