<h1>Objects</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Range</th>
    <th>Handler</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @object_types.each do |object_type| %>
  <tr>
    <td><%= object_type.name %></td>
    <td><%= object_type.description %></td>
    <td>
      <% if object_type.quantity < object_type.min %>
        <span class="text-error">
      <% else %>
        <span class="text-success">
      <% end %>
      <%= pluralize( object_type.quantity, object_type.unit ) %>
      </span>
    </td>
    <td><%= "[" + object_type.min.to_s + ", " + object_type.max.to_s + "]" %></td>
    <td><%= object_type.handler %></td>
    <td><%= link_to 'Show', object_type %></td>
    <td><%= link_to 'Edit', edit_object_type_path(object_type) %></td>
    <td><%= link_to 'Destroy', object_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Object type', new_object_type_path %>
