<% provide(:title,  'Inventory') %>

<h1>Objects</h1>



<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <% if @handler == 'collection' %>
      <th>Collection Dimensions</th>
    <% end %>
    <th>Quantity</th>
    <th>Range</th>
    <th><span class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @handler %><b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <% @all_handlers.sort.each do |u| %>
        <li><%= link_to u, '/object_types?handler=' + u %></li>
      <% end %>
    </ul>
  </span>
  </th>
    <th></th>
  </tr>

<% @object_types.each do |object_type| %>
  <tr>
    <td><%= link_to object_type.name, object_type %></td>
    <td><%= object_type.description %></td>
    <% if @handler == 'collection' %>
      <td><%= object_type.rows %>&times;<%= object_type.columns %></th>
    <% end %>
    <td>
      <% if object_type.quantity < object_type.min %>
        <span class="text-error">
      <% else %>
        <span class="text-success">
      <% end %>
      <%= pluralize( object_type.quantity, object_type.unit ) %>
      </span>
    </td>
    <td><%= "[" + object_type.min.to_s + ", " + object_type.max.to_s + "]" %></td>
    <td><%= object_type.handler %></td>
    <td><%= link_to 'Edit', edit_object_type_path(object_type) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Object type', new_object_type_path, class: "btn" %>
