<h1><%= @object_type.name %></h1>

<div class="row">

<div class="span3">
  <div class="object-image">
    <%= image_tag @object_type.image.url(:medium) %>
  </div>
</div>

<div class="span8">

<div class="object-description">

  <p><b>Description: </b><%= @object_type.description %></p>
  <p><b>Min: </b>        <%= @object_type.min %></p>
  <p><b>Max: </b>        <%= @object_type.max %></p>
  <p><b>Unit: </b>       <%= @object_type.unit %></p>
  <p><b>Handler: </b>    <%= @object_type.handler %></p>
  <p><b>Safety: </b>     <%= @object_type.safety %></p>
  <p><b>Cleanup: </b>    <%= @object_type.cleanup %></p>
  <p><b>Data: </b>       <%= @object_type.data %></p>
  <p><b>Vendor: </b>     <%= @object_type.vendor %></p>
</div>

</div>

</div>

  <div class="row">

  <div class="span7">

  <div id="current-inventory">

    <h3>Current Inventory</h3>
    <table class="table itemtable">
      <tr>
        <th>ID</th>
        <th>Location</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    <% @object_type.items.each do |i| %>
      <tr>
        <td><%= "%05d" % i.id %></td>
        <td><%= i.location %></td>
        <td>
          <%= form_tag(raw "/item?id="+i.id.to_s+"&oid="+@object_type.id.to_s) %>
            <input name="quantity" 
                   class="small-input" 
                   type="number" 
                   value=<%= i.quantity %>></input>
            <input type="submit" name="quantity_update" 
                   class="btn btn-small" value="update"></input>
          </form>
        </td>
        <td><%= link_to "delete", [@object_type, i], method: :delete, 
                                  data: { confirm: "Really delete item?" } %></td>
      </tr>
    <% end %>
    </table>
  </div>

  </div>
  <div class="span4">

  <div id="add-to-inventory">
    <h3>Add to inventory</h3>
    <%= form_for([@object_type, @object_type.items.build]) do |f| %>
      <div class="field">
        <%= f.label :location %>
        <%= f.text_field :location %>
      </div>
      <div class="field">
        <%= f.label :quantity %>
        <%= f.number_field :quantity, value: 0 %>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-small" %>
      </div>
    <% end %>
  </div>

  </div>
  </div>

  <div class="span12">
<%= link_to 'Edit', edit_object_type_path(@object_type) %> |
<%= link_to 'Back', object_types_path %>
  </div>
  </div>

