<% provide(:title, @object_type.name) %>

<h1><%= @object_type.name %></h1>

<div class="row-fluid">

  <div class="span3 object-image">
    <%= image_tag @object_type.image.url(:medium) %>
  </div>

  <div class="span9 object-description">
    <%= render 'description' %>
  </div>

</div>

<br />

<div class="row-fluid">

  <div class="span8 current-inventory">
    <%= render 'current_inventory' %>
  </div>

  <div class="span4 add-to-inventory">
    <%= render 'add_inventory' %>
  </div>

</div>

<br />

<%= link_to 'Edit Object Type', edit_object_type_path(@object_type), class: "btn" %>

<% if @object_type.handler == 'sample_container' %>
  <%= link_to 'Done', @object_type.sample_type, class: "btn" %>
<% else %>
  <%= link_to 'Done', object_types_path, class: "btn" %>
<% end %>
