<% protocol = ProtocolSummary.new({ protocol: @job.path }) %>

<div class='krill-log-summary'>

  <h2 class="md-title md-no-sticky">
    Summary
  </h2>

  <p layout-padding>

    Submitted by <a href='/users/<%= @submitter.id %>'><%= @submitter.name %></a><br>
    For group <a href='/groups/<%= @group.id %>'><%= @group.name %></a><br>

    <% if @performer %>
      Performed by <a href='/users/<%= @performer.id %>'><%= @performer.name %></a><br>
    <% end %>

    Submitted <%= @job.created_at.to_formatted_s(:long) %><br>

    <% if @job.pc == Job.COMPLETED %>
      Completed <%= @job.updated_at.to_formatted_s(:long) %>
    <% elsif @job.pc == Job.NOT_STARTED %>
      Pending
    <% else %>
      Running
    <% end %>

  </p>

  <h2 class="md-title md-no-sticky">
    Operations

  </h2>

  <div flex=100 class='user-op-stats'>
    <oplist-short operationtype="job.operations[0].operation_type"
            operations="job.operations"
            status="running"
            short="true"
            brief="true"
            jobid="job.id">
    </oplist-short>
  </div>    

  <% if @job.uploads.length > 0 %>

    <md-subheader class="header md-no-sticky">
      Uploads
    </md-subheader>

    <ul class='summary-list' layout-padding>
      <% @job.uploads.each do |u| %>
        <li>
          <span class="name"><%= u.upload_file_name %></span>
          <span class="size">(<%= number_to_human_size(u.upload_file_size) %>)</span>
        </li>
      <% end %>
    </ul>

  <% end %>

</div>
