<% provide(:title, "Error #{@job.id}: #{@path}" ) %>

<% content_for :main do %>

<div layout="row" layout-align="center center">

  <div style="width: 50%">

    <h1 class="md-display-1">ERROR</h1>
    <h2 class="md-title">Job <%= @job.id %>: <%= @job.path %></h2>

    <p>Submitted by <%= User.find(@job.submitted_by).login %></p>
    <p>Created: <%= @job.created_at %></p>

    <div class="alert alert-error">
      <%= @message %>
    </div>

    <ul class='list'>
      <% @backtrace.each do |b| %>
        <li><%= b %></li>
      <% end %>
    </ul>

  </div>

</div>

<% end %>