<h3>Add to inventory</h3>

<%= form_for([@object_type, @object_type.items.build]) do |f| %>

  <%= f.label :location %>
  <%= f.text_field :location, value: @object_type.location_wizard %>
  <%= f.label :rows %>
  <%= f.text_field :rows, value: 1 %>
  <%= f.label :columns %>
  <%= f.text_field :cols, value: 1 %><br />
  <%= f.submit class: "btn btn-small", value: "Add"  %>

<% end %>
