<h3>Add to inventory</h3>

<%= form_for([@object_type, @object_type.items.build]) do |f| %>

  <%= f.label :location %>
  <%= f.text_field :location, value: "" %><br />

  <%= f.label :quantity %>
  <%= f.number_field :quantity, value: 0 %><br />

  <%= f.submit class: "btn btn-small", value: "Add"  %>

<% end %>


