<% @tps.each do |tp| %>

  <% tprows = @rows.select { |r| r.task.task_prototype_id == tp.id } %>

  <% if tprows.length > 0 %>

    <h3>
      <%= tp.name %>: <%= number_to_currency(Account.total tprows) %>
    </h3>

    <% task_groups = tprows.group_by { |r| r.task_id } %>

    <% task_groups.each do |task_id, rows| %>

      <div style='margin: 0 50px 0 50px'>

        <table style="width: 100%; table-layout: fixed;">

          <tr style="vertical-align: top">

            <td>
              <b>Task <a href="/tasks/<%= task_id %>"><%= task_id %></a>: <%= Task.find(task_id).name %>
                 <span id="task-<%= task_id %>-budget" class='change'></span>
              </b>
            </td>

            <td width="25%">
              <% if current_user && current_user.is_admin %>
                <button class='btn btn-mini pull-right action no-print' onclick="choose_all(<%= task_id %>)">All</button>
                <button class='btn btn-mini btn-primary pull-right action no-print' onclick="note(<%= task_id %>)">Note</button>
                <button class='btn btn-mini btn-success pull-right action no-print' onclick="credit(<%= task_id %>)">Credit</button>
                <button class='btn btn-mini btn-info pull-right action no-print' onclick="change_budget(<%= task_id %>)">Change Budget</button>
              <% end %>      
            </td>

          </tr>

        </table>

        <%= render partial: 'rows', locals: { rows: rows } %>

      </div>

    <% end %>

  <% end %>

<% end %>