<% @operation_types.each do |ot| %>

  <% otrows = @rows.select { |r| r.operation && r.operation.operation_type_id == ot.id } %>

  <% if otrows.length > 0 %>

    <h3>
      <%= ot.name %>: <%= number_to_currency(Account.total otrows) %>
    </h3>

    <% ot_groups = otrows.group_by { |r| r.operation_id } %>

    <% ot_groups.each do |operation_id, rows| %>

      <div>

        <table style="table-layout: fixed; margin-left: 3px; width: 100%; margin-bottom: 5px">

          <tr style="vertical-align: top">

            <td>
              <b>Operation <%= operation_id %></b>
                 <span id="operation-<%= operation_id %>-budget" class='change'></span>
            </td>

            <td width="50%">
              <% if current_user && current_user.is_admin %>
                <div class='pull-right'>
                <md-button class='md-small md-raised no-print' onclick="change_budget(<%= operation_id %>)">Change</md-button>  
                <md-button class='md-small md-raised no-print' onclick="note(<%= operation_id %>)">Note</md-button>
                <md-button class='md-small md-raised no-print' onclick="credit(<%= operation_id %>)">Credit</md-button>                
                <md-button class='md-small md-raised no-print' onclick="choose_all(<%= operation_id %>)">All</md-button> 
                </div>
              <% end %>      
            </td>

          </tr>

        </table>

        <%= render partial: 'rows', locals: { rows: rows } %>

      </div>

    <% end %>

  <% end %>

<% end %>