<table class='table table-condensed' style='table-layout: fixed;'>

  <tr style="font-size: 9pt">
    <th style="width: 12%">Transaction Id</th>
    <th>Date</th>
    <th style='width: 35%'>Description / Notes</th>
    <th>Amount</th>
    <th>Operating Cost</th>        
    <th>Subtotal</th>    
    <% if current_user && current_user.is_admin %>
      <th style="width: 5%"></th>    
    <% end %>
  </tr>

 <% rows.each do |row| %>

    <tr>

      <td><b><%= row.id %></b></td>

      <td>
        <%= row.created_at.strftime("%b %d, %Y") %>
      </td>

      <td>

        <% if row.category != "credit" %>
          <%= row.description %>
        <% end %>

        <% if row.first_row_logs.length > 0 || row.second_row_logs.length > 0 %>
          <ul>
            <% row.first_row_logs.each do |al| %>
              <% if al.row2 %>
                <li><%= link_to al.user.login, al.user %>: <%= al.note %>
                    See transaction <%= al.second_row.id %> in your <%= al.second_row.created_at.strftime("%B, %Y") %> statement.
                </li>            
              <% else %>
                <li><%= link_to al.user.login, al.user %>: <%= al.note %> (<%= al.created_at.strftime("%b %d, %Y") %>)</li>
              <% end %>
            <% end %>
            <% row.second_row_logs.each do |al| %>
              <li><%= link_to al.user.login, al.user %>: <%= al.note %> (<%= al.created_at.strftime("%b %d, %Y") %>)</li>
            <% end %>          
          </ul>
        <% end %>

        <span id="row-<%= row.id %>-budget" class='change'></span>

      </td>      

      <td>
        <% if row.transaction_type == "debit" %>
          <%= number_to_currency(row.amount) %> 
        <% end %>
      </td>  

      <td>
        <% if row.transaction_type == "debit" %>
          <%= number_to_currency(row.amount*row.markup_rate) %>
        <% end %>
      </td>  

      <td>
        <% if row.transaction_type == "debit" %>
          <%= number_to_currency(row.amount*(1.0+row.markup_rate)) %>
        <% else %>
          <b><%= number_to_currency(row.amount) %> CREDIT</b>
        <% end %>
      </td>    

      <% if current_user && current_user.is_admin %>
        <td>
          <input type='checkbox' 
                 class='chooser pull-right' 
                 data-row-id='<%= row.id %>' 
                 data-operation-id='<%= row.operation_id %>'
                 data-row-amount='<%= row.amount*(1.0+row.markup_rate) %>'>    
        </td>
      <% end %>

    </tr>

  <% end %> 

  <tr>

    <td></td>
    <td></td>        
    <td></td>      
    <td></td>             
    <td><b>Operation Total</b></td>
    <td><b><%= number_to_currency(Account.total rows,true) %></b></td>
    <% if current_user && current_user.is_admin %>    
      <td></td>
    <% end %>

  </tr>

</table>