<% provide(:title, 'Invoices') %>

<%= content_for :controller do %>invoicesCtrl<% end %>

<%= content_for :class do %>invoices<% end %>

<% content_for :sidebar do %>
  <div layout='column'>
    <md-button class="md-raised" 
              ng-click="update()">
      Update
    </md-button>
    <hr>
    <md-datepicker
        ng-model="new_state.date"
        md-placeholder="Enter date"
        md-mode="month"
        class="budget-data">
    </md-datepicker>
    <hr>
    <div class="budget-list">
      <md-radio-group ng-model="new_state.budget_id">
        <md-radio-button class="budget-item" 
                         value="-1" 
                         class="md-primary">
            <b>All Budgets</b>
        </md-radio-button>
        <md-radio-button class="budget-item" 
                         ng-repeat="budget in budgets | orderBy: 'name'"
                         value="{{budget.id}}"
                         ng-if="state.budget_ids_used.indexOf(budget.id) >= 0">
          {{budget.name}}
        </md-radio-button>
      </md-radio-group>
    </div>
  </div>
<% end %>

<% content_for :specific_title do %>
  &rangle; {{state.date | date : 'MMMM yyyy'}} 
  &rangle; {{state.budget.name}}
  <span ng-if="!current_user.is_admin || !all_invoices">
    &rangle; {{current_user.name}}
  </span>
<% end %>

<% content_for :main do %>

  <div class="invoice-main">

    <div ng-if="!state.transactions || !operation_types">
        Loading ...
    </div>

    <div ng-if="state.transactions && operation_types">
    <%# This is the total summary for all operation types within the current budget shown %>
        <b>Transactions???:</b>         {{state.transactions.length}}<br>
        <b>Total:</b>                {{state.summary.total|currency}}<br>
        <b>Base:</b>                 {{state.summary.total - state.summary.overhead|currency}}<br>
        <b>Overhead:</b>             {{state.summary.overhead|currency}}<br>
        <b>Total Labor:</b>          {{state.summary.labor_minutes / 60 | number:0}} hours, 
                                     {{state.summary.labor_minutes % 60 | number:0}} minutes<br>
        <b>Total Materials Cost:</b> {{state.summary.materials|currency}}<br>
        <br>
    </div>

    <div class="operation-type"
        ng-if="state.transactions && operation_types" 
        ng-repeat="operation_type in state.operation_types | orderBy: 'name'">

        <%= render partial: 'operation_type' %>

    </div>

  </div>

  <%= render partial: 'credit_dialog' %>
  <%= render partial: 'form' %>

<% end %>

<% content_for :action1 do %>
    <md-button class="md-raised" ng-click="apply_credit($event)">Credit</md-button>
<% end %>

<% content_for :action2 do %>
    <md-button class="md-raised" ng-click="create_invoice($event)">Create Invoice</md-button>
<% end %>

