<style>
.medium {
  width: 20%;
}
.large {
  width: 33%;
}
.indent {
  margin-left: 35px;
}
.users {
  width: 95%;
  margin-left: 30px;
}
.budget-name {
  font-size: 14pt;
  margin-bottom: 0;
}
</style>

<h1>Invoices</h1>

<% @data.each do |datum| %>

  <h3>
    <%= datum[:date].strftime("%B %Y") %>
    <% if params[:all] %>
      : <%= number_to_currency(datum[:entries].collect { |e| e[:spent] }.inject{|s,x| s + x}) %>
    <% end %>
  </h3>

  <% datum[:entries].collect { |e| e[:budget] }.uniq.each do |b| %>

    <p class='indent budget-name'><b><%= link_to b.name, b %></b> (<%= b.contact %>): <%= b.description %> </p>

    <table class='table table-condensed users' style="table-layout: fixed">
      <% datum[:entries].select { |e| e[:budget].id == b.id }.each do |e| %>
        <tr>
          <td><%= e[:user].name %> (<%= link_to "#{e[:user].login}", e[:user] %>)</td>
          <td><i><%= e[:invoice].in_progress ? "in progress" : e[:invoice].status %></i></td>
          <td><%= link_to number_to_currency(e[:spent]), e[:invoice] %></td>        
        </tr>
      <% end %>
      <% total = datum[:entries].select { |e| e[:budget].id == b.id }.collect { |e| e[:spent] }.inject{|sum,x| sum+x} %>
      <tr>
      <td></td>
      <td></td>
      <td><b><%= number_to_currency(total) %></b></td>
      </tr>
    </table>

  <% end %>

<% end %>
