<h1>
  Invoice for <%= @date.strftime("%b %Y") %>  
</h1>

<div class='container row-fluid well' style='width: 90%'>

  <div class='span6'>

    <p><b>User</b>: <%= @invoice.user.name %> (<%= @invoice.user.login %>)<br />
       <b>Budget</b>: <%= @invoice.budget.name %>, <%= @invoice.budget.contact %><br />

    <b>Status</b>:
    <% if @invoice.in_progress %>
      <span class='text-error'>In progress<br />
    <% else %>
      <br /> <select id="status">
        <%= ["ready", "approval_requested", "reconciled"].each do |s| %>
          <option <%= @invoice.status == s ? "selected" : "" %> ><%= s %></option>
        <% end %>
      </select><br />
    <% end %>

    <% if false %>
    <b>Notes</b>:<br />
      <textarea id="notes" style="width:600px; height: 100px"><%= @invoice.notes %></textarea>
    </p>
    <% end %>

    <button class='btn btn-warning' id="save">Save Changes</button>

  </div>

  <div class='span6'>

    <p>

    <b>Base Cost</b>: <%= number_to_currency(@base) %><br />

    <b>Operating Costs</b>: <%= number_to_currency(@markup) %><br />

    <b>Total</b>: <%= number_to_currency(@base + @markup) %>

    </p>

  </div>

</div>

<%= render partial: 'details' %>

<script>

  console.log("Ready")
  $('#save').css('display', 'none');
  function show_save() {
    $('#save').css('display', 'block');
  }
  $('#status').change(show_save);
  $('#notes').keydown(show_save);

</script>

