<%= content_for :specific_title do %>

  Invoice &rang;
  UW BIOFAB &rang; 
  <%= @date.strftime("%B %Y") %> &rang; 
  Generated <%= Date.today.strftime("%D") %>

<% end %>

<%= content_for :action1 do %>

  <md-button ng-href="/invoices/">All</md-button>

<% end %>

<%= content_for :sidebar do %>

  <h1 class='md-title'><%= @invoice.user.name %></h1>
  <h1 class='md-subhead'>Budget</b>: <%= link_to @invoice.budget.name, @invoice.budget %></h1>
  <b>Contact</b>: <%= @invoice.budget.contact %> (<%= @invoice.budget.email %>)<br />
  <b>Contact phone</b>: <%= @invoice.budget.phone %> <br />    

  <hr>

    <b>Base Cost</b>: <%= number_to_currency(@base) %><br />
    <b>Base Materials</b>: <%= number_to_currency(@base_materials) %><br />
    <b>Base Labor</b>: <%= number_to_currency(@base_labor) %><br />
  <b>Operating Costs</b>: <%= number_to_currency(@markup) %><br />
  <b>Total</b>: <%= number_to_currency(@total) %>

  <hr>

  <b>Status</b>:

  <% if @invoice.in_progress %>
    <span class='text-error'>In progress</span><br>
  <% else %>
    <br /> <select id="status">
      <%= ["ready", "approval_requested", "reconciled"].each do |s| %>
        <option <%= @invoice.status == s ? "selected" : "" %> ><%= s %></option>
      <% end %>
    </select><br />
  <% end %>

  <% if false %>
    <b>Notes</b>:<br />
      <textarea id="notes" style="width:600px; height: 100px"><%= @invoice.notes %></textarea>
    </p>
  <% end %>

  <% if !@invoice.in_progress %>
    <hr>
    <md-button class='md-raised' id="save" onclick="save_status()">Save Changes</md-button>
  <% end %>

  <hr>

  <p>Contact <b>Amanda McCracken</b> (mccracken1029@gmail.com) with questions about this invoice.</p> 

<% end %>    

<%= content_for :main do %>

  <div layout-padding>

  <%= render partial: 'details' %>
  <%= render partial: "note_dialog" %>
  <%= render partial: "credit_dialog" %>
  <%= render partial: "change_budget_dialog" %>  

  </div>

<% end %>

<script>

  var current_task_id = -1;

  $('#save').css('display', 'none');
  function show_save() {
    $('#save').css('display', 'block');
  }
  function hide_save() {
    $('#save').css('display', 'none');
  }  
  $('#status').change(show_save);
  $('#notes').keydown(show_save);

  function choose_all(operation_id) {

    var rows = $('.chooser').filter(function() {
      return $(this).data('operation-id') == operation_id;
    });

    var checked_rows = $('.chooser').filter(function() {
      return $(this).data('operation-id') == operation_id && $(this).prop('checked');
    });    

    if ( checked_rows.length > 0 ) {
      rows.prop("checked",false);
    } else {
      rows.prop("checked",true);
    }

  }  

  function note(task_id) {
    rows = $('.chooser:checked').filter(function() {
      return $(this).data('operation-id') == task_id && $(this).prop('checked');
    });
    if ( rows.length > 0 ) {
      $("#noteDialog").modal('show');
    }
  }

  function credit(operation_id) {
    rows = $('.chooser:checked').filter(function() {
      return $(this).data('operation-id') == operation_id && $(this).prop('checked');
    });     
    if ( rows.length > 0 ) {
      var total = aq.sum(rows,function(row) { return parseFloat($(row).data('row-amount')); } );
      $('#transaction-total').html(aq.currency(total));
      $("#creditDialog").modal('show');
    }
  }

  function change_budget(task_id) {    
    rows = $('.chooser:checked').filter(function() {
      return $(this).data('task-id') == task_id && $(this).prop('checked');
    });     
    $('#change-budget-task-id').html(task_id);
    $("#changeBudgetDialog").modal('show');
    current_task_id = task_id;
  }  

  function save_status() {
    $.ajax({
      type: "GET",
      url: "/invoices/change_status/" + <%= @invoice.id %> + "/" + $('#status').val(),
      success: function(data) {
        console.log(data);
        hide_save();
      }
    });
  }

  function save_note() {

    var note_data = {
      rows: aq.collect(rows,function(row) { return { id: $(row).data('row-id'), task_id: $(row).data('task-id') } } ),
      note: $('#note-text').val()
    }

    $.ajax({
      type: "POST",
      url: "/invoices/note",
      data: note_data,
      success: function(data) {
        $("#noteDialog").modal('hide');
        location.reload();
      },
      dataType: 'json'
    });

  }

  function save_credit() {

    var p = $('#transaction-percent').val();

    if ( p <= 0 || p > 100 ) {
      $('#credit-error').css("display", "block").html("Percent of total must be between 1 and 100.");
    } else {
      var credit_data = {
        rows: aq.collect(rows,function(row) { return { id: $(row).data('row-id'), task_id: $(row).data('task-id') } } ),
        percent: p,
        note: $('#credit-text').val()
      }
      $.ajax({
        type: "POST",
        url: "/invoices/credit",
        data: credit_data,
        success: function(data) {
          $("#creditDialog").modal('hide');
          location.reload();
        },
        dataType: 'json'
      });      
    }
  }

  function save_change_budget () {

    var bid = $('#change-budget-select').val();

    var change_data = {
      rows: aq.collect(rows,function(row) { return { id: $(row).data('row-id'), task_id: $(row).data('task-id') } } ),
      budget_id: $('#change-budget-select').val(),
      task_id: current_task_id
    }

    $.ajax({
        type: "POST",
        url: "/invoices/change_budget/",
        data: change_data,
        success: function(data) {
          $('#task-'+current_task_id+"-budget").html("&#xffeb; " + data.budget.name);
          aq.each(data.rows,function(row) {
            $('#row-'+row.id+"-budget").html("&#xffeb; " + data.budget.name);
          });
          $("#changeBudgetDialog").modal('hide');
        },
        dataType: 'json'
      });          

  }  

</script>

