<h1>
  UW BIOFAB: Invoice for <%= @date.strftime("%B %Y") %>  
</h1>

<div class='container row-fluid well' style='width: 90%'>

  <div class='span4'>

    <p><b>User</b>: <%= @invoice.user.name %> (<%= link_to @invoice.user.login, @invoice.user %>)<br />
       <b>Budget</b>: <%= link_to @invoice.budget.name, @invoice.budget %><br />
       <b>Contact</b>: <%= @invoice.budget.contact %> (<%= @invoice.budget.email %>)<br />
       <b>Contact phone</b>: <%= @invoice.budget.phone %> <br />    

  </div>

  <div class='span3'>

    <p>

    <b>Base Cost</b>: <%= number_to_currency(@base) %><br />
    <b>Operating Costs</b>: <%= number_to_currency(@markup) %><br />
    <b>Total</b>: <%= number_to_currency(@total) %>

    </p>

  </div>

  <div class='span5'>

    <b>Status</b>:
    <% if @invoice.in_progress %>
      <span class='text-error'>In progress<br />
    <% else %>
      <br /> <select id="status">
        <%= ["ready", "approval_requested", "reconciled"].each do |s| %>
          <option <%= @invoice.status == s ? "selected" : "" %> ><%= s %></option>
        <% end %>
      </select><br />
    <% end %>

    <% if false %>
    <b>Notes</b>:<br />
      <textarea id="notes" style="width:600px; height: 100px"><%= @invoice.notes %></textarea>
    </p>
    <% end %>

    <button class='btn btn-warning' id="save">Save Changes</button>
  </div>

</div>

  <p>Please contact <b>Amanda McKraken</b> (mccracken1029@gmail.com) regarding payment and questions about this invoice.</p> 

<%= render partial: 'details' %>

<script>

  $('#save').css('display', 'none');
  function show_save() {
    $('#save').css('display', 'block');
  }
  $('#status').change(show_save);
  $('#notes').keydown(show_save);

</script>

