<h1>Invoice for <%= @date.strftime("%b %Y") %></h1>

<p><b>User</b>: <%= @invoice.user.name %> (<%= @invoice.user.login %>)<br />
   <b>Budget</b>: <%= @invoice.budget.name %>, <%= @invoice.budget.contact %><br />

<b>Status</b>:
<% if @invoice.in_progress %>
  "In progress"<br />
<% else %>
  <br /> <select id="status">
    <%= ["ready", "approval_requested", "reconciled"].each do |s| %>
      <option <%= @invoice.status == s ? "selected" : "" %> ><%= s %></option>
    <% end %>
  </select><br />
<% end %>

<b>Notes</b>:<br />
  <textarea id="notes" style="width:600px; height: 100px"><%= @invoice.notes %></textarea>
</p>

<button class='btn btn-warning' id="save">Save Changes</button>

<% if @rows.length > 0 %>

  <table class='table'>

    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Budget</th>    
      <th>Credits</th>            
      <th>Debits</th>                
    </tr>
    
    <% @rows.each do |row| %>

      <tr>

        <td><%= row.updated_at.strftime("%b %d, %Y") %></td>

        <td>
          <% if row.task %>
            <%= row.task.task_prototype.name %>
            <%= link_to row.task_id, row.task %>,
          <% end %>
          <i><%= row.description %> <%= row.category ? "(#{row.category})" : "" %></i>
        </td>

        <td>
          <%= row.budget.name %> <%= row.budget.description ? "(#{row.budget.description})" : "" %>
        </td>

        <td>
          <% if row.transaction_type == "credit" %>
            <%= number_to_currency(row.amount) %>
          <% end %>
        </td>  

        <td>
          <% if row.transaction_type == "debit" %>
            <%= number_to_currency(row.amount) %>
          <% end %>
        </td>  

      </tr>

    <% end %> 

  </table>

<% else %>

  <p>No transactions to show in <%= @start_date.strftime("%b, %Y") %>.</p>

<% end %>  

<script>

  console.log("Ready")
  $('#save').css('display', 'none');
  function show_save() {
    $('#save').css('display', 'block');
  }
  $('#status').change(show_save);
  $('#notes').keydown(show_save);

</script>

