<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aquarium Plugin</title>
    <%= render partial: 'layouts/vendor_code' %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <style>
    body {
      padding: 0px !important;
      margin: 0px;
    }
  </style>
  <body style="background-color:transparent">
  <%= yield %>
  </body>
</html>
