<% provide(:title, 'Folders') %>

<style>
body {
  overflow: hidden;
}

.container-fluid {
  padding: 0;
}
</style>

<div ng-app="folders">

  <%= render partial: 'folder_template' %>
  <%= render partial: 'sample_template' %>
  <%= render partial: 'new_thread_builder_template' %>  
  <%= render partial: 'thread_template' %>
  <%= render partial: 'component_template' %>  
  <%= render partial: 'parameter_template' %>   
  <%= render partial: 'workflow_template' %>  

  <div ng-controller='foldersCtrl as fc'>

    <div class='row-fluid folder-controls'>

      <span ng-repeat="f in path(current_folder) track by $index">
        <input type=text value="{{f}}" ng-disabled="true" class='folder-path-input' />
      </span>

      <input id='folder-name'
             type=text 
             class='folder-path-input folder-current-name' 
             ng-model="current_folder.name"
             ng-disabled="current_folder.id < 0 || current_folder.locked"
             ng-blur="renameFolder(current_folder)">

      <a href='#' id="delete-folder"
         ng-if="current_folder != folders[0] && !current_folder.locked"
         class='btn btn-small pull-right folder-btn'
         ng-click="deleteFolder(current_folder)">Delete Folder</a>

      <a href='#'  
         class='btn btn-small folder-btn pull-right' 
         ng-click="newFolder()"
         ng-if="!current_folder.locked"
         ng-disabled="current_folder.locked">New Folder</a>

      <div class="btn-group pull-right folder-btn" ng-show="current_folder.id>=0" ng-if="!current_folder.locked">
        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
          New Sample
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="st in sample_types" ng-click="newSample(st)">
            <a href="#">{{st.name}}</a>
          </li>
        </ul>
      </div>

      <div class="btn-group pull-right folder-btn" ng-show="selection && selection.sample_type ">

        <a class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          New Task
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu pull-right">
          <li ng-repeat="w in workflows" 
              class="dropdown-submenu" 
              ng-if="w.form.outputs.length > 0 || w.form.inputs.length > 0">
            <a tabindex="-1" href="#">{{w.name}}</a>
            <ul class="dropdown-menu pull-left">
              <li ng-repeat="p in w.form.inputs.concat(w.form.outputs)">
                <a tabindex="-1" href="#" ng-click="threadBuilder.make(w,p)">
                  {{p.description}} ({{p.name}})
                </a>
              </li>
            </ul>
          </li>
        </ul>

      </div>      

      <div class='input-append pull-right folder-btn' 
           ng-show="current_folder.id>=0" ng-if="!current_folder.locked">
        <input id="add-sample" type="text" style="height: 26px !important;">
        <a href='#' class="btn btn-small" type="button" ng-click="addSample()">Add</a>
      </div>      

      <span ng-if="current_folder.locked" class="pull-right read-only">Read Only</span>      

    </div>

    <div class='row-fluid' id='folder-content-container'>

      <div id="folder-list" class='span2'>

        <ul class='folder-ul folder-ul-top'>
          <li ng-repeat="folder in folders"
              ng-include="'folderTree'">
          </li>
        </ul>

      </div>

      <br>

      <div id="folder-current" class='span10'>

        <div class="folder-contents" ng-style='style()' resize>

          <div ng-repeat="sample in current_folder.samples" 
               ng-include="'sampleView'"
               ng-init="indent=0"
               class='sample-repeater'>
          </div>

          <div ng-repeat="workflow in current_folder.workflows"
               ng-include="'workflowView'"
               ng-init="indent=0">
          </div>

         <div ng-repeat="child in current_folder.children">
            <div class='folder-folder' ng-click="setCurrentFolder(child)">
              <i class='icon-folder-close'></i> {{child.name}}
            </div>
          </div>          

        </div>

      </div>

    </div>  

  </div>

</div>
