<form action="" id='budget-select'>

  <table class="table">

      <tr>
        <th></th>
        <th>Budget</th>
        <th>Description</th>
        <th>Contact</th>
        <th>Balance</th>
      </tr>

    <% @budget_info.each do |bi| %>

      <tr>

        <td>
          <input type="radio" 
                name="budget" 
                value="<%= bi[:budget].id %>" 
                 <%= bi[:balance] < 50 ? "disabled" : "" %> > 
        </td>

        <td>
          <%= bi[:budget].name %> 
        </td>

        <td>
          <%= bi[:budget].description %> 
        </td>

        <td>
          <%= bi[:budget].contact %> 
        </td>

        <td>
          <% if bi[:balance] > 0 %>
            <span><%= number_to_currency(bi[:balance]) %></span>
          <% else %>
            <span style='color: red'>(<%= number_to_currency(-bi[:balance]) %>)</span>
          <% end %>
        </td>

      </tr>
    <% end %>

  </table>
</form>  