<h1>Task Type: <%= @task_prototype.name %></h1>

<%= link_to "New #{@task_prototype.name}", new_task_path(task_prototype_id: @task_prototype.id), class: 'btn' %>
<%= link_to "Edit Prototype", edit_task_prototype_path(@task_prototype), class: 'btn' %>

:

<% @status_options.each do |o| %>

  <% if o == @option %>
    <button class='btn btn-small btn-primary' id='<%= o.gsub(/ /,'_') %>'><%= o %></button>
  <% else %>
    <button class='btn btn-small' id='<%= o.gsub(/ /,'_') %>'><%= o %></button>
  <% end %>

<% end %>

<br /><br />

<table class='table'>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Status</th>
    <th>User</th>
    <th>Created</th>
    <th>Updated</th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><b><%= task.id %></b></td>
    <td><%= link_to task.name, task %></td>
    <td>

       <div class='task-select'><select id='<%= "status_#{task.id}" %>' class='status-select'>
         <% @status_options.each do |opt| %>
            <option <%= opt == task.status ? 'selected' : '' %>><%= opt %></option>
         <% end %>
       </select></div>

    </td>
    <td>
      <% if task.user %>
        <%= link_to task.user.login, task.user %>
      <% else %>
         nobody
      <% end %>
    </td>
    <td><%= time_ago_in_words(task.created_at) %> ago</td>
    <td><%= time_ago_in_words(task.updated_at) %> ago</td>
    <td><%= link_to edit_task_path(task,task_prototype_id: task.task_prototype) do %>
          <i class='icon-edit'></i>
        <% end %></td>
    <td><%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class='icon-remove'></i>
        <% end %></td>
  </tr>
<% end %>
</table>

<br />

<script>

$.each($(".status-select"),function(index,value) {

  $(value).change(function() {
    window.location = 'tasks?task_prototype_id=<%= @task_prototype.id %>&task=' 
                    + $(value).attr('id').split('_')[1]
                    + "&status=" + $(value).val();
  });

});

window.history.replaceState ( null, 'tasks', 'tasks?task_prototype_id=<%= @task_prototype.id %>' );

<% @status_options.each do |o| %>

  $('#<%= o.gsub(/ /,'_') %>').click(function(){
    window.location = 'tasks?task_prototype_id=<%= @task_prototype.id %>&option=<%= o %>';
  });

<% end %>

</script>

