<h1>Task Type: <%= @task_prototype.name %></h1>
<br />

<%= link_to "New #{@task_prototype.name}", new_task_path(task_prototype_id: @task_prototype.id), class: 'btn btn-small btn-info' %>
<% if current_user.member? Group.find_by_name('admin').id %>
  <%= link_to "Edit Prototype", edit_task_prototype_path(@task_prototype), class: 'btn btn-small' %>
<% end %>

:

<% @status_options.each do |o| %>

  <% if o == @option %>
    <button class='btn btn-small btn-primary' id='<%= o.gsub(/ /,'_') %>'><%= o %></button>
  <% else %>
    <button class='btn btn-small' id='<%= o.gsub(/ /,'_') %>'><%= o %></button>
  <% end %>

<% end %>

<br /><br />

<table class='table table-condensed compact' id="task-table" data-source='<%= tasks_url(format: 'json', option: @option, task_prototype_id: @task_prototype.id) %>'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Status</th>
      <th>User</th>
      <th>Created</th>
      <th>Updated</th>
    </tr> 
  </thead>

  <tbody>
  </tbody>
</table>

<script>

  var table = $('#task-table').dataTable({

    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": $('#task-table').data('source'),
    "order": [ 0, 'desc' ],
    "lengthMenu": [ 15, 25, 50, 75, 100 ],
    "search": { 
      "search": '<%= cookies[@task_search_cookie_name] %>'
    },

    "columnDefs":[ {
      "targets": [1,2,3,4],
      "orderable": false
    } ],

    "createdRow": function ( row, data, index ) {

      $('.status-selector',$(row)).change(function() {
        $.ajax({
          url: 'update_task_status?task=' + $(this).data('task-id') + "&status=" + $(this).val(),
          async: true
        }).done(function(data) {
          table.fnDraw();
        })
      });
    }

  });

  window.history.replaceState ( null, 'tasks', 'tasks?task_prototype_id=<%= @task_prototype.id %>' );

  <% @status_options.each do |o| %>

    $('#<%= o.gsub(/ /,'_') %>').click(function(){
      window.location = 'tasks?task_prototype_id=<%= @task_prototype.id %>&option=<%= o %>';
    });

  <% end %>

</script>
