<h1>Task Type: <%= @task_prototype.name %></h1>

<%= link_to "New #{@task_prototype.name}", new_task_path(task_prototype_id: @task_prototype.id), class: 'btn' %>

<%= link_to "Edit Prototype",
    edit_task_prototype_path(@task_prototype), class: 'btn' %>

<br /><br />

<table class='table'>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Specification</th>
    <th>Status</th>
    <th>Created</th>
    <th>Updated</th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><b><%= task.id %></b></td>
    <td><%= link_to task.name, edit_task_path(task) %></td>
    <td><%= task.specification %></td>
    <td><%= task.status %></td>
    <td><%= time_ago_in_words(task.created_at) %> ago</td>
    <td><%= time_ago_in_words(task.updated_at) %> ago</td>
    <td><%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class='icon-remove'></i>
      <% end %></td>
  </tr>
<% end %>
</table>

<br />


