<h1>New <%= @task.task_prototype.name %></h1>

<div id='fail-message'></div>

<div id="task_info">
    <label><b>Name</b></label>
    <input id="task_name" type='text' value='<%= @task.name %>'></input>
    <label><b>Status</b></label>
    <div class='task-select'><select id='task_status' class='status-select'>
       <% @status_options.each do |opt| %>
          <option <%= opt == @task.status ? 'selected' : '' %>><%= opt %></option>
       <% end %>
    </select></div>
</div>

<div id="json_editor"></div>

<br />

<button id='save' class='btn btn-primary'>Save</button>

<script>

  render_json_editor(
    $('#json_editor'),
    JSON.parse('<%= j @task.specification.html_safe.force_encoding("UTF-8") %>'),
    JSON.parse('<%= j @task.task_prototype.prototype.html_safe.force_encoding("UTF-8") %>')
  );

  $('#save').click(function(){
    var name = $('#task_name').val(),
        stat = $('#task_status').val(),
        spec = JSON.stringify(json_editor_extract($('#json_editor')));
 
    var AUTH_TOKEN = '<%= "#{form_authenticity_token}" %>';

    $.ajax({
        type: "POST",
        url: "/tasks",
        dataType: 'json',
	data: JSON.stringify({task: {name: name, status: stat,
        user_id: <%= current_user.id %>,
        specification: spec, task_prototype_id: <%= @task.task_prototype.id %>}, authenticity_token: AUTH_TOKEN}),
        contentType: 'application/json'
    }).done(function(data){
	window.location = "/tasks?task_prototype_id=" + <%= @task.task_prototype.id %>;
    }).fail(function(data){
        var list = $("<ul></ul>")
        console.log(data);
        msg = JSON.parse(data.responseText);
        for ( var key in msg ) {
          list.append('<li>'+key+': '+msg[key]+'</li>');
        }
        $('#fail-message').append('<p><b>Errors prevented this task from being saved.</b></p>').append(list);
        $('#fail-message').addClass('alert alert-danger');
    });


  });

</script>

<%= link_to 'Cancel', tasks_path(task_prototype_id: @task.task_prototype.id), class: 'btn' %>
