
<% protocol = ProtocolSummary.new({ protocol: @job.path, sha: @job.sha }) %>

<div layout-padding>

  <p>

    Submitted by <a href='/users/<%= @submitter.id %>'><%= @submitter.name %></a><br>
    For group <a href='/groups/<%= @group.id %>'><%= @group.name %></a><br>

    <% if @performer %>
      Performed by <a href='/users/<%= @performer.id %>'><%= @performer.name %></a><br>
    <% end %>

    <b>Submitted</b> <%= @job.created_at.to_formatted_s(:long) %><br>

    <% if @job.pc == Job.COMPLETED %>
      <b>Completed</b> <%= @job.updated_at.to_formatted_s(:long) %> 
    <% elsif @job.pc == Job.NOT_STARTED %>
      <b>Pending</b>
    <% else %>
      <b>Running</b>
    <% end %>

  </p>



</div>

