<% provide(:title, 'Start ' + @path ) %>

<h1>Initialize <%= @path %></h1>

<p><b>Version:</b> <%= @sha %></p>

<div id='json_editor'></div>

<p><button id='start' class='btn btn-primary'>Submit</button></p>

<script>

  arguments = JSON.parse('<%= @args.to_json.html_safe %>');
  render_json_editor($('#json_editor'),arguments,arguments);

  $('#start').click(function() {

    spec = JSON.stringify(json_editor_extract($('#json_editor')));
    console.log(spec);
    window.location = encodeURI('submit?path=<%= @path %>&sha=<%= @sha %>&args='+spec);

  });

</script>
