<% provide(:title, "Error #{@job.id}: #{@path}" ) %>

<h1>ERROR</h1>
<h2>Job <%= @job.id %>: <%= @job.path %></h2>

<p>Submitted by <%= User.find(@job.submitted_by) %></p>
<p>Created: <%= @job.created_at %></p>


<div class="alert alert-error">
<%= @message %>
</div>

<ul class='list'>
	<% @backtrace.each do |b| %>
	  <li><%= b %></li>
	<% end %>
</ul>
