<% provide(:title, "Log #{@job.id}: #{@job.path}" ) %>

<h1>Job <%= @job.id %></h1>

<% if @job.pc == Job.COMPLETED %>
  <h1>Completed
<% elsif @job.pc == Job.NOT_STARTED %>
  <h1>Yet to start
<% else %>
  <h1>Running
<% end %>

<%= @job.path %></h1>

<a href='/krill/ui?job=<%= @job.id %>' class='btn'>View Job Steps / History</a>

<div id='uploads'>
  <h2>Uploads</h2>
  <ul>
    <% @job.uploads.each do |u| %>
      <li><a href='<%= u.upload.url %>'><%= u.upload.original_filename  %></a></li>
    <% end %>
  </ul>
</div>

<div id='touches'>
  <h2>Inventory Touched</h2>
  <ul>
    <% @touches.each do |i| %>
      <% item = Item.find(i) %>
      <li>
        <%= link_to i, item_path(id: i) %>:
        <%= item.object_type.name %>
        <% if item.sample %>
          (<%= item.sample.name %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div id='inventory'>
  <h2>Inventory Still Taken</h2>
  <% if @inventory.length > 0 %>
	  <ul>
	    <% @inventory.each do |i| %>
	      <% item = Item.find(i) %>
	      <li>
	        <%= link_to i, item_path(id: i) %>:
	        <%= item.object_type.name %>
	        <% if item.sample %>
	          (<%= item.sample.name %>)
	        <% end %>
	      </li>
	    <% end %>
	  </ul>
	<% else %>
		None.
	<% end %>
</div>

<div id='tasks'>
  <h2>Associated Tasks</h2>
  <ul>
    <% @tasks.each do |t| %>
      <li>
        <%= link_to "#{t.id}. #{t.name}", t %> ( <%= t.task_prototype.name %> )
      </li>
    <% end %>
  </ul>
</div>

<div id='return-value'>
  <h2>Return Value
    <button id='send' class='btn btn-primary'>Send ...</button></h2>
  <span class='showhide' id='return' class='json_spec'>
    <div id='return'></div>
  </span>

</div>

<div id='history'>
  <h2>Backtrace</h2>
  <span class='showhide' id='history' class='json_spec'>
    <div id='history-json'></div>
  </span>
<div>

<script>

  render_json($('#return'),JSON.parse('<%= escape_javascript(@rval.to_json.html_safe) %>'));
  render_json($('#history-json'),JSON.parse('<%= escape_javascript(@history.html_safe) %>'));

  showhide();

  $('#send').click(function() {
    window.location = '/repo/list?from=' + '<%= @job.id %>';
  });

</script>
