<% provide(:title, "Log #{@job.id}: #{@job.path.split('/').last}" ) %>

<%= render partial: 'log_templates' %>
<%= render partial: 'summary_log' %><br />

<div class='row-fluid'>

  <div class='span4'>

    <ul class="nav nav-tabs" id="tabs">
      <li class='active'><a href="#inventory" data-toggle="tab">Inventory</a></li>    
      <li><a href="#uploads"   data-toggle="tab">Uploads</a></li>
      <li><a href="#tasks"     data-toggle="tab">Tasks</a></li>
    </ul>

    <div class='tab-content details'>

      <div class="log-details tab-pane active" id='inventory'>
        <%= render partial: 'inventory_log' %>
      </div>

      <div class="log-details tab-pane" id='uploads'><ul>
        <% if @job.uploads.length == 0 %>
          <p>No uploads</p>
        <% else %>      
          <% @job.uploads.each do |u| %>
            <li><a href='<%= u.upload.url %>' target='upload'><%= u.upload.original_filename  %></a></li>
          <% end %>
        <% end %>
        <input type="file" id='upload'
               name="files[]" data-url="/krill/upload?job=<%= @job.id %>" 
               multiple style='display: none'>
        <br />
        <button id='upload-button' class='btn'>Attach File</button>
        </input>
      </ul></div>

      <div class="log-details tab-pane" id='tasks'><ul>
        <% if @tasks.length == 0 %>
          <p>No associated tasks</p>
        <% else %>
          <% @tasks.each do |t| %>
            <li><%= link_to "#{t.id}. #{t.name}", t %> ( <%= t.task_prototype.name %> )</li>
          <% end %>
        <% end %>
      </ul></div>

    </div>

  </div> <!-- span4 -->

  <div class='span8' id='history'>
    <div id='history-json'></div>
  </div>

</div>

<script>

  $(function() {
   
    <% if @job.pc != Job.NOT_STARTED %>
      kl = new KrillLog(JSON.parse('<%= escape_javascript(@history.html_safe) %>'));
      kl.render($('#history-json'));
    <% else %>
      $('#history').append('<p>This job has not yet started.</p>')
    <% end %>

    $('#send').click(function() {
      window.location = '/repo/list?from=' + '<%= @job.id %>';
    });    

    $('#upload').fileupload({

      dataType: 'json',

      done: function (e, data) {
        window.location = "/krill/log?job=<%= @job.id %>&upload=1"
      },

      add: function (e,data) {
        $('#upload-button').html('Uploading...').prop('disabled',true);
        data.submit();
      },

      fail: function(e,data) {
        $('#upload-button').html('Upload failed...');
      }

    });

    $('#upload-button').click(function() {
      $('#upload').click();
    });

    <% if params[:upload] %>
      $('#tabs li:eq(1) a').tab('show');
    <% end %>

  });

</script>
