<% provide(:title, "Submitted #{@job.id}: #{@job.path}" ) %>
<div id="krill-waiting"><%= image_tag 'waiting_animation.gif' %></div>

<h1>Job <%= @job.id %> submitted</h1>
<h2><%= @job.path %></h2>

<p><b>Arguments:</b> <div id='args'></div>

<br />

<p><button class='btn btn-primary' id="run">Run</button>
<%= link_to "Pending Jobs", jobs_path, class: 'btn' %></p>

<script>
  render_json($('#args'),<%= @arguments.to_json.html_safe %>);
  $("#run").click(function(){
  	$("#krill-waiting").css('display','block');
  	$("#krill-waiting").attr("disabled","disabled");
    $("#krill-waiting").addClass('krill-next-btn-disabled');
  	window.location='start?job=<%= @job.id %>';
  });
</script>
