<style>
body {
  padding-top: 49px;
}
</style>

<div ng-app="aquarium" class='browser'>

  <div ng-controller='browserCtrl as browser'>

    <!-- TEMPLATES -->
    <%= render partial: "sample_router" %>
    <%= render partial: "sample_heading" %>    
    <%= render partial: "sample" %>
    <%= render partial: "inventory" %>    
    <%= render partial: "form" %>

    <div class='two-column'>

      <div class='two-column-left'>
        <%= render partial: "user_control" %> 
        <%= render partial: "search_control" %>
        <%= render partial: "create_control" %>                  
        <%= render partial: "recent_navigator" %>          
        <%= render partial: "project_navigator" %>         
      </div>

      <div class='two-column-right'>
        <%= render partial: "view_heading" %>        
        <%= render partial: "messages" %>
        <%= render partial: "new_samples" %>
        <%= render partial: "project_view" %>
        <%= render partial: "recent_samples" %>     
        <%= render partial: "search_results" %>              
      </div>

    </div> 

  </div> <!-- controller -->

</div> <!-- app -->
