<style>
body, html {
  height: 100%  !important;
  overflow: hidden;
}
</style>

<% content_for :head do %>

<% end %>

<div ng-app="aquarium" class='browser'>

  <div id="browser-control" ng-controller='browserCtrl as browser'>

    <!-- TEMPLATES -->
    <%= render partial: "sample_router" %>
    <%= render partial: "sample_heading" %>    
    <%= render partial: "sample" %>
    <%= render partial: "inventory" %>    
    <%= render partial: "form" %>

    <div class='browser-main'>

      <div class='tree-nav'>
        <%= render partial: "user_control" %> 
        <%= render partial: "search_control" %>
        <%= render partial: "create_control" %>                  
        <%= render partial: "recent_navigator" %>          
        <%= render partial: "project_navigator" %>         
      </div>

      <div class='viewer'>
        <%= render partial: "view_heading" %>        
        <%= render partial: "messages" %>
        <%= render partial: "new_samples" %>
        <%= render partial: "project_view" %>
        <%= render partial: "recent_samples" %>     
        <%= render partial: "search_results" %>              
      </div>

    </div> 

  </div> <!-- controller -->

</div> <!-- app -->