<% provide(:title, 'Inventory') %>

<style>
  body {
    padding-top: 49px;
    overflow: hidden;
  }
  .ui-autocomplete { 
    position: absolute; 
    cursor: default;
    z-index:30 !important;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;  
  } 
  .dropdown-menu {   
  } 
</style>

<!-- TEMPLATES -->
<%= render partial: "sample_router" %>
<%= render partial: "sample_heading" %>    
<%= render partial: "sample" %>
<%= render partial: "inventory" %>    
<%= render partial: "form" %>
<%= render partial: "/data_associations/list" %>
<%= render partial: '/data_associations/template' %> 
<%= render partial: "/items/template" %>

<%= content_for :class do %>browser<% end %>
<%= content_for :controller do %>browserCtrl as browser<% end %>

<%= content_for :sidebar do %>
  <%= render partial: "search_control" %>    
<% end %>

<%= content_for :specific_title do %>

  &rang; 

  <span ng-if="views.create.selected">Unsaved Samples</span>

  <span ng-if="views.search.selected">
    <span ng-show="views.search.sample_type && views.search.sample_type">{{views.search.sample_type}} &rang;</span>
    <span ng-show="views.search.project_filter && views.search.project_filter != '' &&
                   views.search.project && views.search.project != ''">{{views.search.project}} &rang;</span>
    <span ng-show="views.search.user_filter && views.search.user_filter != '' && 
                   views.search.user && views.search.user != ''">{{views.search.user}} &rang;</span>    
    <span ng-if="views.search.count == 1">1 Sample</span>
    <span ng-if="views.search.count > 1">{{views.search.count}} Samples</span>
  </span>

<% end %>

<% content_for :action1 do %>
  <md-button ng-class="views.search.selected ? 'md-raised md-primary' : 'md-raised'" 
   ng-click="search(0); select_view('search')">Search</md-button> 
<% end %>

<% content_for :action2 do %>
  <md-menu>

    <md-button class='md-raised' ng-click="openMenu($mdMenu, $event)">New</md-button>

    <md-menu-content>
      <md-menu-item ng-repeat="st in sample_types">
        <md-button ng-click="new_sample(st)">{{st.name}}</md-button>
      </md-menu-item>
    </md-menu-content>

  </md-menu>  
<% end %>

<% content_for :action3 do %>
  <md-button class='md-raised md-primary'
     ng-click="save_new_samples()"
     ng-disabled="views.create.samples.length == 0">
    Save
  </md-button>
<% end %>

<% content_for :action4 do %>
  <%= render partial: "create_control" %> 
<% end %>

<%= content_for :main do %>
  <%= render partial: "view_heading" %>        
  <%= render partial: "messages" %>
  <%= render partial: "new_samples" %>
  <%= render partial: "search_results" %>          
<% end %>

