<% provide(:title, 'Samples') %>

<style>
  body {
    padding-top: 49px;
    overflow: hidden;
  }
  .ui-autocomplete { 
    position: absolute; 
    cursor: default;
    z-index:30 !important;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;  
  } 
  .dropdown-menu {   
  } 
</style>

<!-- TEMPLATES -->
<%= render partial: "sample_router" %>
<%= render partial: "sample_heading" %>    
<%= render partial: "sample" %>
<%= render partial: "inventory" %>    
<%= render partial: "form" %>
<%= render partial: "/data_associations/list" %>
<%= render partial: '/data_associations/template' %> 
<%= render partial: "/items/template" %>

<%= content_for :class do %>browser<% end %>
<%= content_for :controller do %>browserCtrl as browser<% end %>

<%= content_for :sidebar do %>

  <% unless @conflicts.empty? %>

    <md-subheader class="md-title md-warn">
      Location wizard conflict(s) found!
      Report this issue to an Aquarium Admin ASAP.
    </md-subheader>
    <ul>
      <% @conflicts.each do |c| %>
        <li>
          <%= link_to c[:wizard].name, wizard_path(c[:wizard]) %>: <%= c[:conflicts].join(", ") %>
        </li>
      <% end %>
    </ul>

  <% end %>

  <%= render partial: "search_control" %>    
<% end %>

<%= content_for :specific_title do %>

  &rang; 

  <span ng-if="views.create.selected">Unsaved Samples</span>

  <span ng-if="views.search.selected">

    <span ng-show="views.search.project_filter && views.search.project_filter != '' &&
      views.search.project && views.search.project != ''">{{views.search.project}} &rang;</span>

    <span ng-show="views.search.user_filter && views.search.user_filter != '' && 
      views.search.user && views.search.user != ''">{{views.search.user}} &rang;</span> 

    <span ng-if="views.search.count == 1" ng-show="views.search.sample_type && views.search.sample_type">
      {{views.search.sample_type}} (1 sample) &rang;</span>

    <span ng-if="views.search.count > 1" ng-show="views.search.sample_type && views.search.sample_type">
      {{views.search.sample_type}} ({{views.search.count}} samples) &rang;</span>

  </span>

<% end %>

<% content_for :action2 do %>
  <md-menu>

    <md-button class='md-raised' ng-click="create_sample_dialog()">Create Sample</md-button>

    <md-menu-content>
      <md-menu-item ng-repeat="st in sample_types">
        <md-button ng-click="new_sample(st)">{{st.name}}</md-button>
      </md-menu-item>
    </md-menu-content>

  </md-menu> 

  <md-select-header>Test Sample Type</md-select-header>
  <select ng-model="views.sample_type.selection" ng-options="st.name for st in sample_types" aria-label="Select sample type"></select> 

  <script type="text/ng-template" id="dialog.html">
    <md-dialog style="width: 40%; height: 60%">
        <md-toolbar class="item-toolbar _md _md-toolbar-transitions">
          <div class="md-toolbar-tools">
            <h2 class="item-label md-truncate flex">Create New Sample</h2>
          </div>
        </md-toolbar>

        <md-dialog-content class="md-dialog-content">
          <div flex="60" layout="column">
            <md-input-container>
              <md-select-header>Sample Type</md-select-header>
              <select ng-model="views.sample_type.selection" aria-label="Select sample type">
                <option ng-repeat="st in sample_types" ng-disabled="$index === 1" ng-click="new_sample(st)" ng-value="st.name">
                  {{st.name}}
                </option>
              </select> 
            </md-input-container>

            <md-input-container>
              <div>Sample Name</div>
              <input class="input-no-style full" type="text" name="sample_name" required ng-model="sample.name" md-maxlength="255" aria-label="Input sample name">
              <div ng-messages="sample_name.$error"></div>
              <div ng-messages="!sample_name.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The sample name must be less than 255 characters long.</div>
              </div>
            </md-input-container>     
       
            <md-input-container>
              <div>Sample Description</div>
              <input class="input-no-style full" type="text" name="sample_description" required ng-model="sample.description" md-maxlength="255" aria-label="Input sample description">
              <div ng-messages="sample_description.$error"></div>
              <div ng-messages="!sample_description.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The sample name must be less than 255 characters long.</div>
              </div>
            </md-input-container> 
            
            <md-input-container>
              <div>Project</div>
              <input class="input-no-style full" type="text" name="sample_project" required ng-model="sample.project" md-maxlength="255" aria-label="Input sample project">
              <div ng-messages="sample_project.$error"></div>
              <div ng-messages="!sample_project.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The sample name must be less than 255 characters long.</div>
              </div>
            </md-input-container> 
          </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
          <md-button class="md-primary md-cancel-button md-button ng-scope md-default-theme md-ink-ripple" ng-click="dialog.cancel()">Cancel</md-button>
          <md-button class="md-primary md-confirm-button md-button md-ink-ripple md-default-theme" ng-disabled="dialogForm.$invalid" class="md-primary">Save</md-button>
        </md-dialog-actions>
    </md-dialog>
  </script>
<% end %>

<% content_for :action3 do %>
  <md-button class='md-raised md-primary'
     ng-click="save_new_samples()"
     ng-disabled="views.create.samples.length == 0">
    Save
  </md-button>
<% end %>

<% content_for :action4 do %>
  <%= render partial: "create_control" %> 
<% end %>

<% content_for :action5 do %>
  <div layout="row"
         layout-align="start center"
         class="new-collection">    
      <md-menu>
        <md-button class="md-raised md-button"
          ng-click="openCollectionMenu($mdMenu, $event)"
          id="new-collection-button"
          data-search-button="new-collection">
          New Collection
        </md-button>
        <md-menu-content>
          <md-menu-item ng-repeat="ctype in collection_types">
            <md-button ng-click="new_collection(ctype)"
                       ng-attr-data-new-collection-type="{{ctype.name}}"
                       data-search-menu="collection-types">{{ctype.name}}</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
<% end %>

<%= content_for :main do %>
  <%= render partial: "view_heading" %>        
  <%= render partial: "messages" %>
  <%= render partial: "new_samples" %>
  <%= render partial: "search_results" %>          
<% end %>

