<div ng-app="aquarium" class='browser'>

  <div id="browser-control" ng-controller='browserCtrl as browser'>

    <!-- TEMPLATES -->
    <%= render partial: "sample_router" %>
    <%= render partial: "sample_heading" %>    
    <%= render partial: "sample" %>
    <%= render partial: "inventory" %>    
    <%= render partial: "form" %>

    <div class='box'>

      <div class='row-fluid'>

        <div class='span3 tree-nav column'>
          <%= render partial: "user_control" %> 
          <%= render partial: "search_control" %>
          <%= render partial: "create_control" %>                  
          <%= render partial: "recent_navigator" %>          
          <%= render partial: "project_navigator" %>         
        </div>

        <div class='span9 viewer column'>
          <%= render partial: "view_heading" %>        
          <%= render partial: "messages" %>
          <%= render partial: "new_samples" %>
          <%= render partial: "project_view" %>
          <%= render partial: "recent_samples" %>     
          <%= render partial: "search_results" %>              
        </div>

      </div>

    </div>

  </div>

</div>