<table class='table'>
  <tr>
    <th>Metacol</th>
    <th>Path</th>
    <% if status %>
      <th>Status</th>
    <% end %>
    <th>Started</th>
    <th>Last Updated</th>
    <th>Total Jobs</th>
    <th>Active Jobs</th>
    <th>Pending Jobs</th>
    <th>User</th>
    <% if !status %>
      <th></th>
    <% end %>
  </tr>

<% metacols.each do  |metacol| %>
  <% jobs = metacol.jobs %>
  <tr>
    <td><%= link_to metacol.id, metacol %></td>
    <td><%= metacol.path %></td>
    <% if status %>
      <td><%= metacol.status %></td>
    <% end %>
    <td><%= time_ago_in_words(metacol.created_at).capitalize %> ago</td>
    <td><%= time_ago_in_words(metacol.updated_at).capitalize %> ago</td>
    <td><%= jobs.length %></td>
    <td><%= (jobs.select { |j| j.pc >= 0 }).length %></td>
    <td><%= (jobs.select { |j| j.pc == Job.NOT_STARTED }).length %></td>
    <td><%= User.find(metacol.user_id).login %></td>
    <% if !status %>
      <td><%= link_to metacol_stop_path(metacol), data: { confirm: 'Stop metacol process? All unstarted jobs will be canceled. The metacol cannot be restarted!' } do %>
        <i class='icon-stop'></i>
      <% end %></td>
    <% end %>
  </tr>
<% end %>
</table>
