<% provide(:title, params[:path]) %>

<h1>Start Metacol: <%= params[:path] %></h1>

<% if @errors != "" || @parse_errors != "" %>

  <h4>Error</h4>

  <div id='well'>
    <p><%= @parse_errors %><%= @errors %></p>
  </div>
<pre><%= @content %></pre> 
<% else %>

<h4>Arguments</h4>
<div id='argument-chooser'></div>

<br />

<h4>Metacol Owner(s)</h4>
<p>Note: Choosing a group as an owner will start an instance of the metacol for <b>each</b> member of that group (which you rarely will want to do).</p>
<div id='group-chooser'></div>

<br />
<div id='button-area'></div>

<% end %>


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h4 id="myModalLabel">Launching <%= @path %></h4>
  </div>
  <div class="modal-body">
    <center><%= image_tag 'waiting_animation.gif' %></center>
  </div>
</div>

<script>


<% if @errors == "" %>

  // get arguments
  var args = [];
  <% @arguments.each do |a| %>
    args.push({
      name: '<%= a[:name] %>', 
      description: '<%= a[:description] %>',
      type: '<%= a[:type] %>',
      sample_type: '<%= a[:sample_type] %>'
    });
  <% end %>

  <%= render partial: 'interpreter/build_cart' %>
  <%= render partial: 'interpreter/build_objects' %>
  <%= render partial: 'interpreter/build_groups' %>

  // run javascript ui maker thingy
  ac = new ArgumentUI('<%= @sha %>',args,cart,objects);
  ac.metacol = true;
  ac.path = '<%= @path %>';
  ac.display_form();
  ac.display_groups(groups,users,'<%= current_user.login %>');

  if ( args.length == 0 ) {

    $('#argument-chooser').append('<p>None</p>');

  }

  document.getElementById('launch-button').onclick = splash_launch_alert;

  function splash_launch_alert() {
    $('#myModal').modal();
  }

<% end %>

</script>
