<h1>Active Metacols</h1>

<table class='table'>
  <tr>
    <th>Metacol</th>
    <th>Path</th>
    <th>User</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

<% @metacols.each do |metacol| %>
  <tr>
    <td><%= link_to metacol.id, metacol %></td>
    <td><%= metacol.path %></td>
    <td><%= User.find(metacol.user_id).login %></td>
    <td><%= metacol.status %></td>
    <td><%= link_to 'Stop', metacol_stop_path(metacol), data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Delete', metacol, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Start a Metacol', protocol_tree_home_path %>
