<% [ "RUNNING", "NOT_RUNNING" ].each do |stat| %>

  <h3><%= stat == 'RUNNING' ? "Active" : "Completed" %></h3>

  <table class='table' id='<%= stat %>' data-source='<%= metacols_url(format: 'json', status: stat) %>'>
    <thead>  
      <tr>
        <th>Id</th>
        <th>Metacol*</th>
        <th>Arguments</th>
        <th>Submitted by</th>
        <% if stat == 'RUNNING' %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <div style='height: 40px'></div>

<% end %>

<script>

  $('#RUNNING').dataTable({
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": $('#RUNNING').data('source'),
    "order": [ 0, 'desc' ],
    "lengthMenu": [ 10, 20, 50, 75, 100 ],
    "search": { 
      "search": '<%= current_user.login %>'
    }
  });

  $('#NOT_RUNNING').dataTable({
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": $('#NOT_RUNNING').data('source'),
    "order": [ 0, 'desc' ],
    "lengthMenu": [ 10, 20, 50, 75, 100 ],
    "search": { 
      "search": '<%= current_user.login %>'
    }
  });


</script>