<style>
.status {
  color: #ccc;
}
</style>


<% if @mc.num_pending_jobs > 10 %>
  <p class='alert'>This process is currently associated with more than 10 active or pending jobs. Further jobs
                   will not be started until such jobs are completed.</p>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Metacol Process <%= @mc.id %>: <%= @mc.path %> <span class='status'>(<%= @mc.status.downcase %>)</span></h1>

<p><b>Started:</b>
  <%= time_ago_in_words(@mc.created_at).capitalize %> ago by
  <i><%= User.find(@mc.user_id).login %></i>
</p>

<p><b>Last updated:</b>
  <%= time_ago_in_words(@mc.updated_at).capitalize %> ago 
</p>

<% if @mc.message %>
<p class="alert"><%= @mc.message %></p>
<% end %>

<div class='row-fluid'>

  <div class='span3' id='paper'></div>

  <div class='span9'>

<% if @errors == "" %>

  <% @metacol.places.each do |p| %>

    <% if p.marked? %>
      <div class='well marked'>
    <% else %>
      <div class='well unmarked'> 
    <% end %>

      <p>
        <b><%= p.name.capitalize %>.
        </b> <i><%= p.protocol %></i>
        <% if p.marked? && p.started %>
          [<%= Time.at(p.started).to_formatted_s(:short) %>]
        <% end %>
      </p> 

      <% logger.info "PLACE JOBS: #{p.jobs.inspect}" %>

      <% pending = @mc.jobs.reject { |j| j.pc == Job.COMPLETED || (!p.jobs.include? j.id) } %>
      <% completed = @mc.jobs.reject { |j| j.pc != Job.COMPLETED || (!p.jobs.include? j.id) } %>

      <% if pending.length > 0 %>
	<h4>Pending or Active</h4>
	<%= render partial: 'jobs/job_list', locals: { 
	    jobs: pending,
	    last_updated: true, 
	    runnable: false, 
	} %>
      <% end %>

      <% if completed.length > 0 %>
	<h4>Completed Jobs:
	<% completed.each do |j|%>
	  <% s = j.status.downcase %>
	  <div class='<%= s %>'>
	    <%= link_to "#{j.id}", j %> 
	    <% if s != 'completed' %>(<%= s %>)<% end %>
	  </div>
	<% end %>
      <% end %></h4>

    </div>

  <% end %>

  <%= link_to 'List All', metacols_path, class: 'btn' %>

  <%= render 'details' %>

<% else %>
  <p>Details about this metacol are no longer available.</p>
<% end %>

  </div>

</div>

<% if @errors == "" %>
  <script>
    pn = new PN();
    pn.layout(<%= @metacol.for_layout.to_json.html_safe %>);
  </script>
<% end %>


