<style>

.status {
  color: #ccc;
}

</style>

<p id="notice"><%= notice %></p>

<h1>Metacol Process <%= @mc.id %>: <%= @mc.path %> <span class='status'>(<%= @mc.status.downcase %>)</span></h1>

<p><b>Started:</b>
  <%= time_ago_in_words(@mc.created_at).capitalize %> ago by
  <i><%= User.find(@mc.user_id).login %></i>
</p>

<p><b>Last updated:</b>
  <%= time_ago_in_words(@mc.updated_at).capitalize %> ago 
</p>

<% @metacol.places.each do |p| %>

  <div class='well'>

    <p><b><%= p.protocol %></b></p>

    <% pending = @mc.jobs.reject { |j| j.pc == Job.COMPLETED || (!p.jobs.include? j.id) } %>
    <% completed = @mc.jobs.reject { |j| j.pc != Job.COMPLETED || (!p.jobs.include? j.id) } %>

    <% if pending.length > 0 %>
      <h4>Pending or Active</h4>
      <%= render partial: 'jobs/job_list', locals: { 
          jobs: pending,
          last_updated: true, 
          runnable: false, 
      } %>
    <% end %>

    <% if completed.length > 0 %>
      <h4>Completed:
      <% p.jobs.each do |j|%>
        <%= link_to "#{j}", Job.find_by_id(j) %>
      <% end %>
    <% end %></h4>

  </div>

<% end %>

<%= render 'details' %>


