<h1><%= @workflow_process.id %> : 
    <%= link_to @workflow_process.workflow.name, @workflow_process.workflow %>
    <%= @workflow_process.state_hash[:debug] ? "[DEBUG]" : "" %></h1>

<% @workflow_process.operation_containers.each do |oc| %>

  <% if oc[:jid] %>
    <% job = Job.find(oc[:jid])%>
    <% if job.status == "PENDING" 
         color = "#eff"
       elsif job.status == "COMPLETED"
         color = "#efe"
       else 
         color = "#fff"
       end %>
  <% end %>

  <div class='well' style='background: <%= color %>'>

  <h4><%= oc[:operation][:id] %>: <%= oc[:operation][:name] %>: 
    <% if job %>
      Implemented by Job <%= link_to oc[:jid], job %> (<%= job.status %>)
      <% unless job.status == "COMPLETED" %>
        <%= job.start_link "<i class='icon-play'></i>" %>
      <% end %>
    <% end %>
  </h4>

    <% if job && job.error? %>
      <div class='alert alert-error'>
        <b>Error: <%= job.error_message.html_safe %></b><br />
        <ul>
          <% job.error_backtrace.each do |entry| %>
            <li><%= entry %></li>
          <% end %>
        </ul>
      </div>
    <% end %>  

    <div class='showhide'>

      <div class='row-fluid'>

        <div class='span3'>
          <h5>Inputs</h5>
          <% oc[:operation][:inputs].each do |input| %>
            <h4><%= input[:name] %></h4>
            <div class="json"><%= input[:instantiation].to_json %></div>
          <% end %>
        </div>

        <div class='span3'>
          <h4>Parameters</h4>
          <% oc[:operation][:parameters].each do |p| %>
            <h5><%= p[:name] %></h5>
            <div class="json"><%= p[:instantiation].to_json %></div>
          <% end %>
        </div>     

        <div class='span3'>
          <h4>Outputs</h4>
          <% oc[:operation][:outputs].each do |output| %>
            <h5><%= output[:name] %></h5>
            <div class="json"><%= output[:instantiation].to_json %></div>
          <% end %>
        </div>

        <div class='span3'>
          <h4>Data</h4>
          <% oc[:operation][:data].each do |d| %>
            <h5><%= d[:name] %></h5>
            <div class="json"><%= d[:instantiation].to_json %></div>
          <% end %>
        </div>

      </div>

    </div>

  </div>

<% end %>

<!-- pre>
  <%= @workflow_process.state_hash %>
</pre -->

<script>
  showhide();
  $(".json").each(function() {
    var j = $(this).html();
    $(this).empty();
    render_json($(this),JSON.parse(j));
  });
</script>
