<%= form_for(@budget) do |f| %>

  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
      <% @budget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Budget Number / short name" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label "Contact" %>
    <%= f.text_field :contact %>
  </div>      

  <div class="field">
    <%= f.label "Contact's email" %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label "Contact's phone" %>
    <%= f.text_field :phone %>
  </div>

  <div class="actions">
    <br />
    <% if @budget.id %>
      <%= f.submit 'Save', class: 'md-button md-raised md-primary' %>
    <% else %>
      <%= f.submit 'New Budget', class: 'md-button md-raised md-primary' %>
    <% end %>
  </div>
       
<% end %>
