<div layout-padding flex=50>

<%= form_for(@budget) do |f| %>

  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(@budget.errors.count, "error") %>.
      </div>
      <ul>
      <% @budget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label "Budget Number / short name" %>
    <%= f.text_field :name, placeholder: "Your budget number/name"%>

    <%= f.label :description %>
    <%= f.text_field :description, placeholder: "Budget description" %>

    <%= f.label "Contact" %>
    <%= f.text_field :contact, placeholder: "Contact name" %>

    <%= f.label "Contact's email" %>
    <%= f.text_field :email, placeholder: "Contact email"%>

    <%= f.label "Contact's phone" %>
    <%= f.text_field :phone, placeholder: "Contact phone"%>

  <div class="actions">
    <br />
    <% if @budget.id %>
      <%= f.submit 'Save', class: 'md-button md-raised md-primary' %>
    <% else %>
      <%= f.submit 'New Budget', class: 'md-button md-raised md-primary' %>
      <%= link_to 'Back', budgets_path, class: 'md-button md-raised md-primary' %>
    <% end %>
  </div>
       
<% end %>

</div>
