<h1>Listing budgets</h1>

<table class='table'>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Contact</th>  
    <th>Users</th>      
    <th></th>
    <th></th>
  </tr>

<% @budgets.each do |budget| %>
  <tr>
    <td><%= link_to budget.name, budget %></td>
    <td><%= budget.description %></td>
    <td><%= budget.contact %></td>        
    <td>
      <%= budget.user_budget_associations.collect { |uba|
          uba.user.name
        }.join(', ')
      %>
    </td>            
    <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
    <td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Budget', new_budget_path, class: "btn" %>
