<% provide(:title, 'Budgets') %>

<%= content_for :controller do %>noCtrl<% end %>

<% content_for :specific_title do %><% end %>

<% content_for :sidebar do %>
  <div flex layout-padding>
    <h3>Create Budget</h3>

<%= form_for(@budget) do |f| %>

  <% if @budget.errors.any? %>
      <%= render 'form' %> 
  <% end %>

  <%= f.label "Budget Number / short name" %>
  <%= f.text_field :name, placeholder: "Your budget number/name"%>

  <%= f.label :description %>
  <%= f.text_field :description, placeholder: "Budget description" %>

  <%= f.label "Contact" %>
  <%= f.text_field :contact, placeholder: "Contact name" %>

  <%= f.label "Contact's email" %>
  <%= f.text_field :email, placeholder: "Contact email"%>

  <%= f.label "Contact's phone" %>
  <%= f.text_field :phone, placeholder: "Contact phone"%>

  <div class="actions">
    <br />
    <% if @budget.id %>
      <%= f.submit 'Save', class: 'md-button md-raised md-primary' %>
    <% else %>
      <%= f.submit 'New Budget', class: 'md-button md-raised md-primary' %>
    <% end %>
       
<% end %>

</div>

  </div>
<% end %>

<% content_for :main do %>

    <table class='table'>
      <tr>
        <th style="width: 10%">Name</th>
        <th style="width: 30%">Description</th>
        <th style="width: 10%">Contact</th>  
        <th style="width: 40%">Users</th>      
        <th style="width: 5%"></th>
      </tr>

      <% @budgets.each do |budget| %>
        <tr>
          <td><%= link_to budget.name, budget %></td>
          <td><%= budget.description %></td>
          <td><%= budget.contact %></td>        
          <td>
            <%= budget.user_budget_associations.collect { |uba|
                uba.user.name
              }.join(', ')
            %>
          </td>            
          <td>
            <%= link_to edit_budget_path(budget) do %>
              <icon class='icon-pencil'></icon>
            <% end %>
          </td>
        </tr>
      <% end %>

    </table>

<% end %>
