<p id="notice"><%= notice %></p>

<h2>
  <%= @budget.name %>: <%= @budget.description %>
</h2>

<p>
  Contact: <%= @budget.contact %><br />
  Phone:  <%= @budget.phone %><br />
  Email:  <%= @budget.email %>  
</p>

<table class='table' style='width: 70%'>

  <tr>
    <th>User</th>
    <th>Quota</th>
    <th>Spent this month</th>    
    <th>Spent total</th>
    <th></th>
    <th></th>
  </tr>

  <% @budget.user_budget_associations.each do |uba| %>
    <tr>
      <td><%= link_to uba.user.name, uba.user %></td>
      <td><%= number_to_currency(uba.quota) %></td>
      <td><%= 12 %></td>
      <td><%= 13 %></td>      
      <td><%= uba.disabled ? 'disabled' : '' %></td>
      <td><a href='#' class='remove-user' data-uid=<%= uba.user_id %>><icon class='icon-remove'></icon></a></td>
    </tr>
  <% end %>

</table>

<% if current_user.is_admin %>

  <div class='well'>
    <h4>Add new user</h4>
    User:
    <select id='user'>
      <% @users.each do |u| %>
        <option value=<%= u.id %>><%= u.name %> (<%= u.login %>)</option>
      <% end %>
    </select><br/>
    Monthly Max: $<input id='quota' type=number value=1000></input><br />
    <button class='btn btn-small' id="add-user">Add</button>
  </div>

  <p>
    <%= link_to 'Edit', edit_budget_path(@budget), class: "btn" %> 
    <%= link_to 'Back', budgets_path, class: "btn"  %>
  </p>

<% end %>

<script>

  $('#add-user').click(function() {
    var uid = $('#user').val();
    var quota = $('#quota').val();
    window.location = '/budgets/add/' + <%= @budget.id %> + '/' + uid + '/' + quota;
  });

  $('.remove-user').click(function() {
    var uid = $(this).data('uid');
    window.location = '/budgets/remove/' + <%= @budget.id %> + '/' + uid;
  });


</script>