<%= form_for(@workflow) do |f| %>

  <% if @workflow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workflow.errors.count, "error") %> prohibited this workflow from being saved:</h2>

      <ul>
      <% @workflow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :specification %>
  <textarea id="workflow_specification" name="workflow[specification]" id='spec' 
            class="input-block-level code-text-area" rows="20" cols="80"></textarea>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>

$('#workflow_specification').html(JSON.stringify(JSON.parse('<%= @workflow.specification.gsub(/\n|\r/, '').html_safe %>'),null,2));

</script>