<style>
.workflow-list-entry {
  border: 1pt solid #eee;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>

<h1>Available Workflows</h1>

<%= link_to 'New', new_workflow_path, class: 'btn btn-small btn-primary' %>
<a href="#" id="launch" class='btn btn-small btn-success'>Launch</a>
<a href="#" id="delete" class='btn btn-small btn-warning' data='Are you sure?'>Delete</a>
<br />

<ul class='unstyled'>

<% @workflows.reverse.each do |workflow| %>

  <li class='workflow-list-entry'>
    <div class='row-fluid'>
      <div class='span1'>
      <center>
        <input type='radio'value=<%= workflow.id %> name='workflow' style='margin-top: 12px'>
      </center>
      </div>
      <div class='span3'>
        <h4> <%= workflow.id %>: <%= link_to workflow.name, workflow %></h4>
      </div>
      <div class='span8'>
        <span class='showhide'><p>Created: <%= time_ago_in_words(workflow.created_at) %> ago<br />
           <% if workflow.parse_spec[:description]  && workflow.parse_spec[:description] != "" %>
           <b><%= workflow.parse_spec[:description]%></b><br />
           <% end %>
           Run <%= workflow.processes.length %> times.
        </p></span>
      </div>
    </div>    
  </li>

<% end %>
</ul>

<script>

$('#launch').click(function() {  
  var wid = $("input[name=workflow]:checked").val();
  if ( wid ) {
    window.location = "/workflow_processes/new?wid=" + wid;
  }
});

$('#delete').click(function() {  
  var wid = $("input[name=workflow]:checked").val();
  if ( wid ) {
    if ( confirm ( "Are you sure you want to delete workflow " + wid + "?" ) ) {
      var url = "/workflows/" + wid + ".json";
      $.ajax({
        url: url,
        method: "DELETE"
      }).success(function() {
        window.location = "/workflows"
      }).error(function(data) {
        console.log("Error deleting workflow " + wid);
      })
    }
  }
});

showhide();

</script>

