<% height = '100vh' %>

<div ng-app="workflow_editor">

  <style>
    canvas {
      outline: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
    }
  </style>

  <div class="row-fluid">

    <div id="controls" class="span1" style="border: 1pt solid #eee; height: <%= height %>">
      <div style="margin: 10px">
        <button class="btn btn-block" id="AddButton" onclick="add()">Add</button>
        <button class="btn btn-block" id="SaveButton" onclick="save()">JSON</button>
      </div>
    </div>

    <div class="span7">
      <div id="workflow" style="height:<%= height %>;">
      </div>
    </div>

    <div class="span4" style="border: 1pt solid #eee; height: <%= height %>">
      <%= render partial: 'workflow_form' %>
    </div>

  </div>

</div>

<span id="workflow-data"></span>

<script>

  $(function() {
    o = go.GraphObject.make;
    we = new WorkflowEditor(<%= params[:id] %>,"workflow","workflow-data");
  });

  function save() {
    document.getElementById("workflow-data").value = we.json();
  }

  function add() {
    we.addOperation();
  }  

</script>