<% provide(:title, 'Developer') %>

<%= render partial: 'io_form' %>
<%= render partial: 'show_block' %>
<%= render partial: 'steps' %>     
<%= render partial: 'code' %>   

<%= content_for :class do %>operation_types<% end %>
<%= content_for :controller do %>operationTypesCtrl as planner<% end %>    
<%= content_for :main_no_padding do %>true<% end %>

<%= content_for :sidebar do %>

  <div class="title">
    <h1 class="md-title">Categories</h1>
  </div>

  <ul class='op-type-list'>    

    <li ng-repeat="category in categories track by $index">

      <b ng-click="choose_category(category)" class="no-highlight clickable">
        <span ng-if="current_category != category">&#9658;</span>
        <span ng-if="current_category == category">&#9660;</span>             
        {{category}}
        ({{category_size(category)}})
      </b>

      <ul ng-if="current_category == category" class='op-type-sublist'>
        <li ng-repeat="ot in operation_types | filter: { category: category } : true track by $index" 
            ng-click="choose(ot)"
            ng-class="ot_class(ot)">{{ot.name}}</li>
      </ul>

    </li>

  </ul>

<% end %>

<% content_for :specific_title do %>

  <span ng-if="initialized">
    &rang; {{current_category}} &rang; {{current_ot.name}}
  </span>

<% end %>

<% content_for :action1 do %>
  <md-button class="md-raised" ng-click="new_operation_type()">New</md-button>
<% end %>

<% content_for :action2 do %>
      <label class="md-button md-raised">
        Import <input type=file
                        id="import"
                        file="import"
                        style="display: none;"
                        custom-on-change="import">
      </label>
<% end %>

<% content_for :action3 do %>
  <md-button class='md-raised' ng-if="current_category" ng-click="export_category(current_category)">
    Export Category
  </md-button>
<% end %>

<%= content_for :main do %>

  <div flex layout-padding ng-if="!initialized">
    <div layout="row">
      <div flex="25"></div>
      <div flex="50">
        <br /><br />
        <h2 class="md-title">Loading ...</h2>
        <br />
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>
    </div>
  </div>

  <div ng-show="operation_types && current_ot"> 

    <md-nav-bar md-selected-nav-item="mode" nav-bar-aria-label="Operation Type Editing Modes" md-no-ink-bar='false'>
      <md-nav-item md-nav-click="set_mode('definition')" name='definition'>Def</md-nav-item>
      <md-nav-item md-nav-click="set_mode('protocol')" name="protocol">Protocol</md-nav-item>
      <md-nav-item md-nav-click="set_mode('precondition')" name="precondition">Pre</md-nav-item>
      <md-nav-item md-nav-click="set_mode('cost')" name="cost">Cost</md-nav-item>
      <md-nav-item ng-if="mode != 'documentation_view'" md-nav-click="set_mode('documentation')" name="documentation">Docs</md-nav-item>
      <md-nav-item ng-if="mode == 'documentation_view'" md-nav-click="set_mode('documentation')" name="documentation_view">Docs</md-nav-item>
      <md-nav-item md-nav-click="set_mode('timing')" name="timing">Timing</md-nav-item>
      <md-nav-item md-nav-click="set_mode('test')" name="test">Test</md-nav-item>
    </md-nav-bar> 

    <div class="ot-part-container">

      <%= render partial: 'definition' %>

      <div ng-include="'code'" ng-init="name='protocol'"      ng-if="current_ot.protocol && mode == 'protocol'" ></div>
      <div ng-include="'code'" ng-init="name='precondition'"  ng-if="current_ot.precondition && mode == 'precondition'"></div>
      <div ng-include="'code'" ng-init="name='cost_model'"    ng-if="current_ot.cost_model && mode == 'cost'"></div>        

      <div ng-include="'code'" ng-init="name='documentation'" ng-if="current_ot.documentation && mode == 'documentation'"></div>
      <div ng-if="current_ot.documentation && mode == 'documentation_view'" ng-controller="codeCtrl as code" layout-padding>
        <div ng-bind-html="current_ot.rendered_docs"></div>

        <div class='code-controls'>
          <md-button class='md-raised md-medium'
                      ng-click="save(current_ot,'documentation')" 
                      ng-disabled="!current_ot.documentation.changed">Save</md-button>
          <md-button class='md-raised md-medium' ng-click="edit_docs(current_ot)">Edit</md-button>
        </div>  

      </div>  

      <%= render partial: 'test' %>
      <%= render partial: 'timing' %>

    </div>

  </div>

  <div class='ng-modal item-modal' ng-show='import_popup.show'>
    <div class='ng-modal-overlay' ng-click='import_popup.show=false'></div>
      <div class='ng-modal-dialog item-modal-content scrollable' layout-padding>

          <md-toolbar class="item-toolbar">
            <div class="md-toolbar-tools">
              <h2 flex md-truncate>Import Results</h2> 
            </div>
            <div class='item-close' ng-click='import_popup.show=false'>&times;</div>
          </md-toolbar>

          <p ng-if="import_popup.inconsistencies.length > 0"><b>
            Import notes:
          </b></p>

          <ul>
            <li ng-repeat="note in import_popup.notes">
              {{note}}
            </li>
          </ul>

          <p ng-if="import_popup.inconsistencies.length > 0"><b>
            The following issues need to be addressed before this import can be completed:
          </b></p>
          <ul>
            <li ng-repeat="i in import_popup.inconsistencies">
              {{i}}
            </li>
          </ul>

      </div>
    </div>
  </div>  

<% end %>





