
<table class='table'>
  <tr>
    <th>Job</th>
    <th>Protocol</th>
    <th>Submitted by</th>
    <th>Group</th>
    <th>Arguments</th>
    <th>Desired Start</th>
    <th>Latest Start</th>
    <% if last_updated %><th>Last Update</th><% end %>
    <th></th>
    <th></th>
  </tr>

<% jobs.each do |j| %>

  <% if /\.rb$/ =~ j.path || /\.kl$/ =~ j.path %>
    <% args = [] %>
  <% else %>
    <% args = (JSON.parse(j.state))['stack'].first.reject { |k,v| k == 'user_id' } %>
  <% end %>

    <tr>
      <td><%= link_to j.id.to_s, j %></td>
      <td><%= j.path %></td>

      <% if j.metacol_id %>
        <% m = Metacol.find_by_id(j.metacol_id) %>
        <% if m %>
          <td>Metacol <%= link_to "#{j.metacol_id}", m %></td>
        <% else %>
          <td>Unkown metacol</td>
        <% end %>
      <% else %>
        <td><%= u = User.find_by_id(j.submitted_by); u ? u.login : 'nobody' %></td>
      <% end %>
      <td><%= g = Group.find_by_id(j.group_id); g ? (link_to g.name, g) : 'no group' %></td>
      <td>
        <% if args.length > 0 %>
          <span class='showhide'><span>
            <% args.each do |k,v| %>
              <%= ("<b>" + k.to_s + "</b>: " + v.to_s).html_safe %><br />
            <% end %>
          </span></span>
        <% else %>
          -
        <% end %>
      </td>
      <td><%= j.desired_start_time.to_formatted_s(:short) %></td>
      <td><%= j.latest_start_time.to_formatted_s(:short) %></td>
      <% if last_updated && j.updated_at != j.created_at %>
        <td>
          <%= time_ago_in_words(j.updated_at)%> ago
          <% if false && j.user_id && j.user_id != -1 %>
            by <%= User.find(j.user_id).login %>
          <% end %>
        </td>
      <% else %>
        <td></td>
      <% end %>
      <% if runnable %>
        <td>
          <% if /\.rb$/ =~ j.path %>
            <%= link_to krill_start_path(job:j.id) do %>
		<i class='icon-play'></i>         
	      <% end %>
          <% else %>
	    <% if j.pc == Job.NOT_STARTED %>
	      <%= link_to interpreter_advance_path(job:j.id) do %>
		<i class='icon-play'></i>         
	      <% end %>
	    <% elsif j.pc != Job.COMPLETED %>
	      <%= link_to interpreter_current_path(job:j.id) do %>
		<i class='icon-play'></i>
	      <% end %>
	    <% end %>
          <% end %>
       </td>
      <% else %>
         <td><%= link_to interpreter_edit_path(job:j.id) do %>
           <% if (defined? editable) && editable %><i class='icon-edit'></i><% end %>
         <% end %> &nbsp;&nbsp;
          <% if j.pc == Job.NOT_STARTED %>
            <%= link_to interpreter_advance_path(job:j.id), data: { confirm: 'This job is scheduled for the future. Are you sure you want to start it now?' } do %>
              <i class='icon-play'></i>         
            <% end %>
          <% elsif j.pc != Job.COMPLETED %>
            <%= link_to interpreter_current_path(job:j.id), data: { confirm: 'This job is scheduled for the future. Are you sure you want to start it now?' } do %>
              <i class='icon-play'></i>
            <% end %>
          <% end %>
         </td>
      <% end %>
      <td><% if j.pc >= -1 %><%= link_to '/interpreter/cancel?job=' + j.id.to_s, data: { confirm: 'Are you sure?' } do %>
        <i class='icon-remove'></i>
      <% end %><% end %></td>
    </tr>

  <% end %>

</table>
