
<table class='table'>
  <tr>
    <th>Job</th>
    <th>Protocol</th>
    <th>Submitted by</th>
    <th>Group</th>
    <th>Arguments</th>
    <th>Desired Start Time</th>
    <th>Latest Start Time</th>
    <% if last_updated %><th>Last updated</th><% end %>
    <th></th>
    <th></th>
  </tr>

<% jobs.each do |j| %>

  <% args = (JSON.parse(j.state))['stack'].first.reject { |k,v| k == 'user_id' } %>

    <tr>
      <td><%= link_to j.id.to_s, j %></td>
      <td><%= link_to j.path, protocol_tree_raw_path(sha: j.sha, format: 'xml'), target: j.path %></td>
      <td><%= u = User.find_by_id(j.submitted_by); u ? u.login : 'nobody' %></td>
      <td><%= g = Group.find_by_id(j.group_id); g ? (link_to g.name, g) : 'no group' %></td>
      <td>
        <% if args.length > 0 %>
            <% args.each do |k,v| %>
              <%= ("<b>" + k.to_s + "</b>: " + v.to_s).html_safe %><br />
            <% end %>
        <% else %>
          -
        <% end %>
      </td>
      <td><%= j.desired_start_time.to_formatted_s(:short) %></td>
      <td><%= j.latest_start_time.to_formatted_s(:short) %></td>
      <% if last_updated %><td><%= j.updated_at.to_formatted_s(:short) %></td><% end %>
      <% if runnable %>
        <td>
          <% if j.pc == Job.NOT_STARTED %>
            <%= link_to interpreter_advance_path(job:j.id) do %>
              <i class='icon-play'></i>         
            <% end %>
          <% elsif j.pc != Job.COMPLETED %>
            <%= link_to interpreter_current_path(job:j.id) do %>
              <i class='icon-play'></i>
            <% end %>
          <% end %>
       </td>
      <% else %>
         <td></td>
      <% end %>
      <td><%= link_to 'interpreter/cancel?job=' + j.id.to_s, data: { confirm: 'Are you sure?' } do %>
        <i class='icon-remove'></i>
      <% end %></td>
    </tr>

  <% end %>

</table>
