<ul class="nav nav-list" id="tabs">

  <li class="nav-header">All Jobs</li>

  <li><a href="#pending" data-toggle="tab" class='job-tab' id="pending-tab">Pending
      <span class="jobs-table-size" id="table-pending-size"></span></a></li>

  <li><a href="#future" data-toggle="tab" class='job-tab' id="future-tab">Future
      <span class="jobs-table-size" id="table-future-size"></span></a></li>

  <li><a href="#active" data-toggle="tab" class='job-tab' id="active-tab">Active
      <span class="jobs-table-size" id="table-active-size"></span></a></li>

  <li class="nav-header">Filter</li>

  <div class="jobs-indent">

    <label class="radio">
      <input type="radio" name="optionsRadios" id="user-radio" value="option1" checked >User</input>
    </label>
    <select class="input-medium jobs-indent" id='user-select'>
      <% @users.each do |u| %>
        <option value='<%= u.id %>'><%= u.login %></option>
      <% end %>
    </select>

    <label class="radio">
      <input type="radio" name="optionsRadios" id="group-radio" value="option1">Group
    </label>
    <select class="input-medium jobs-indent" id='group-select' disabled>
      <% @groups.each do |g| %>
        <option value='<%= g.id %>'><%= g.name %></option>
      <% end %>
    </select>

    <label class="radio">
      <input type="radio" name="optionsRadios" id="all-radio" value="option1">All
    </label>

  </div>

  <br />

</ul>

<script>
  if ( ! $.cookie('jobs-user') ) {
    $.cookie('jobs-user','<%= current_user.id %>')
  }
  if ( ! $.cookie('jobs-group') ) {
    $.cookie('jobs-group','<%= @groups.first.id %>')
  }
</script>
