<h1>Jobs</h1>

<table class='table'>

  <tr>
    <th>Job</th>
    <th>Protocol</th>
    <th>Program<br />Counter</th>
    <th>Arguments</th>
    <th>Submitted by ...</th>
    <th>Started</th>
    <th>Last updated</th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |j| %>

  <tr>
    <td><%= j.id %></td>
    <td><%= link_to j.path, protocol_tree_raw_path(sha: j.sha, format: 'xml'), target: j.path %></td>
    <td><%= (JSON.parse(j.state))['pc'] %></td>
    <td>
      <% args = (JSON.parse(j.state))['stack'].first %>
      <% if args.length > 0 %>
          <% args.each do |k,v| %>
            <%= ("<b>" + k.to_s + "</b>: " + v.to_s).html_safe %><br />
          <% end %>
      <% else %>
        -
      <% end %>
    </td>
    <td><%= User.find(j.user_id).login %></td>
    <td><%= j.created_at.to_formatted_s(:short) %></td>
    <td><%= j.updated_at.to_formatted_s(:short) %></td>
    <td>
      <% if (JSON.parse(j.state))['pc'].to_i < 0 %>
        <%= link_to 'run', interpreter_advance_path(job:j.id) %>
      <% else %>
        <% link_to 'resume', interpreter_current_path(job:j.id) %>
      <% end %>
    </td>
    <td><%= link_to 'cancel', j, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

<% end %>

</table>

