<% provide(:title, 'Jobs') %>

<h2>Jobs: for <span class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @user.login %><b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <% (User.all.sort { |x,y| x.login <=> y.login}).each do |u| %>
        <li><%= link_to u.login, '/jobs?user_id=' + u.id.to_s %></li>
      <% end %>
    </ul>
</span></h2>

<% if @urgent_jobs.length > 0 %>
  <div class='well' style='border-color: red'>
    <h3>Overdue</h3>
    <%= render partial: 'job_list', locals: { jobs: @urgent_jobs, runnable: true } %>
  </div>
<% end %>

<% if @active_jobs.length > 0 %>
  <div class='well' style='border-color: green'>
    <h3>Active or Pending</h3>
    <%= render partial: 'job_list', locals: { jobs: @active_jobs, runnable: true } %>
  </div>
<% end %>

<% if @later_jobs.length > 0 %>
  <div class='well' style='border-color: #bbf'>
    <h3>Upcoming</h3>
    <%= render partial: 'job_list', locals: { jobs: @later_jobs, runnable: false } %>
  </div>
<% end %>

<% if @urgent_jobs.length + @active_jobs.length + @later_jobs.length == 0 %>
 <h4>No jobs found</h4>
<% end %>
