<% provide(:title,  "Job " + @job.id.to_s + ": " + @job.path) %>

<div class='job_status <%= @status.downcase %>'><%= @status %></div>

<h1>Job <%= @job.id %> : <%= @job.path %></h1>

<h3>Job Information</h3>

<ul class='list'>

  <li>Submitted by:

  <% if @job.metacol_id %>
        <% m = Metacol.find_by_id(@job.metacol_id) %>
        <% if m %>
          <td>Metacol <%= link_to "#{@job.metacol_id}", m %></td>
        <% else %>
          <td>Unkown metacol</td>
        <% end %>
      <% else %>
        <td><%= u = User.find_by_id(@job.submitted_by); u ? u.login : 'nobody' %></td>
      <% end %></li>

  <li>Assigned to Group: <b><%= @group ? (link_to @group.name, @group) : 'no group' %></b></li>

  <li>Performed by: <b><%= @user ? @user.login : 'not yet assigned' %></b></li>

  <% if @job.desired_start_time && @job.latest_start_time %>
    <li>Desired Start Time: <%= @job.desired_start_time.to_formatted_s(:short) %></li>
    <li>Latest Start Time: <%= @job.latest_start_time.to_formatted_s(:short) %></li> 
  <% end %>

  <br />

  <li>
      <% args = (JSON.parse(@job.state))['stack'].first.reject { |k,v| k == 'user_id' } %>
      <% if args.length > 0 %>
          Arguments:<ul>
          <% args.each do |k,v| %>
            <%= ("<li><b>" + k.to_s + "</b>: " + v.to_s).html_safe %></li>
          <% end %>
          </ul>
      <% else %>
        No Arguments
      <% end %>
  </li>

  <br />

<li>Version of <%= link_to @job.path, jobs_summary_path(path: @job.path) %> used:
               <%= link_to @job.sha, jobs_summary_url(path: @job.path, sha: @job.sha) %>
  (<a href='<%= "/interpreter/arguments?path=" + @job.path + "&sha=" + @job.sha %>'> Run again </a>)
  </li>

  <br />

  <li>Time Submitted: <%= @job.created_at.to_formatted_s(:short) %></li>
  <li>Last Updated: <%= @job.updated_at.to_formatted_s(:short) %></li>

</ul>

<div class='row-fluid'>

  <div class='span6'>
    <%= render partial: "item_touches", locals: { touches: @job.touches.select { |t| t.item_id != nil } } %>  
  </div>

  <div class='span6'>
    <%= render partial: "stats/timing" %>
  </div>

</div>

<div class='clear'></div>

<h3>Log</h3>

<table class='table'>
  <tr>
    <th>Time</th>
    <th>User</th>
    <th>Entry Type</th>
    <th style='width:61.8%'>Data</th>
  </tr>

<% ( @job.logs.reject { |l| l.entry_type == 'NEXT' } ).each do |entry| %>
  <tr>
    <td><%= entry.created_at.to_formatted_s(:short) %></td>
    <td><%= u = User.find_by_id(@job.submitted_by); u ? u.login : 'nobody' %></td>
    <td><%= entry.entry_type %></td>
    <td><%= entry.data %></td>
  </tr>
<% end %>
</table>

