<h1>Job <%= @job.id %> : <%= @job.path %></h1>

<h3>Job Information</h3>

<ul class='list'>
  <li>Submitted by: <b><%= User.find(@job.user_id).name %></b></li>
  <li>Submitted: <%= @job.created_at.to_formatted_s(:short) %></li>
  <li>Last Updated: <%= @job.updated_at.to_formatted_s(:short) %></li>
  <li>
      <% args = (JSON.parse(@job.state))['stack'].first.reject { |k,v| k == 'user_id' } %>
      <% if args.length > 0 %>
          Arguments:<ul>
          <% args.each do |k,v| %>
            <%= ("<li><b>" + k.to_s + "</b>: " + v.to_s).html_safe %></li>
          <% end %>
          </ul>
      <% else %>
        No Arguments
      <% end %>
  </li>
  <li>Version of <%= @job.path %> used: <%= link_to @job.sha, protocol_tree_raw_path(sha: @job.sha, format: 'xml'), target: @job.id.to_s + ":" + @job.path %></li>
</ul>

<h3>Timing</h3>

<div>
  <% ( @job.logs.reject { |l| l.entry_type != 'NEXT' } ).each do |entry| %>
    <span class='timing-block'>
      <div class='pc'><%= JSON.parse(entry.data)['pc'] %></div>
      <div class='time'><%= entry.created_at.strftime("%H:%M:%S") %></div>
    </span>
  <% end %>
</div>

<div class='clear'></div>

<h3>Log</h3>

<table class='table'>
  <tr>
    <th>Time</th>
    <th>User</th>
    <th>Entry Type</th>
    <th style='width:61.8%'>Data</th>
  </tr>

<% ( @job.logs.reject { |l| l.entry_type == 'NEXT' } ).each do |entry| %>
  <tr>
    <td><%= entry.created_at.to_formatted_s(:short) %></td>
    <td><%= User.find(entry.user_id).login %></td>
    <td><%= entry.entry_type %></td>
    <td><%= entry.data %></td>
  </tr>
<% end %>
</table>
