<% provide(:title,  "Job " + @job.id.to_s + ": " + @job.path) %>

<h1>Job <%= @job.id %> : <%= @job.path %></h1>

<h3>Job Information</h3>

<ul class='list'>
  <li>Submitted by: <b><%= @job.user.name %></b></li>
  <li>Submitted: <%= @job.created_at.to_formatted_s(:short) %></li>
  <li>Last Updated: <%= @job.updated_at.to_formatted_s(:short) %></li>
  <li>
      <% args = (JSON.parse(@job.state))['stack'].first.reject { |k,v| k == 'user_id' } %>
      <% if args.length > 0 %>
          Arguments:<ul>
          <% args.each do |k,v| %>
            <%= ("<li><b>" + k.to_s + "</b>: " + v.to_s).html_safe %></li>
          <% end %>
          </ul>
      <% else %>
        No Arguments
      <% end %>
  </li>
  <li>Version of <%= @job.path %> used: <%= link_to @job.sha,
  protocol_tree_raw_path(sha: @job.sha, format: 'xml'), target:
  @job.id.to_s + ":" + @job.path %> (
  <a href='<%= "/interpreter/arguments?path=" + @job.path + "&sha=" + @job.sha %>'> Run again </a>)
  ( <%= link_to "Resubmit with same arguments", interpreter_submit_path( { sha: @job.sha, path: @job.path }.merge(args))  %> )
  </li>
</ul>

<% if @job.touches.length > 0 %>

  <h3>Items Touched</h3>

  <table class='table' style='width: 50%'>
    <tr>
      <th>Id</th>
      <th>Type</th>
    </tr>
  
    <% @job.touches.each do |t| %>
      <% if t.item %>
        <tr>
          <td><%= link_to t.item.id, t.item %></td>
          <% if t.item.sample_id %>
            <td><%= link_to t.item.object_type.name, t.item.object_type %>
                containing 
                <%= link_to t.item.sample.sample_type.name, t.item.sample.sample_type %>:
                <%= link_to t.item.sample.name, t.item.sample %></td>
          <% else %>
            <td><%= link_to t.item.object_type.name, t.item.object_type %></td>
          <% end %>
        </tr>
      <% else %>
        <tr><td><%= t.item_id %></td><td>Deleted item</td></tr>
      <% end %> 
    <% end %>

  </table>

<% end %>

<h3>Timing</h3>

<div>
  <% ( @job.logs.reject { |l| l.entry_type != 'NEXT' } ).each do |entry| %>
    <span class='timing-block'>
      <div class='pc'><%= JSON.parse(entry.data)['pc'] %></div>
      <div class='time'><%= entry.created_at.strftime("%H:%M:%S") %></div>
    </span>
  <% end %>
</div>

<div class='clear'></div>

<h3>Log</h3>

<table class='table'>
  <tr>
    <th>Time</th>
    <th>User</th>
    <th>Entry Type</th>
    <th style='width:61.8%'>Data</th>
  </tr>

<% ( @job.logs.reject { |l| l.entry_type == 'NEXT' } ).each do |entry| %>
  <tr>
    <td><%= entry.created_at.to_formatted_s(:short) %></td>
    <td><%= User.find(entry.user_id).login %></td>
    <td><%= entry.entry_type %></td>
    <td><%= entry.data %></td>
  </tr>
<% end %>
</table>

