<% if params[:sha] %>

  <%
    protocol = ProtocolSummary.new({ protocol: params[:path], sha: params[:sha] })
  %>

  <h1>Jobs Associated with <a href="/jobs/summary?path=<%= params[:path] %>"><%= params[:path] %></a></h1>
  <h3 style='text-align: center'>Version: <%= params[:sha] %></h3>
  <%= render partial: '/posts/discussion', locals: { topic: protocol } %>

  <p><b>Jobs:</b> &nbsp;
    <% @jobs.each do |j| %>
      <%= link_to j.id, j %> &nbsp;
    <% end %>
  </p>

  <h4>Code:</h4>
  <pre>
    <%= @content %>
  </pre>

<% elsif params[:path] %>

  <h1>Versions of <%= params[:path] %></h1>

  <% if @infos.keys.length > 0 %>

    <table class='table'>
      <tr>
        <th>Version</th>
        <th>Discussion</th>
        <th>Used</th>
        <th>Success Rate</th>
        <th>First run</th>
        <th>Last run</th>
      </tr>
      <% @infos.each do |k,v| %>

        <%
          protocol = ProtocolSummary.new({ protocol: params[:path], sha: k })
        %>

        <tr>
          <td><%= link_to k, jobs_summary_url(path: params[:path], sha: k) %></td>
          <td>
            <% if v[:posts] > 0 %>
              <%= render partial: '/posts/discussion', locals: { 
                topic: protocol, 
                link: pluralize(v[:posts],"post") 
              } %>
            <% end %>
          </td>
          <td><%= pluralize(v[:num],"time") %></td>
          <td>
            <% p = (v[:successes].to_f / v[:num].to_f) %>
            <% color = p < 0.5 ? "red" : "black" %>
            <% background = p < 0.5 ? "#faa" : "#afa" %>
            <div style='color: <%= color %>; background: <%= background %>; width: <%= 100*p %>%;'>&nbsp;<%= (100*p).to_i %>%</div>
          </td>
          <td><%= time_ago_in_words(v[:first]) %> ago</td>
          <td><%= time_ago_in_words(v[:last]) %> ago</td>
        </tr>
      <% end %>
    </table>

  <% else %>

    <p>Only local versions of this protocol have been run, for which data is not summarized.</p>

  <% end %>

<% else %>

  <ul>
  <% @paths.each do |p| %>
       <li><%= link_to p, jobs_summary_url(path: p) %></li>
  <% end %>
  </ul>

<% end %>
