<% provide(:title, 'Groups') %>

<% content_for :class do %>groups<% end %>

<%= content_for :controller do %>noCtrl<% end %>

<%= content_for :specific_title do %>
<% end %>

<%= content_for :main do %>

  <%= alphabetical_paginate @alphaParams %>
 
  <table class="table" id="pagination_table" style="table-layout: fixed, width: 100%">
    <tr>
      <th style="width: 20%">Group Name</th>
      <th style="width: 70%">Description</th>
      <th style="width: 5%"></th>
      <th style="width: 5x%"></th>
    </tr>
   <%= render @groups%>
  </table>

  <br />
<% end %>

<%= content_for :action1 do %>
  <%= link_to 'New Group', new_group_path, class: 'md-button md-raised md-primary' %>
<% end %>
