<% provide(:title, 'Groups') %>

<% content_for :class do %>groups<% end %>

<%= content_for :controller do %>noCtrl<% end %>

<%= content_for :specific_title do %>
<% end %>

<%= content_for :main do %>

  <%= alphabetical_paginate @alphaParams %>

  <table class="table" id="pagination_table">
    <tr>
      <th>Group Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
   <%= render @groups%>
  </table>

  <br />
<% end %>

<%= content_for :action1 do %>
  <%= link_to 'New Group', new_group_path, class: 'md-button md-raised md-primary' %>
<% end %>
