<% provide(:title, 'Groups') %>

<%= content_for :specific_title do %>
<% end %>

<%= content_for :main do %>

  <table class='table'>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>

  <% (Group.list[:groups] + ['retired']).each do |name| %>
    <% group = Group.find_by_name(name) %>
    <% if group %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.description %></td>
        <td><% if current_user && current_user.is_admin %>
              <%= link_to edit_group_path(group) do %>
                <icon class='icon-pencil'></icon>
              <% end %>
            <% end %>
        </td>
        <td><% if current_user && current_user.is_admin %>
              <%= link_to group, method: :delete, data: {confirm: 'Are you sure?' } do %>
                <icon class='icon-remove'></icon>
              <% end %>
            <% end %></td>
      </tr>
    <% end %>
  <% end %>
  </table>

  <br />
<% end %>

<%= content_for :action1 do %>
  <%= link_to 'New Group', new_group_path, class: 'md-button md-raised md-primary' %>
<% end %>
