<% provide(:title, @group.name) %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Description:</b>
  <%= @group.description %>
</p>

<%= render 'memberships' %>

<hr />

<%= link_to 'Edit details', edit_group_path(@group), class: 'btn' %> 
<%= link_to 'List', groups_path, class: 'btn' %>

<script>
  window.history.replaceState ( null, '', '/groups/<%= @group.id %>' );
</script>
