<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <br />

      <%= f.submit "Save changes", class: "btn btn-primary" %>
      <br />
      <br />
      <%= link_to "Cancel", root_path, class: "btn" %>

    <% end %>

