<% provide(:title, 'Users') %>

<% content_for :class do %>users<% end %>

<%= content_for :controller do %>noCtrl<% end %>

<% content_for :sidebar do %>

  <div layout-padding>

  <% flash.each do |key, value| %>
    <div class='flash md-body-2'><%= value %></div>
  <% end %>

    <%= form_for(@user, html: { action: 'change_password', id: "change_user_password" }) do |f| %>

      <%= render 'shared/error_messages' %>

      <h3> Change Password </p>
      <%= f.label :username %>
      <%= f.select(:login, options_for_select(
            User.all.sort_by { |u| u.login }
                    .collect { |u| [ u.login, u.login ] }, current_user.id )) %>

      <%= f.label :password %>
      <%= f.password_field :password, required: true, placeholder: "Your password" %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, required: true, placeholder: "Re-type your password"  %>

      <input id="change_password" name="change_password" type="hidden" value="true" />

      <br />

      <%= f.submit "Change", class: "md-button md-raised md-primary" %>
      <%= link_to "Cancel", users_path, class: "md-button md-raised" %>

    <% end %>

  </div>

<% end %>

<% content_for :main do %>

    <%= alphabetical_paginate @alphaParams %>

    <table class="table" id="pagination_table" style="table-layout: fixed">
      <tr>
        <th>Full Name</th>
        <th>Username</th>
        <th>Since</th>
        <th>Status</th>
      </tr>
      <%= render @users %>
    </table>

<% end %>

<%= content_for :action1 do %>
  <%= link_to 'New User', new_user_path, class: 'md-button md-raised md-primary' %>
<% end %>
