<% provide(:title, "Change Password") %> 

<h1>Change Another User's Password</h1>

    <%= form_for(@user, html: { action: 'change_password' }) do |f| %>

      <%= render 'shared/error_messages' %>

      <%= f.label :login %>
      <%= f.select(:login, options_for_select( User.all.collect { |u| [ u.login, u.login ] }, current_user.id )) %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <input id="change_password" name="change_password" type="hidden" value="true" />

      <br />

      <%= f.submit "Change Password", class: "btn btn-large btn-primary" %>
      <%= link_to "Cancel", users_path, class: "btn btn-large btn-primary" %>

    <% end %>

