<% provide(:title, @user.name) %>

<div class="row-fluid">

  <div class="span3 user-info">

    <ul>
      <li>Name: <b><%= @user.name %></b></li>
      <li>Login: <b><%= @user.login %></b></li>
      <li>Joined: <b><%= time_ago_in_words @user.created_at %> ago</b></li>
    </ul>

  </div>

  <div class="span9 user-info">

    <ul>
      <% if @user.id == current_user.id %>
        <li>
          API Key: <b><%= @user.key ? @user.key : "none" %></b>
        </li>
        <li>
          <%= link_to "Generate New Key", 
              { action: "show", id: @user.id, keygen: true }, 
              class: "btn btn-mini btn-info" %>
        </li>
      <% end %>
    </ul>

  </div>

</div>

<div class='row-fluid'>

  <div class='span6'>
    <center><p><b><%= @user.name %>: Protocol Usage (Last 100 Days)</p></b></center>
    <div id="protocols" style='height: 300px'>
      <%= image_tag 'waiting_animation.gif' %>
    </div>
  </div>

  <div class='span6'>
    <center><p><b><%= @user.name %>: Activity (Last 100 Days)</p></b></center>  
    <div id="activity" style='height: 300px'>
      <%= image_tag 'waiting_animation.gif' %>
  </div>

  <div class='span4'>
  </div>

</div>


<script>

function select_field ( results, field ) {
 
  var L = [];

  for ( var i=0; i<results.length; i++ ) {
    L.push(results[i][field]);
    console.log(results[i][field]);
  }

  return L;

}

function displayProtocols() {

  $.ajax({
    type: 'GET',
    url: '/stats/user_activity?user_id=<%= @user.id %>',
    dataType: "json",

    success: function(data,status) {

      var ticks = [];
      var nums = [];

      for ( var i=0; i<data.protocol_usage.length; i++ ) {
        ticks.push([i,data.protocol_usage[i][0]]);
        nums.push([data.protocol_usage[i][1],i]);
      }

      if ( ticks.length > 0 ) {

        $('#protocols').css('height',20*(1+ticks.length));

        $('#protocols').plot([ { data: nums, label: " # Associated Jobs" } ],{

            yaxis: { ticks: ticks, tickColor: "#fff", tickDecimals: 0 },
            xaxis: { tickColor: "#eee", tickDecimals: 0 },
            series: { bars: { show: true } },

            bars: {
              align: "center",
              barWidth: 0.5,
              horizontal: true
            },

            grid: {
              minBorderMargin: 0,
              borderWidth: { top: 0, right: 0, bottom: 0, left: 1 }
            },

            legend: {
              position: "se"
            }

        });

      } else {

        $('#protocols').html("No jobs in past 100 days");

      }

      $('#activity').plot([
        {data: data.completions, label: "Jobs Completed", color: "rgb(0,200,0)"}
      ],{
        xaxis: {
          tickColor: "#fff",
          mode: "time",
          timeformat: "%b %d"
        },        grid: {
          minBorderMargin: 0,
          borderWidth: {
            top: 0, right: 0, bottom: 1, left: 0
          }
        },
        lines: {
          steps: true,
          fill: true,
          fillColor: "rgba(0,200,0,0.5)"
        }
      }
      );

    }

  });

}

displayProtocols();

</script>
