<% provide(:title, @user.name) %>

<%= content_for :class do %>user<% end %>
<%= content_for :controller do %>userCtrl as userCtrl<% end %>

<%= content_for :sidebar do %>

  <md-list>
    <md-list-item id="chrome" class="md-3-line" layout-padding style="display: none">
      <div class="md-list-item-text" layout="column">
        <h2 class='md-title'>Chrome Not Detected</h2>
        <h3 class='md-subtitle' style="color: red; font-weight: bold">Warning!</h3>
        <p>You are not using Google Chrome. Some features may not be available. 
           Aquarium has been tested extensively with Google Chrome and we highly recommend you use
           it instead. Install it <a href="https://www.google.com/chrome/index.html">here</a>.</p>
      </div>
    </md-list-item>  
  </md-list>

  <% if current_user.id != @user.id && current_user.is_admin %>

    <h1 class="warning">
      <span class="md-body-2">Admin access to profile:</span><br>
      <span class="md-title">{{user.name}}</span>
    </h1>

  <% end %>

  <% if current_user.id == @user.id %>

    <p class="md-body-2 not-up-to-date"
       ng-if="!user.params.email.value || !user.params.phone.value || user.params.biofab.value != 'true' || 
               user.params.aquarium.value != 'true' && !user.changed">
      Please save your email and phone number and agree to the BIOFAB and Aquarium user agreements.
    </p>  

  <% end %>  

  <% if current_user.id == @user.id || current_user.is_admin %>
    <md-list>
      <md-list-item ng-repeat="view in views" 
                    ng-click="status.view = view"
                    ng-class="view == status.view ? 'md-body-2 selected-view' : 'md-body-2'">
        <p>{{view}}</p>
        <span ng-if="view == 'Information' &&  ( !user.params.email.value || !user.params.phone.value )" class="notice-me">!</span>
        <span ng-if="view == 'BIOFAB Agreement' && user.params.biofab.value != 'true'" class="notice-me">!</span>
        <span ng-if="view == 'Aquarium Agreement' && user.params.aquarium.value != 'true'" class="notice-me">!</span>
      </md-list-item>
    </md-list>
  <% else %>
    <md-list>
      <md-list-item ng-click="status.view = 'Information'"
                    class="md-body-2 selected-view">Information</md-button>
    </md-list>
  <% end %>

<% end %>

<%= content_for :specific_title do %>
  &rang; Profile &rang; {{status.view}}
<% end %>

<%= content_for :main do %>

  <script type="text/javascript">    
  $(function() {
    if ( ! ( !!window.chrome && !!window.chrome.webstore) )  {
      console.log("No chrome!")
      $("#chrome").show()
    }
  });
  </script>

  <div  class='scrollable'>

  <md-content flex layout-fill layout-padding layout="row" ng-if="status.view == 'Information'">

    <div flex="33">

      <p class='md-title'>Login: <b>{{user.login}}</b></p>
      <p>Joined <%= time_ago_in_words(@user.created_at) %> ago.</p>

    </div>

    <div flex="33" layout="column">

      <% if current_user.id == @user.id || current_user.is_admin %>

        <md-input-container>
          <label>Full Name</label>
          <input ng-model="user.name" ng-change="user.changed = true">
        </md-input-container>

        <md-input-container>
          <label>Email Address</label>
          <input ng-model="user.params.email.value" ng-change="user.changed = true">
        </md-input-container>

        <md-input-container>
          <label>Phone Number</label>
          <input ng-model="user.params.phone.value" ng-change="user.changed = true">        
        </md-input-container>    

      <% else %>

        <p>Full Name: {{user.name}}</p>
        <p>Email Address: {{user.params.email.value}}</p>
        <p>Phone Number: {{user.params.phone.value}}</p>

      <% end %>

    </div>

  </md-content>

  <% if current_user.id == @user.id || current_user.is_admin %>

    <md-content flex layout-fill layout-padding ng-if="status.view == 'Preferences'">
    
      <md-list>
        <md-list-item ng-repeat="pref in preferences">
          <md-input-container ng-if="pref.type == 'number' || pref.type == 'string'">
            <label>{{pref.name}}</label>
            <input ng-model="user.params[pref.name].value" ng-change="user.changed = true">
          </md-input-container>
          <md-input-container ng-if="pref.type == 'boolean'">
            <md-switch class="md-primary" 
                       ng-model="user.params[pref.name].value"
                       ng-change="user.changed = true"
                       ng-true-value="'true'"
                       ng0-false-value="'false'">
              {{pref.name}}
            </md-switch>
          </md-input-container>
        </md-list-item>
      </md-list>

    </md-content>  

    <md-content flex layout-fill layout-padding ng-if="status.view == 'Memberships'">
          
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="group in user.groups">
          <div class="md-list-item-text" layout="column">
            <div class="md-headline">{{group.name}}</div>  
            <div class="md-body-2">{{group.description}}</div>
          </div>
        </md-list-item>
      </md-list>

    </md-content>

    <md-content flex layout-fill layout-padding ng-if="status.view == 'Change Password'">

      <md-list>

        <md-list-item>
          <md-input-container>
            <label>New Password</label>
            <input ng-model="user.password" ng-change="check_password()" style="-webkit-text-security: disc;" >        
          </md-input-container>  
        </md-list-item>

        <md-list-item>
          <md-input-container>
            <label>Re-enter New Password</label>
            <input ng-model="user.password_confirmation" ng-change="check_password()" style="-webkit-text-security: disc;">        
          </md-input-container>   
        </md-list-item>

        <md-list-item>
          <p style="color: red" ng-if="!status.password_ok">
            Passwords must match, and be at least 10 characters long.
          </p>
        </md-list-item>

      </md-list>

    </md-content>

    <md-content flex layout-fill layout-padding ng-if="status.view == 'Budgets'">

      <md-list ng-repeat="uba in user.user_budget_associations" flex>
        <md-list-item ng-if="uba.budget && uba.budget.spent.this_month != null">
          <div class="md-list-item-text" layout="column">
            <div class="md-headline">{{uba.budget.name}}</div>
            <div class="md-body-2">{{uba.budget.description}}.</div>
            <div class="md-body-1">
                {{uba.budget.spent.this_month|currency}}
              / {{uba.quota|currency}} spent this month</div>
          </div>
        </md-list-item>
      </md-list>  

      <p ng-if="user.user_budget_associations.length == 0">
        User {{user.name}} has no defined budgets. Please talk to the lab manager to set one up.
      </p>

    </md-content>

    <md-content flex layout-fill layout-padding ng-if="status.view == 'BIOFAB Agreement'">    
      <%= render partial: 'biofab_agreement' %>
      <hr>
      <% if current_user.id == @user.id %>      
        <md-button class='md-raised md-primary' 
                   ng-click="agree('biofab')"
                   ng-if="!user.params.biofab.value || user.params.biofab.value == 'false'">Agree</md-button>
      <% else %>
      <p class='md-title'
         ng-if="user.params.biofab.value != 'true'">This user has not agreed to this document.</p>
      <% end %>
      <p class='md-title'
         ng-if="user.params.biofab.value == 'true'">
         {{user.name}} agreed on {{user.params.biofab.updated_at|date}}.</p>
    </md-content>

    <md-content flex layout-fill layout-padding ng-if="status.view == 'Aquarium Agreement'">    
      <%= render partial: 'aquarium_agreement' %>
      <hr>
      <% if current_user.id == @user.id %>
        <md-button class='md-raised md-primary' 
                   ng-click="agree('aquarium')"
                   ng-if="!user.params.aquarium.value || user.params.aquarium.value == 'false'">Agree</md-button>
      <% else %>
      <p class='md-title'
         ng-if="user.params.aquarium.value != 'true'">This user has not agreed to this document.</p>
      <% end %>
      <p class='md-title'
         ng-if="user.params.aquarium.value == 'true'">
         {{user.name}} agreed on {{user.params.aquarium.updated_at|date}}.</p>
    </md-content>    

  <% end %>

  </div>

<% end %>

<%= content_for :action1 do %>
  <% if current_user.id == @user.id || current_user.is_admin %>
    <md-button ng-if="user.changed && ( status.view == 'Information' || status.view == 'Preferences' )" 
               ng-click="user.save()" 
               class="md-raised md-primary">Save</md-button>
    <md-button ng-if="status.view == 'Change Password' && user.password && status.password_ok" 
               ng-click="user.change_password()"
               class="md-raised md-primary">Change Password</md-button>
  <% end %>
<% end %>

<%= content_for :action2 do %>
  <% if current_user.id == @user.id || current_user.is_admin %>
    <md-button ng-if="user.changed && ( status.view == 'Information' || status.view == 'Preferences' )" 
               ng-click="reload()"
               class="md-raised">Cancel</md-button>
  <% end %>
<% end %>

<% content_for :action3 do %>
  <% if current_user.is_admin %>
    <a href="/users" class="md-raised md-button">All</a>
  <% end %>
<% end %>

