<% if current_user.is_admin %>

  <h4>Deposit Funds (Admins Only)</h4>

  <%= form_tag("/accounts/deposit", method: "get") do %>  

    <input type="hidden" value=<%= current_user.id %> name="uid"></input>

    &nbsp; <select style='width: 75%' name="bid">
      <% Budget.all.each do |budget| %>
        <option value="<%= budget.id %>">
          <%= budget.name %>: 
          <%= budget.description %>, 
          <%= budget.contact %>
        </option>
      <% end %>
    </select>

    <label>Amount</label>
    $ <input type='number' step=0.01 style='width: 75%' name="amount"></input>

    <br />
    <%= submit_tag "Deposit", class: 'btn', data: { confirm: "Deposit?" } %>

  <% end %>

<% end %>