
<script type="template"></script>

<%= content_for :sidebar do %>

  <h4>Tool specific tools go here.</h4>

<% end %>

<%= content_for :specific_title do %>
  Tool Details
<% end %>

<%= content_for :action1 do %>
  <md-button aria-label="Click">
    Action One
  </md-button>
<% end %>

<%= content_for :action2 do %>
  <md-button aria-label="Click">
    Action Two
  </md-button>
<% end %>

<%= content_for :main do %>

<% end %>
