<% provide(:title, 'Import') %>

<script type="text/ng-template" id="component">
  <b>{{component.name}}</b>
  <span ng-if="component.existing">(
    {{component.existing.id}}
  )</span>
  <span ng-if="component.existing === null">(new)</span> 
</script>

<%= content_for :class do %>import<% end %>

<%= content_for :controller do %>importCtrl<% end %>

<% content_for :wider_sidebar do %>true<% end %>

<%= content_for :sidebar do %>

  <div ng-if="importer">
    <div>
      <h3>Operation Types</h3>
      <ul>
        <li ng-repeat="component in importer.operation_types">
          <div ng-include="'component'"></div>
        </li>
      </ul>
    </div>  

    <div>
      <h3>Libraries</h3>
      <ul>
        <li ng-repeat="component in importer.libraries">
          <div ng-include="'component'"></div>
        </li>
      </ul>
    </div>     
    
    <div>
      <h3>Sample Types</h3>
      <ul>
        <li ng-repeat="component in importer.sample_types">
          <div ng-include="'component'"></div>
        </li>
      </ul>
    </div>   

    <div>
      <h3>Containers</h3>
      <ul>
        <li ng-repeat="component in importer.object_types">
          <div ng-include="'component'"></div>
        </li>
      </ul>
    </div> 
  </div> 

<% end %>

<%= content_for :specific_title do %>

<% end %>

<%= content_for :action1 do %>

      <label ng-class="import_popup.loading ? 'md-button md-raised md-accent' : 'md-button md-raised'">
        <span ng-if="import_popup.loading">Loading ...</span>
        <span ng-if="!import_popup.loading">Load</span>
                <input type=file
                        id="import"
                        style="display: none;"
                        custom-on-change="load">
      </label>

<% end %>

<%= content_for :action2 do %>

  <md-button ng-disabled="!importer || state.import_results || state.importing"
             class="md-raised md-primary"
             ng-click="import()">
    <span ng-if="!state.importing">Import</span>
    <span ng-if="state.importing">Processing</span>
  </md-button>

<% end %>

<%= content_for :main do %>

  <div class="import-main-container">

    <div ng-if="state.import_results.error" 
         class="issue">
      <span style="color: red">Error: </span>
      {{state.import_results.error}}<br>
      <ul ng-if="state.import_results.backtrace">
        <li ng-repeat="b in state.import_results.backtrace|limitTo:1 track by $index">{{b}}</li>
      </ul>
    </div>

    <div ng-if="state.import_results && !state.import_results.error" 
         class="issue">
      Workflow Successfully Imported!
    </div>  

    <div ng-if="state.import_results">

      <h2 ng-if="state.import_results.inconsistencies.length > 0">Issues</h2>

      <ul>
        <li ng-repeat="i in state.import_results.inconsistencies track by $index" style="color: #900">
          {{i}}
        </li>
      </ul>          

      <h2>Import Log</h2>
      <ul>
        <li ng-repeat="note in state.import_results.notes track by $index">
          {{note}}
        </li>
      </ul>  

    </div>

    <div ng-if="importer">
      <h2>{{importer.config.title}}</h2>
      <p>{{importer.config.description}}<br>
          &copy; {{importer.config.copyright}}<br>
          <b>Target:</b> {{importer.config.github.user}}/{{importer.config.github.repo}}<br>
          <b>Maintained by:</b> {{importer.config.maintainer.name}} &lt;{{importer.config.maintainer.email}}&gt;<br>

      <b>Keywords:</b> {{importer.config.keywords.join(", ")}}<br>

      <b>Authors:</b><br>
        <ul>
          <li ng-repeat="a in importer.config.authors">
            {{a.name}}: {{a.affiliation}}
          </li>
        </ul>

      <b>Acknowledgements:</b><br>
        <ul>
          <li ng-repeat="a in importer.config.acknowledgements">
            {{a.name}}: {{a.affiliation}}
          </li>
        </ul>
    </div>

  </div>

<% end %>