<% provide(:title, 'Import') %>

<script type="text/ng-template" id="component">
  <b>{{component.name}}</b>
  <span ng-if="component.existing">(
    {{component.existing.id}}
  )</span>
  <span ng-if="component.existing === null">(new)</span> 
</script>

<%= content_for :class do %>import<% end %>

<%= content_for :controller do %>importCtrl<% end %>

<% content_for :wider_sidebar do %>true<% end %>

<%= content_for :sidebar do %>

  <div ng-if="importer">
    <div>
      <h3>Operation Types</h3>
      <ul>
        <li ng-repeat="component in importer.operation_types">
          <div ng-include="'component'"></div>
        </li>
      </ul>
    </div>  

    <div>
      <h3>Libraries</h3>
      <ul>
        <li ng-repeat="component in importer.libraries">
          <div ng-include="'component'"></div>
        </li>
      </ul>
    </div>     
    
    <div>
      <h3>Sample Types</h3>
      <ul>
        <li ng-repeat="component in importer.sample_types">
          <div ng-include="'component'"></div>
        </li>
      </ul>
    </div>   

    <div>
      <h3>Containers</h3>
      <ul>
        <li ng-repeat="component in importer.object_types">
          <div ng-include="'component'"></div>
        </li>
      </ul>
    </div> 
  </div> 

<% end %>

<%= content_for :specific_title do %>

<% end %>

<%= content_for :action1 do %>

      <label ng-class="import_popup.loading ? 'md-button md-raised md-accent' : 'md-button md-raised'">
        <span ng-if="import_popup.loading">Loading ...</span>
        <span ng-if="!import_popup.loading">Load</span>
                <input type=file
                        id="import"
                        style="display: none;"
                        custom-on-change="load">
      </label>

<% end %>

<%= content_for :action2 do %>

  <md-button ng-disabled="!importer || state.error || state.import_results"
             class="md-raised md-primary"
             ng-click="import()">
    Import
  </md-button>

<% end %>

<%= content_for :main do %>

  <div ng-if="state.error" 
       class="issue"
       layout-padding>
    {{state.error}}
  </div>

  <div ng-if="state.import_results">
    <h2 flex md-truncate>Import Results: 
        <span ng-if="state.error" style="color: #900">FAILED</span>
        <span ng-if="!state.error" style="color: #000">SUCCESS</span>        
    </h2> 

    <p ng-if="state.import_results.inconsistencies.length > 0"><b style="color: #900">
      The following issues need to be addressed before this import can be completed:
    </b></p>

    <ul>
      <li ng-repeat="i in import_popup.inconsistencies track by $index" style="color: #900">
        {{i}}
      </li>
    </ul>          

    <p>Notes:</p>
    <ul>
      <li ng-repeat="note in state.import_results.notes track by $index">
        {{note}}
      </li>
    </ul>  

  </div>

  <div ng-if="importer" layout-padding>
    <h2>{{importer.config.title}}</h2>
    <p>{{importer.config.description}}<br>
        &copy; {{importer.config.copyright}}<br>
        <b>Target:</b> {{importer.config.github.user}}/{{importer.config.github.repo}}<br>
        <b>Maintained by:</b> {{importer.config.maintainer.name}} &lt;{{importer.config.maintainer.email}}&gt;<br>

    <b>Keywords:</b> {{importer.config.keywords.join(", ")}}<br>

    <b>Authors:</b><br>
      <ul>
        <li ng-repeat="a in importer.config.authors">
          {{a.name}}: {{a.affiliation}}
        </li>
      </ul>

    <b>Acknowledgements:</b><br>
      <ul>
        <li ng-repeat="a in importer.config.acknowledgements">
          {{a.name}}: {{a.affiliation}}
        </li>
      </ul>
  </div>

<% end %>