<h1>ERROR</h1>

<div class="alert alert-block">
<p><%= @error %> </p>
</div>

<% if @protocol && @protocol.program[@error_pc] %>
  <h4>Check offending '<%= @protocol.program[@error_pc].name %>' near lines
       <%= @protocol.program[@error_pc].startline %> - 
       <%= @protocol.program[@error_pc].endline %>.</h4>
<% end %>

<br />
  <button id='details-button' class='btn btn-small' onClick="toggle_details()">
    Show Current Variables
  </button>

  <div id='details' style='display: none'>
    <br />
    <p>
      <%= @scope.to_s.html_safe %>
    </p>
  </div>

<br />

<script>
  <% @instruction.console_messages.each do |m| %>
    console.log ( "PDL: " + '<%= m.html_safe %>' );
  <% end %>
</script>

<script>
  function toggle_details() {
    s = document.getElementById('details').style.display;
    if ( s == 'none' ) {
      document.getElementById('details').style.display = 'block';
      document.getElementById('details-button').innerHTML = 'Hide Current Variables';      
    } else {
      document.getElementById('details').style.display = 'none';
      document.getElementById('details-button').innerHTML = 'Show Current Variables';      
    }
  
  }
</script>
