<h1>ERROR</h1>

<div class="alert alert-block">
<h4>An error was encountered</h4>
<%= params[:choices] %>
<%= @error %> 
</div>

<% if @protocol %>
  <pre><%= @protocol.program[@error_pc].html.html_safe %></pre>
<% end %>

<p><%= link_to 'View Log for Job ' + @job.id.to_s, @job %></p>

<script>
  <% @instruction.console_messages.each do |m| %>
    console.log ( "PDL: " + '<%= m.html_safe %>' );
  <% end %>
</script>
