<h1>ERROR</h1>

<div class="alert alert-block">
<h4>An error was encountered</h4>
<p><%= params[:choices] %></p>
<p><%= @error %> </p>
</div>

<% if @protocol && @protocol.program[@error_pc] %>
  <h4>Offending XML</h4>
  <pre><%= @protocol.program[@error_pc].xml.to_s %></pre>
<% end %>

<p><%= link_to 'View Log for Job ' + @job.id.to_s, @job %></p>

<script>
  <% @instruction.console_messages.each do |m| %>
    console.log ( "PDL: " + '<%= m.html_safe %>' );
  <% end %>
</script>
