<label>Group / User</label>

<select id="group" name="Group">

  <% list = Group.list %>

  <% list[:groups].each do |g| %>
    <option value='<%= g %>'><%= g %></option>
  <% end %>
  <optgroup label="----------"></optgroup>
  <% list[:users].each do |g| %>
    <option value='<%= g %>' <%= g == current_user.login ? 'selected ' : '' %>><%= g %></option>
  <% end %>

</select>

