<% @active_jobs = Job.where("user_id = ? AND pc >= -1", current_user.id) %>

<% if @active_jobs.length > 0 %>

<hr>

  <h4>You have more jobs to do:</h4>

  <table class='table'>

    <tr>
      <th>Job</th>
      <th>Protocol</th>
      <th>Status</th>
      <th></th>
    </tr>

  <% @active_jobs.each do |j| %>

    <tr>
      <td><%= link_to j.id.to_s, j %></td>
      <td><%= link_to j.path, protocol_tree_raw_path(sha: j.sha, format: 'xml'), target: j.path %></td>
      <td>
          <% if j.pc == Job.NOT_STARTED %>
            not yet started
          <% elsif j.pc == Job.COMPLETED %>
            completed
          <% else %>
            pc = <%= j.pc %>
          <% end %>
      </td>
      <td>
          <% if j.pc == Job.NOT_STARTED %>
            <%= link_to 'run', interpreter_advance_path(job:j.id) %>
          <% elsif j.pc != Job.COMPLETED %>
            <%= link_to 'resume', interpreter_current_path(job:j.id) %>
          <% end %>
      </td>
    </tr>

  <% end %>

  </table>

<% end %>
