<div class='well row-fluid'>

  <div class='span6'>
    
    <div id='<%= arg.name + "_temp" %>' style='display: none'></div>

    <%= label_tag(arg.name.to_sym,arg.description) %>
    <select id='<%= arg.name %>' name='<%= arg.name %>'>
      <% ObjectType.all.each do |o| %>
        <option value='<%= o.name %>' handler='<%= o.handler %>'><%= o.name %></option>
      <% end %>
    </select>

    <select id='<%= arg.name + '_hidden' %>' style='display:none'></select>

  </div><div class='span6'>

    <% handlers = (ObjectType.all.collect { |x| x.handler }).uniq %>

    <label>Category</label>
    <select id='<%= arg.name + '_handler' %>' onchange="filter_by_handler('<%= arg.name %>')">
      <% handlers.each do |h| %>
        <option value=<%= h %>><%= h %></option>
      <% end %>
    </select>

  </div>

</div>

<script>

  function filter_by_handler(arg_name) {

    s = document.getElementById(arg_name);
    h = document.getElementById(arg_name+'_hidden');
    p = document.getElementById(arg_name+'_handler');
    t = document.getElementById(arg_name+'_temp');

    handler = p.options[p.selectedIndex].value;

    while ( s.children.length > 0 ) {
      t.appendChild(s.children[0]);
    }

    while ( h.children.length > 0 ) {
      t.appendChild(h.children[0]);
    }

    while ( t.children.length > 0 )  {
      if ( t.children[0].getAttribute('handler') != handler ) {
        h.appendChild(t.children[0]);
      } else {
        s.appendChild(t.children[0]);
      }
    }

  }

  filter_by_handler('<%= arg.name %>');


</script>
