<h1>Store Item <%= @instruction.item.id %> (<%= @instruction.object_type %>)</h1>

<p>Make sure the item number is written on the <%= @instruction.object_type %>.</p>

<p>Enter/edit location where the item will be stored or placed:</p>
<p>
  <input id='location' oninput='check_format()' class='input-medium'
    value = '<%= ObjectType.find_by_name(@instruction.object_type).location_wizard %>'>
  </input>
</p>

<% if @instruction.note %>
  <p><%= @instruction.note %></p>
<% end %>

<script>

  function check_format() {
    var p = /[A-Z][1-9][0-9]*\.[1-9][0-9][0-9]$/;
    var loc = document.getElementById('location').value;
    if ( p.test(loc) ) {
      document.getElementById('advance-button').disabled = false;
    } else {
      document.getElementById('advance-button').disabled = true;
    }
  }

  window.onload = function() {
    document.getElementById('advance-button').addEventListener('click', function() {
      var m = document.getElementById('location').value;
      window.location = advance_url() + '&location=' + m + '&new_item_id=' + <%= @instruction.item.id %>;
    } );
    check_format();
    window.history.replaceState ( null, '', '/interpreter/current?job=<%= @job.id %>&new_item_id=<%= @instruction.item.id %>' );
  }

  

</script>


