<h1>Release <%= @instruction.object_list.length %> Objects</h1>

<% i = 0 %>
<% next_check_list = [] %>

<% @instruction.object_list.each do |pi| %>

  <% nm     = pi[:object][:name]
     loc    = pi[:item][:location]
     method = pi[:object][:release_description] %>

  <% case pi[:object][:release_method]

     when 'return' %>
      <h4><input type='checkbox' id='<%=i %>-returned' onchange='update_next_button(<%=i %>)'></input>
          Please return the <%= nm %> taken from <%= loc %>.</h4>
      <p><%= method %></p>
      <% next_check_list.push(i) %>

  <% when 'dispose' %>
      <h4><input type='checkbox' id='<%=i %>-returned' onchange='update_next_button(<%=i %>)'></input> 
          Please dispose of the <%= nm %> taken from <%= loc %>.</h4>
      <p><%= method %></p>
      <% next_check_list.push(i) %>

  <% when 'query' %>
      <h4>Return or dispose the <%= nm %> taken from <%= loc %>?</h4>
      <p><%= method %></p>
      <div class="yesorno">
        <label class="radio inline">
          <input type="radio" id='<%=i %>-return-yes' checked name='<%=i %>-yn'>Return
        </label>
        <label class="radio inline">
          <input type="radio" id='<%=i %>-return-no' name='<%=i %>-yn'>Dispose
        </label>
      </div>

  <br />

  <% end %>

  <% i += 1 %>

<% end %>

<script>

  function update_next_button(i) {
    list = <%= next_check_list %>;
    show=true;
    for ( i=0; i<list.length; i++ ) {
      show = show && ( document.getElementById(list[i]+'-returned').checked );
    }
    if ( show ) {
      document.getElementById('advance-button').style.display ='block'
    } else {
      document.getElementById('advance-button').style.display = 'none';
    }
  }

  window.onload = function() {

    document.getElementById('advance-button').style.display = 'none';

    document.getElementById('advance-button').addEventListener('click', function() {

      i = 0;
      q = '';

      <% @instruction.object_list.each do |pi| %>

        <% id = pi[:object][:id] %>

        <% if pi[:object][:release_method] == 'query' %>
          if ( document.getElementById('<%=id %>-return-yes').checked ) {
            m = 'return';
          } else {
            m = 'dispose';
          }
        <% else %>
          m = '<%= pi[:object][:release_method] %>';
        <% end %>

        q += "&method_" + i + '=' + m;

        i += 1;

      <% end %>

      window.location = '/interpreter/advance?job=<%= @job.id %>' + q;

    } );
  }
</script>

