<h1>Release <%= @instruction.object_list.length %> Objects</h1>

<% @instruction.object_list.each do |pi| %>

  <% nm     = pi[:object][:name]
     loc    = pi[:item][:location]
     method = pi[:object][:release_description] %>

  <% case pi[:object][:release_method]

    when 'return' %>
      <h4><input type='checkbox' id='returned'></input> Please return the <%= nm %> taken from <%= loc %>.</h4>
      <p>Details: <%= method %></p>

  <% when 'dispose' %>
      <h4><input type='checkbox' id='returned'></input> Please dispose of the <%= nm %> taken from <%= loc %>.</h4>
      <p>Details: <%= method %></p>
      <input type='checkbox' id='returned'></input>

  <% when 'query' %>
      <h4>Return or dispose the <%= nm %> taken from <%= loc %>?</h4>
      <p>Details: <%= method %></p>
      <div class="yesorno">
        <label class="radio inline">
          <input type="radio" id="return-yes" checked name="yn">Return
        </label>
        <label class="radio inline">
          <input type="radio" id="return-no" name="yn">Dispose
        </label>
      </div>

  <% end %>

<% end %>

<script>
  window.onload = function() {

    document.getElementById('advance-button').style.display = 'block';

    document.getElementById('advance-button').addEventListener('click', function() {

      <% @instruction.object_list.each do |pi| %>
        <% if pi[:object][:release_method] == 'query' %>
          if ( document.getElementById('return-yes').checked ) {
            m = 'return';
          } else {
            m = 'dispose';
          }
        <% else %>
          m = '<%= pi[:object][:release_method] %>';
        <% end %>
      <% end %>
      window.location = '/interpreter/advance?job=<%= @job.id %>' + "&method=" + m;
    } );
  }
</script>
