<h1>Release <%= @instruction.item_list.length %> Objects</h1>

<% i = 0 %>
<% next_check_list = [] %>

<% @instruction.item_list.each do |pi| %>

  <br />

  <% it = Item.find(pi[:id])
     ob = it.object_type %>

  <% nm       = ob.name
     loc      = it.location
     method   = ob.release_description
     quantity = 1 %>

  <% case ob.release_method

     when 'return' %>
      <h4><input type='checkbox' id='<%=i %>-returned' onchange='update_next_button(<%=i %>)'></input>
          Return item <%= it.id %> (<%= nm %>) to <%= loc %>.</h4>
      <p><%= method %></p>
      <% next_check_list.push(i) %>

  <% when 'dispose' %>
      <h4><input type='checkbox' id='<%=i %>-returned' onchange='update_next_button(<%=i %>)'></input> 
          Dispose of item <%= it.id %> (<%= nm %>).</h4>
      <p><small><%= method %></small></p>
      <% next_check_list.push(i) %>

  <% when 'query' %>
      <h4>Return or dispose item <%= it.id %> (<%= nm %>)?</h4>
      <p><small>Details: <%= method %></small></p>
      <div class="yesorno">
        <label class="radio inline">
          <input type="radio" id='<%=i %>-return-yes' checked name='<%=i %>-yn'>Return to  to <%= loc %>
        </label>
        <label class="radio inline">
          <input type="radio" id='<%=i %>-return-no' name='<%=i %>-yn'>Dispose
        </label>
      </div>

  <br />

  <% end %>

  <% i += 1 %>

<% end %>

<script>

  function update_next_button(i) {
    list = <%= next_check_list %>;
    show=true;
    for ( i=0; i<list.length; i++ ) {
      show = show && ( document.getElementById(list[i]+'-returned').checked );
    }
    if ( show ) {
      document.getElementById('advance-button').disabled = false;
    } else {
      document.getElementById('advance-button').disabled = true;
    }
  }

  window.onload = function() {

    <% if next_check_list.empty? %>
      document.getElementById('advance-button').disabled = false;
    <% else %>
      document.getElementById('advance-button').disabled = true;
    <% end %>

    document.getElementById('advance-button').addEventListener('click', function() {

      var i = 0;
      var q = '';

      <% @instruction.item_list.each do |pi| %>

        <% id = pi[:id] %>
        <% rm = Item.find(pi[:id]).object_type.release_method %>
        <% if rm == 'query' %>
          if ( document.getElementById(i+'-return-yes').checked ) {
            m = 'return';
          } else {
            m = 'dispose';
          }
        <% else %>
          m = '<%= rm %>';
        <% end %>

        q += "&method_" + i + '=' + m;
        i += 1;

      <% end %>

      window.location = advance_url() + q;

    } );
  }
</script>

