<div class='well row-fluid'>

<% type = arg.name.sub( /_.*/, '' ).capitalize %>
<% st = SampleType.find_by_name(type) %>

<% if st %>

  <div class='row-fluid'>

    <div class='span6'>

      <%= label_tag(arg.name.to_sym,arg.description+' ('+type+')' ) %>

      <select id='<%= arg.name %>' name='<%= arg.name %>'>
        <% (current_user.cart_items.reject { |ci| !ci.item || ci.item.sample.sample_type.id != st.id }).each do |ci| %>
            <option value='<%= ci.item.id %>'><%= "#{ci.item.id}: #{ci.item.sample.name} #{ci.item.object_type.name}" %></option>
        <% end %>
     </select>

    </div><div class='span6'>
       The choices listed for this argument include only the items in your <%= link_to "cart", cart_items_path %> containing <%= pluralize(2,st.name.downcase)[2..-1] %>.
    </div>

  </div>

<% else %>

  <div class='row-fluid'>

    <div class='span6'>

      <%= label_tag(arg.name.to_sym,arg.description ) %>

      <select id='<%= arg.name %>' name='<%= arg.name %>'>
        <% (current_user.cart_items.reject { |ci| !ci.item }).each do |ci| %>
            <option value='<%= ci.item.id %>'><%= "#{ci.item.id}: #{ci.item.sample.name} #{ci.item.object_type.name}" %></option>
        <% end %>
      </select>

    </div><div class='span6'>
       The choices listed for this argument include all items in your <%= link_to "cart", cart_items_path %>.
    </div>

  </div>

<% end %>

</div>


