<!-- IMAGE ------------------------------------------------------------->
<% if @instruction.image != "" %>
  <div class='row-fluid'>
    <div class='span5'>
      <img src='<%= @instruction.image %>'></img>
    </div>
    <div class='span7'>
  <script>console.log('<%= @instruction.image %>');</script>
<% end %>

<!-- DESCRIPTION ------------------------------------------------------->

<h1>
  <%= @instruction.description %>
</h1>

<!-- NOTE -------------------------------------------------------------->

<p>
  <%= @instruction.note.gsub(/\\t/, '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;').gsub(/\\n/, '<br \>').html_safe %>
</p>

<!-- WARNINGS ---------------------------------------------------------->

<% @instruction.warnings.each do |w| %>

  <div class="alert">
    <%= w %>
  </div>

<% end %>

<!-- SELECTS ----------------------------------------------------------->

  <% if @instruction.selects.length > 0 %>
    <% @instruction.selects.each do |s| %>
      <%= label_tag(s[:var], s[:description] )%>
      <select id='<%= s[:var] %>' class='interpreter-select'>
        <% s[:choices].each do |c| %>
          <option><%= c %></option>
        <% end %>
      </select>
    <% end %>
  <% end %>

<!-- GETDATAS ------------------------------------------------------------>

  <% if @instruction.getdatas.length > 0 %>

    <% @instruction.getdatas.each do |g| %>
      <%= label_tag(g[:var], g[:description] + ' (' + g[:type] + ')' )%>
      <%= text_field_tag( g[:var] ) %>
    <% end %>

  <% end %>

<!-- CLOSE IMAGE TAGS IF PRESENT --
  -- --------------------------------------->

<% if @instruction.image != "" %>
    </div></div>
<% end %>


<!-- NEXT BUTTON ------------------------------------------------------->

<script>

  window.onload = function() {
    document.getElementById('advance-button').disabled = false;
    q = "";
    document.getElementById('advance-button').addEventListener('click', function() {
      <% @instruction.getdatas.each do |g| %>
        q += '&<%= g[:var] %>=' + document.getElementById('<%= g[:var] %>').value;
      <% end %>
      <% @instruction.selects.each do |s| %>
        q += '&<%=s[:var] %>=' + document.getElementById('<%= s[:var] %>').value;
      <% end %>
      window.location = advance_url() + q;
    } );
  }

</script>
