<% statement[:parts].each do |part| %>

  <% if part[:flavor] == :select %>

      <%= label_tag(part[:var], part[:description] )%>
      <select class='select' id='<%= part[:var] %>'>
	<% part[:choices].each do |c| %>
	  <option><%= c %></option>
	<% end %>
      </select>

  <% else %>

      <%= label_tag(part[:var], part[:description] + ' (' + part[:type] + ')' )%>
      <%= text_field_tag( part[:var], '', onchange: 'validate_input()', class: 'getdata' ) %>

  <% end %>

<% end %>
