
<% if @instruction.image != "" %>
  <div class='row-fluid'>
    <div class='span5'>
      <img src='<%= @instruction.image %>'></img>
    </div>
    <div class='span7'>
  <script>console.log('<%= @instruction.image %>');</script>
<% end %>

<h1>
  <%= @instruction.description %>
</h1>

<% getdata_num = 0
   getdata_vars = []
   check_num = 0 %>

<% @instruction.parts.each do |part| %>
 
  <% part.each do |key,val| %>

    <% if key == :note %>

      <p>
	<%= val.gsub(
	   /\\t/, '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;').gsub(
	   /\\n/, '<br \>').html_safe %>
      </p>

    <% elsif key == :bullet %>

      <ul class='list'><li><%= val %></li></ul>

    <% elsif key == :check %>

      <p><input type='checkbox' 
                id='check_<%= check_num %>' 
                onchange='validate_input()'></input>
         &nbsp;<%= val %>
      </p>

      <% check_num += 1 %>

    <% elsif key == :warning %>

      <div class="alert warning"><%= val %></div>

    <% elsif key == :select %>

      <%= label_tag(val[:var], val[:description] )%>
      <select id='<%= val[:var] %>' class='interpreter-select'>
	<% val[:choices].each do |c| %>
	  <option><%= c %></option>
	<% end %>
      </select>

    <% elsif key == :getdata %>

      <%= label_tag(val[:var], val[:description] + ' (' + val[:type] + ')' )%>
      <%= text_field_tag( val[:var], '', onchange: 'validate_input()' ) %>
      <% getdata_vars.push val[:var] %>
      <% getdata_num += 1 %>

    <% end %>

  <% end %>

<% end %>

<!-- CLOSE IMAGE TAGS IF PRESENT ----------------------------------------->

<% if @instruction.image != "" %>
    </div></div>
<% end %>


<!-- NEXT BUTTON ---------------------------------------------------------->

<script>

  function validate_input() {

    ok = true;

    <% (0..check_num-1).each do |c| %>
      ok = ok && document.getElementById('check_<%= c %>').checked;
    <% end %>

    <% getdata_vars.each do |v| %>
      ok = ok && (document.getElementById('<%= v %>').value != '');
    <% end %>

    document.getElementById('advance-button').disabled = !ok;

  }

  window.onload = function() {

    <% if check_num == 0 && getdata_num == 0 %>
      document.getElementById('advance-button').disabled = false;
    <% else %>
      document.getElementById('advance-button').disabled = true;
    <% end %>

    q = "";
    document.getElementById('advance-button').addEventListener('click', function() {
      <% @instruction.getdatas.each do |g| %>
        q += '&<%= g[:var] %>=' + document.getElementById('<%= g[:var] %>').value;
      <% end %>
      <% @instruction.selects.each do |s| %>
        q += '&<%=s[:var] %>=' + document.getElementById('<%= s[:var] %>').value;
      <% end %>
      window.location = advance_url() + q;
    } );
  }

</script>
