<h1>Gather the following items.</h1>

<% logger.info @instruction.item_list.to_s %>

<% for i in 0..((@instruction.item_list.length) - 1) %>

  <% q = @instruction.item_list[i][:quantity] %>
  <% type = @instruction.item_list[i][:type]  %>
  <% ob = @instruction.object_list[i] %>

  <h4><%= q %> <%= type.pluralize(q) %>

  <% if ob.handler == 'sample_container' && ob.sample_type %>
    containing the
      <%= ob.sample_type.name %>
      <%= @instruction.item_list[i][:name] %>
  <% end %>
  :</h4>

  <div class='row-fluid'>

    <div class="span2 object-image">
      <%= image_tag @instruction.object_list[i].image.url(:medium) %>
    </div>

    <div class="span10">
      <div class='take_object_select' id='object_select_<%= i %>'></div>
      <button class='btn btn-link btn-more' onclick='add_choice_<%= i %>()' style='font-size: 12pt'>More locations</button>
    </div>

  </div>

<% end %>

<script>

  query = [];
  quantities = [];
  num_choices = [];
  none_available_error = false;

  function make_id(str,a,b) {
    return str + '_object_' + a + '_item_' + b;
  }

  function compute_quantities() {
    <% for i in 0..((@instruction.item_list.length) - 1) %>
      quantities[<%= i %>] = [];
      for ( var j=0; j<num_choices[<%= i %>]; j++ ) {
        var selection = parseInt(document.getElementById(make_id('select',<%= i %>,j)).value);
        quantities[<%= i %>][selection] = parseInt(document.getElementById(make_id('quantity',<%= i %>, j)).value);
      }
    <% end %>
  }

  function update_totals(object,item) {

    var select_id   = make_id('select',object,item);
    var quantity_id = make_id('quantity',object,item);
    var selection = parseInt(document.getElementById(select_id).value);
    var quantity  = parseInt(document.getElementById(quantity_id).value);

    if ( quantity < 0 ) {
      document.getElementById(quantity_id).value = 0;
      quantity = 0;
    }

    if ( quantity > max[selection]) {
      document.getElementById(quantity_id).value = max[selection];
      quantity = max[selection];
    }

    compute_quantities();
    okay = true;
    query = [];

    <% for i in 0..((@instruction.item_list.length) - 1) %>

      query[<%= i %>] = {};

      <% q = @instruction.item_list[i][:quantity] %>

      tot = 0;
      for ( var j in quantities[<%= i %>] ) {
        if ( quantities[<%= i %>][j] > 0 ) {
          query[<%= i %>][j] = quantities[<%= i %>][j];
          tot += quantities[<%= i %>][j]; 
        }
      }

      if ( tot != <%= q %> ) {
        okay = false;
      }

    <% end %>

    document.getElementById('advance-button').disabled = !okay || none_available_error;

  }

  max = [];
  num_choices = [];

  <% for i in 0..((@instruction.item_list.length) - 1) %>
  
    <% object = @instruction.object_list[i] %>
    <% fields = @instruction.item_list[i] %>
    console.log('<%= fields.to_s %>');

    num_choices[<%= i %>] = 0;
    function add_choice_<%= i %>() {

      html = "";
      html += "<div class='take_choice_box'><div class='take_item_select'>"
            + "  Location:<br />"
            + "  <select class='item_select' id='select_object_" 
            + <%= i %> + "_item_" + num_choices[<%= i %>] + "' onchange='update_totals(<%= i %>," + num_choices[<%= i %>] + ")' >";

      <% num = 0 %>

      <% if object.handler != 'sample_container'  %>

        <% object.items.each do |item| %>
          <% if item.quantity - item.inuse > 0 %>
            html += '  <option value=<%= item.id %>><%= item.location %> (<%= item.quantity - item.inuse %> available) </option>';
            max[<%= item.id %>] = <%= item.quantity - item.inuse %>;
            <% num += 1 %>
          <% end %>
        <% end %>

      <% else %>

        <% object.items.each do |item| %>
          <% if !fields[:name] || ( item.sample && ( item.sample.name == fields[:name] && item.sample.project == fields[:project] )) %>
            <% if item.quantity - item.inuse > 0 && ( !fields[:id] || fields[:id] == item.id ) %>
              html += '  <option value=<%= item.id %>>Sample id: <%= item.id %> at <%= item.location %> </option>';
              max[<%= item.id %>] = <%= item.quantity - item.inuse %>;
              <% num += 1 %>
            <% end %>
          <% end %>
        <% end %>

      <% end %>

      <% if num == 0 %>
        html += "<option value='-1'>NONE AVAILABLE!</option>";
        none_available_error = true;
      <% end %>
   
      html += "  </select>"
            + "</div>"
            + "<div class='take_item_quantity' '>"
            + "  Quantity:<br />"
            + "  <input id='quantity_object_" + <%= i %> + "_item_" + num_choices[<%= i %>] + "'"
            + "         class='small-input' type='number' value='0' onchange='update_totals(<%= i %>," + num_choices[<%= i %>] + ")'>"
            + "</div></div></div>";

      document.getElementById('object_select_' + <%= i %>).insertAdjacentHTML( "beforeend", html );
      num_choices[<%= i %>] ++;

    }

  <% end %>

  window.onload = function() {

    document.getElementById('advance-button').addEventListener('click', function() {
      window.location = advance_url() + '&choices=' + encodeURIComponent(JSON.stringify(query));
    } );

   <% for i in 0..((@instruction.item_list.length) - 1) %>
     add_choice_<%= i %>();
   <% end %>

  }

</script>
