<h1>Gather the following items.</h1>

<% logger.info @instruction.item_list.to_s %>

<% for i in 0..((@instruction.item_list.length) - 1) %>

  <% q = @instruction.item_list[i][:quantity] %>
  <% type = @instruction.item_list[i][:type]  %>
  <% ob = @instruction.object_list[i] %>

  <div class='row-fluid'>

    <div class="span2 object-image">
      <%= image_tag @instruction.object_list[i].image.url(:medium) %>
    </div>

    <div class="span10 object-image">
      <h4>Take <%= q %> <%= type.pluralize(q) %>:</h4>
      <div class='take_object_select' id='object_select_<%= i %>'></div>
      <button class='btn btn-link' style='margin-top:20px; display: inline-block' onclick='add_choice_<%= i %>()'>
                <i class="icon-plus-sign"></i>
      </button>
    </div>
  </div>

<% end %>

<script>

  function update_totals() {

  }


  <% for i in 0..((@instruction.item_list.length) - 1) %>
  
    <% object = @instruction.object_list[i] %>

    function add_choice_<%= i %>() {

      html = "";
      html += "<div class='take_choice_box'><div class='take_item_select'>"
            + "  Location:<br />"
            + "  <select class='item_select'>"
            + "    <option></option>";

      <% object.items.each do |item| %>
        html += '  <option><%= item.location %> (<%= item.quantity - item.inuse %> available) </option>';
      <% end %>
   
      html += "  </select>"
            + "</div>"
            + "<div class='take_item_quantity' '>"
            + "  Quantity:<br />"
            + "  <input name='quantity<%= i %>' class='small-input' type='number' value='0' onchange='update_totals()'>"
            + "</div></div></div>";

      document.getElementById('object_select_' + <%= i %>).innerHTML += html;

    }

  <% end %>

  window.onload = function() {

    document.getElementById('advance-button').addEventListener('click', function() {
      query="";
      window.location = advance_url() + query;
    } );

   <% for i in 0..((@instruction.item_list.length) - 1) %>
     add_choice_<%= i %>();
   <% end %>

  }

</script>
