<% provide(:title, @path) %>

<h4>Please input arguments for <%= @path %></h4>

<p><%= @protocol.info %></p>

<% if @parse_errors != "" %>

  <h4>Parse error</h4>
  <p class='alert'><%= @parse_errors %></p>

  <% if @protocol.bad_xml %>
    <h4>Offending XML</h4>
    <pre><%= @protocol.bad_xml.to_s %></pre>
  <% end %>

<% else %>

  <div class='argument-form' style='width: 50%'>

    <%= form_tag("/interpreter/submit", :method => "get" ) do %>
  
      <%= hidden_field_tag 'sha', @sha %>
      <%= hidden_field_tag 'path', @path %>

      <% if @protocol.args.length > 0 %>

        <% @protocol.args.each do |a| %>

          <% if a.type == 'sample' %>

            <%= render partial: 'sample_arg', locals: { arg: a } %>

          <% elsif a.type == 'objecttype' %>

            <%= render partial: 'object_type_arg', locals: { arg: a } %>

          <% else %>

            <div class='well row-fluid'>
              <%= label_tag(a.name.to_sym, a.description ) %>
              <%= text_field_tag( a.name.to_sym ) %>
            </div>

          <% end %>  

        <% end %>

      <% else %>

        <p>(This protocol takes no arguments)</p>

      <% end %>

  </div>

      <hr />

      <h4>Scheduling Information</h4>

        <%= render partial: 'group_chooser' %><br />
        <%= render partial: 'time_chooser', locals: { name: 'Desired' } %><br />
        <%= render partial: 'time_chooser', locals: { name: 'Latest' } %>

      <hr />



      <%= submit_tag("Submit Job", :class => "btn" ) %>

    <% end %>



<% end %>


