<% provide(:title, @path) %>

<h4>Initializing <%= @path %></h4>

<p><%= @protocol.info %></p>

<% if @parse_errors != "" %>

  <p>There were parse errors for <%= @sha %><br /><%= @parse_errors %></p>

<% else %>

  <div class='argument-form' style='width: 50%'>

    <%= form_tag("/interpreter/submit", :method => "get" ) do %>
  
      <%= hidden_field_tag 'sha', @sha %>
      <%= hidden_field_tag 'path', @path %>

      <% if @protocol.args.length > 0 %>

        <% @protocol.args.each do |a| %>
          <%= label_tag(a.name.to_sym, a.description ) %>
          <%= text_field_tag( a.name.to_sym ) %>
        <% end %>

      <% else %>

        <p>(This protocol takes no arguments)</p>

      <% end %>

      <%= submit_tag("Submit Job", :class => "btn" ) %>

    <% end %>

  </div>

<% end %>


