<% provide(:title, @path) %>

<h4>Initializing <%= @path %></h4>

<p><%= @protocol.info %></p>

<% if @parse_errors != "" %>

  <p>There were parse errors for <%= @sha %><br /><%= @parse_errors %></p>

<% else %>

  <div class='argument-form' style='width: 50%'>

    <%= form_tag("/interpreter/submit", :method => "get" ) do %>
  
      <%= hidden_field_tag 'sha', @sha %>
      <%= hidden_field_tag 'path', @path %>

      <% if @protocol.args.length > 0 %>

        <% @protocol.args.each do |a| %>
          <%= label_tag(a.name.to_sym, a.description ) %>
          <%= text_field_tag( a.name.to_sym ) %>
        <% end %>

      <% else %>

        <p>(This protocol takes no arguments)</p>

      <% end %>

      <%= submit_tag("Submit Job", :class => "btn" ) %>

    <% end %>

  </div>

  <hr />

  <button id='details-button' class='btn btn-small' onClick="toggle_details()">
    Show Details
  </button>

  <div id='details' style='display: none'>

    <h2>Parsed Protocol</h2>
    <div id='parsed-protocol'>
        <table class='table'>
        <% (0..@protocol.program.length-1).each do |p| %>
          <%= "<tr><td>#{p}</td><td>#{@protocol.program[p].html}</td></tr>".html_safe %>
        <% end %>
        </table>
    </div>
 
    <br />
 
    <h2>Raw XML</h2>
    <div id='raw-xml'>
        <pre><%= @file %></pre>
    </div>

  </div>

  <script>
  function toggle_details() {
    s = document.getElementById('details').style.display;
    if ( s == 'none' ) {
      document.getElementById('details').style.display = 'block';
      document.getElementById('details-button').innerHTML = 'Hide Details';      
    } else {
      document.getElementById('details').style.display = 'none';
      document.getElementById('details-button').innerHTML = 'Show Details';      
    }
  
  }
  </script>

<% end %>


