<% provide(:title, @path) %>

<div class="row-fluid" id="interpreter">

  <!-- FLOW CHART ----------------------------------------------------->
  <div class="span2 interpreter-flow-chart">

    <% if @pc != Job.COMPLETED %>
      <% (0..@protocol.program.length-1).each do |p| %>
        <% if p == @pc %>
          <div class='pc_at'>
        <% else %>
          <div class='pc_notat'>
        <% end %>
        <%= "<b>#{p}:</b>   #{@protocol.program[p].name}".html_safe %>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- MAIN ----------------------------------------------------------->
  <div class="span9 interpreter-main">
    <% if @exception %>
       <%= render 'error' %>
    <% elsif @pc != Job.COMPLETED %>
      <%= render @instruction.name %>
      <div id='note' style='display: none'>
        <hr />
        <p>Add a note to the log for this step</p>
        <textarea rows="3" id='note-textarea'></textarea>
      </div>
    <% else %>
      <div class="alert alert-info">THIS JOB IS NO LONGER ACTIVE</div>
      <p><%= link_to 'View Log for Job ' + @job.id.to_s, @job %></p>
    <% end %>
  </div>

  <!-- BUTTONS -------------------------------------------------------->
  <div class="span1 interpreter-buttons">
    <% if @pc != Job.COMPLETED %>
      <button class='btn btn-primary' id='advance-button' disabled>NEXT</button>
      <button class='btn'             id='note-button'>NOTE</button>
    <% end %>

  </div>

</div>

<script>

  <% if @job %>
    document.getElementById('info-area').innerHTML = '<%= @job.path %>';
  <% end %>

  function fix_height() {
    document.getElementById('interpreter').style.height = window.innerHeight - 120 + 'px';
  }

  fix_height();
  window.onresize = fix_height;

  document.getElementById('note-button').addEventListener('click', function() {

    var note = document.getElementById('note');

    if ( note.style.display == 'block' ) {
       note.style.display = 'none';
    } else {
       note.style.display = 'block';
    }

    console.log('asd');

  } );

  advance_url = function() {
    url = '/interpreter/advance?job=<%= @job.id %>';
    var note = document.getElementById('note-textarea');
    if ( note.value ) {
      url += '&lognote=' + note.value;
    }
    return url;
  }


</script>
