<% provide(:title, 'Edit ' + @path) %>

<p><%= @protocol.info %></p>

<% if @parse_errors != "" %>

  <h4>Parse error</h4>
  <p class='alert'><%= @parse_errors %></p>

  <% if @protocol.bad_xml %>
    <h4>Offending Code</h4>
    <pre><%= @protocol.bad_xml.to_s.html_safe %></pre>
  <% end %>

<% else %>

  <h1>Edit Parameters for Job <%= @job.id %>: <%= @path %></h1>

   <li>Submitted by:

  <% if @job.metacol_id %>
        <% m = Metacol.find_by_id(@job.metacol_id) %>
        <% if m %>
          <td>Metacol <%= link_to "#{@job.metacol_id}", m %></td>
        <% else %>
          <td>Unkown metacol</td>
        <% end %>
      <% else %>
        <td><%= u = User.find_by_id(@job.submitted_by); u ? u.login : 'nobody' %></td>
      <% end %></li>

  <li>Assigned to Group: <b><%= @group ? (link_to @group.name, @group) : 'no group' %></b></li>

  <li>Performed by: <b><%= @user ? @user.login : 'not yet assigned' %></b></li>

  <% if @job.desired_start_time && @job.latest_start_time %>
    <li>Desired Start Time: <%= @job.desired_start_time.to_formatted_s(:short) %></li>
    <li>Latest Start Time: <%= @job.latest_start_time.to_formatted_s(:short) %></li> 
  <% end %>

  <% if @protocol.args.length > 0 %>

    <h4>Arguments</h4>

    <div id='argument-chooser'></div>

  <% end %>

  <br />

  <div id='button-area'></div>

<% end %>

<script>

// get arguments
var args = [];
<% @protocol.args.each do |a| %>

  <% if a.type == 'sample' %>
    sample = '<%= Item.find(@current_args[a.name.to_sym]).sample.name %>';
  <% elsif a.type == 'sample_array' %>
    sample = [];
   <% @current_args[a.name.to_sym].each do |b| %>
    sample.push( '<%= Item.find(b).sample.name %>' ); 
   <% end %>
  <% else %>
    sample = '';
  <% end %>

  args.push({
    name: '<%= a.name %>', 
    description: '<%= a.description %>',
    type: '<%= a.type %>',
    current: '<%= @current_args[a.name.to_sym] %>',
    sample: sample
  });

<% end %>

<%= render partial: 'build_cart' %>
<%= render partial: 'build_objects' %>
<%= render partial: 'build_groups' %>

// run javascript ui maker thingy
ac = new ArgumentUI('<%= @sha %>',args,cart,objects);
ac.edit = true;
ac.job = <%= @job.id %>;
ac.display_form();

</script>
