<% provide(:title, @path) %>

<h1>Job Scheduled</h1>

<h4>Protocol Name: <%= @path %></h4>

<h4>Job Number: <b><%= @job.id %></b></h4>

<h4>Argument List:</h4>

<% if @protocol.args.length > 0 %>

  <ul class='list'>
    <% @protocol.args.each do |a| %>
      <li><%= a.name %> = <%= @info[:args][a.name.to_sym] %></li>
    <% end %>
  </ul>

<% else %>

  <p>No arguments.</p>

<% end %>

<h4>Scheduling Information</h4>

<ul class='list'>
  <li><b>Group/User</b>: <%= @group.name %> ( <%= @group.description %> )</li>
  <li><b>Desired Start</b>: <%= Time.at(@desired).to_formatted_s(:long)  %> ( Complete within <%= @window %> hr )</li>
  <li><b>Latest Start</b>: <%= Time.at(@latest).to_formatted_s(:long) %></li>
</ul>

<hr />

<%= link_to "Start", interpreter_advance_path(job:@job.id), class: "btn btn-primary", onclick: "splash_parsing_alert()" %>
<%= link_to "Job List", jobs_path, class: "btn" %>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h4 id="myModalLabel">Parsing <%= @path %></h4>
  </div>
  <div class="modal-body">
    <p>This should only take a few seconds.</p>
    <center><%= image_tag 'waiting_animation.gif' %></center>
  </div>
</div>




<script>
function splash_parsing_alert() {
  $('#myModal').modal();
}
</script>


