<% provide(:title, @path) %>

<h1>Job Scheduled</h1>

<h3>Protocol Name: <%= @path %></h3>

<h3>Job Number: <%= @job.id %></h3>

<h3>Argument List:</h3>

<% if @protocol.args.length > 0 %>

  <ul class='list'>
    <% @protocol.args.each do |a| %>
      <li><%= a.name %> = <%= params[a.name.to_sym] %></li>
    <% end %>
  </ul>

<% else %>

  <p>No arguments.</p>

<% end %>

<%= link_to "Start", interpreter_advance_path(job:@job.id), class: "btn btn-primary" %>
<%= link_to "Job List", jobs_path, class: "btn" %>


