<% provide(:title, 'Launcher') %>

<div ng-app="aquarium" ng-controller="launcherCtrl as launcher" class='launcher'>

  <%= render partial: 'chooser' %>
  <%= render partial: 'plan_editor' %>  
  <%= render partial: 'operation_editor' %>
  <%= render partial: 'field_value_editor' %>   
  <%= render partial: 'io_editor' %>
  <%= render partial: 'plan_list' %>  
  <%= render partial: 'plan_viewer' %>  
  <%= render partial: '/data_associations/template' %>    

  <div class='two-column'>

    <div class='two-column-left'>

      <div class='two-column-control' ng-if="status == 'Ready'">
        <h4>Launcher</h4>
        <ul>
          <li><a href="#" ng-click="mode = 'running'"   ng-class="highlight('running')">Workflow List</a></li>
          <li><a href="#" ng-click="mode = 'new'"       ng-class="highlight('new')">New Workflow</a></li>
        </ul>
      </div>

      <div class='two-column-control' ng-if="status != 'Ready'"><b>{{status}}</b></div>

      <div class='two-column-control alert alert-error' ng-if="error != null">
        <h4>Error</h4>
        {{error}}
      </div>

      <div class='two-column-control' 
           ng-if="current_operation" 
           ng-include="'field_value_editor'">
      </div>

    </div>

    <div class='two-column-right'>

      <div ng-if="status == 'Ready' && mode == 'new'">
        <div ng-if="plan == null" ng-include="'operation_type_chooser'"></div> 
        <div ng-if="plan != null" ng-include="'plan_editor'"></div> 
      </div>

      <div ng-if="status == 'Ready' && mode != 'new'"
           ng-include="'plan_list'">
      </div>      

    </div>

  </div>

</div>
