<% provide(:title, 'Launcher') %>

<div ng-app="aquarium" ng-controller="launcherCtrl as launcher" class='launcher'>

  <%= render partial: 'chooser' %>
  <%= render partial: 'plan_editor' %>  
  <%= render partial: 'operation_editor' %>
  <%= render partial: 'io_editor' %>
  <%= render partial: 'plan_list' %>  

  <div class='two-column'>

    <div class='two-column-left'>
      <div class='two-column-control'>
        <h4>Plans</h4>
        <ul>
          <li><a href="#" ng-click="mode = 'new'"       ng-class="highlight('new')">New</a></li>
          <li><a href="#" ng-click="mode = 'running'"   ng-class="highlight('running')">Running</a></li>
          <li><a href="#" ng-click="mode = 'completed'" ng-class="highlight('completed')">Completed</a></li>      
          <li><a href="#" ng-click="mode = 'errored'"   ng-class="highlight('errored')">Errors</a></li>       
        </ul>

      </div>      
      <div class='two-column-control' ng-if="status != 'Ready'"><b>{{status}}</b></div>
    </div>

    <div class='two-column-right'>

      <div ng-if="status == 'Ready' && mode == 'new'">
        <div ng-if="plan == null" ng-include="'operation_type_chooser'"></div> 
        <div ng-if="plan != null" ng-include="'plan_editor'"></div> 
      </div>

      <div ng-if="status == 'Ready' && mode != 'new'"
           ng-include="'plan_list'">
      </div>      

    </div>

  </div>

</div>
