<% provide(:title, 'Planner') %>

<%= render partial: 'chooser' %>
<%= render partial: 'plan_editor' %>  
<%= render partial: 'operation_editor' %>
<%= render partial: 'field_value_editor' %>
<%= render partial: 'launch_plan' %>      
<%= render partial: 'io_editor' %>
<%= render partial: 'plan_list' %>  
<%= render partial: 'plan_viewer' %>  
<%= render partial: '/data_associations/template' %> 

<%= content_for :class do %>launcher<% end %>
<%= content_for :controller do %>launcherCtrl as launcher<% end %>

<%= content_for :sidebar do %>

  <div ng-if="error">
    <md-content class='launch-error'>
      <div class="md-title title">Your Plan has Issues</div>
      <p layout-padding>{{error}}</p>
      <span class="md-title dismiss" ng-click="clear_error()">&times;</span>
    </md-content>
  </div>

  <div ng-if="current_operation && plan.status != 'launch'" 
       ng-include="'field_value_editor'">
  </div>  

  <div ng-if="plan && plan.status == 'launch'" 
       ng-include="'launch_plan'">
  </div>  

  <div ng-if="( mode == 'running' || 
              ( mode == 'new' && plan == null ) ) && 
              status.user_info == 'Ready'">

    <h1 class="md-title" 
        ng-if="current_user && 
               current_user.user_budget_associations && 
               current_user.user_budget_associations.length > 0 &&
               current_user.user_budget_associations[0].budget &&
               current_user.user_budget_associations[0].budget.spent.this_month !== null">Budgets</h1>

    <md-list ng-repeat="uba in current_user.user_budget_associations" flex>
      <md-list-item ng-if="uba.budget && uba.budget.spent.this_month != null">
        <div class="md-list-item-text" layout="column">
          <div class="md-body-2">{{uba.budget.name}}</div>
          <div class="md-body-1">{{uba.budget.description}}.</div>
          <div class="md-body-1">
              {{uba.budget.spent.this_month|currency}}
            / {{uba.quota|currency}} spent</div>
        </div>
      </md-list-item>
    </md-list>

  </div>

<% end %>

<%= content_for :specific_title do %>
  <span>
  &rang; <span ng-if="mode == 'new' && plan == null">Choose Goal</span>
         <span ng-if="mode == 'new' && plan != null">Build Plan</span>
         <span ng-if="mode == 'running'">Plans</span>    
  </span>
<% end %>

<%= content_for :action1 do %>
  <md-button ng-click="set_mode('running')" ng-if="mode == 'new' && status.plans == 'Ready'">
      <md-tooltip md-direction="bottom">List all of your plans</md-tooltip>
      List
  </md-button>
  <md-button ng-click="set_mode('new')" ng-if="mode == 'running' && status.operation_types == 'Ready' && status.plans == 'Ready'">
      <md-tooltip md-direction="bottom">Design a new plan</md-tooltip>
      New
  </md-button>    
<% end %>

<%= content_for :main do %>

  <div flex layout-padding ng-if="status.plans != 'Ready'">
    <div layout="row">
      <div flex="25"></div>
      <div flex="50">
        <br /><br />
        <h2 class="md-title">Loading Plans...</h2>
        <br />
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>
    </div>
  </div>

  <div ng-if="status.operation_types == 'Ready' && status.sample_names == 'Ready' && mode == 'new'">
    <div ng-if="plan == null" ng-include="'operation_type_chooser'"></div> 
    <div ng-if="plan != null" ng-include="'plan_editor'"></div> 
  </div>

  <div ng-if="status.plans == 'Ready' && mode != 'new'"
       ng-include="'plan_list'" layout-padding flex>
  </div>  

<% end %> 
