<% provide(:title, 'Plans') %>

<%= render partial: 'plan_list' %>  
<%= render partial: 'plan_viewer' %>  
<%= render partial: '/data_associations/template' %> 
<%= render partial: "/items/template" %>

<%= content_for :class do %>launcher<% end %>
<%= content_for :controller do %>launcherCtrl as launcher<% end %>

<%= content_for :sidebar do %>

  <h4 class='md-subhead'>Folders</h4>

  <md-list class='md-very-compact-list'>
    <md-list-item ng-repeat="folder in folders" 
                  ng-click="select_folder(folder)" 
                  ng-class="state.folder == folder ? 'selected-folder' : ''">
      <div ng-class="state.folder == folder ? 'selected-folder' : ''">
        <span ng-if="folder">{{folder}}</span>
        <span ng-if="!folder">Unsorted</span>    
      </div>
    </md-list-item>
  </md-list>

  <% if current_user && current_user.is_admin %>

    <hr>

    <md-input-container layout-margin layout="column">
      <md-select ng-model="state.selected_user_id" class="md-plain-select"
                 md-on-close="select_user()">
        <md-option ng-repeat="user in users" 
                   ng-value="user.id">
          {{user.login}} ( {{user.name}} )
        </md-option>
      </md-select>
    </md-input-container>

  <% end %>

<% end %>

<%= content_for :specific_title do %>
   <% if current_user && current_user.is_admin %>
     <span ng-if="current_user && current_user.id != <%= current_user.id %>">
       <span class='other-user-alert'>
         &rang; ({{current_user.name}})
        </span>
      </span>
    <% end %>
    &rang; 
    <span ng-if="folder">{{folder}}</span>
    <span ng-if="!folder">Unsorted</span>  
<% end %>

<%= content_for :action1 do %>
  <md-button class='md-raised'
             ng-click="set_mode('new')" 
             href="/plans">
      <md-tooltip md-direction="bottom">Design a new plan</md-tooltip>
      New
  </md-button>    
<% end %>

<%= content_for :action2 do %>
  <md-menu layout="row">

    <md-button class='md-raised' ng-click="openMenu($mdMenu, $event)">
      <md-tooltip md-direction="bottom">Move Plan to Folder</md-tooltip>
      Move
    </md-button>  

    <md-menu-content width="4">
      <md-menu-item ng-repeat="folder in folders">
        <md-button ng-click="move(folder)">
          <span ng-if="folder">{{folder}}</span>
          <span ng-if="!folder">Unsorted</span>
        </md-button>
      </md-menu-item>
      <md-divider></md-divider>
      <md-menu-item>
        <md-button ng-click="move_to_new(folder)">
          New Folder
        </md-button>
      </md-menu-item>
    </md-menu-content>

  </md-menu>
<% end %>

<%= content_for :main do %>

  <div flex layout-padding ng-if="status.plans != 'Ready'">
    <div layout="row">
      <div flex="25"></div>
      <div flex="50">
        <br /><br />
        <h2 class="md-title">Loading Plans...</h2>
        <br />
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>
    </div>
  </div>

  <div ng-if="status.plans == 'Ready' && mode != 'new'"
       ng-include="'plan_list'" layout-padding flex>
  </div>  

<% end %> 
