<%= form_for(@primer) do |f| %>

  <% if @primer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@primer.errors.count, "error") %> prohibited this primer from being saved:</h2>

      <ul>
      <% @primer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <span style='color: #ddd'>5'-</span>
  <div class="field" style='display:inline-block; width: 45%'>
    <%= f.label :overhang %>
    <%= f.text_field :overhang %>
  </div>
  <div class="field" style='display:inline-block; width: 45%'>
    <%= f.label :annealing %>
    <%= f.text_field :annealing %>
  </div>
  <span style='color: #ddd'>-3'</span>

  <div class="field">
    <%= f.label :tm %>
    <%= f.text_field :tm %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes, style: 'height: 150px' %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-small" %>
  </div>

<% end %>
