<hr />
<h3>Current Inventory Locations</h3>

<p>Lyophilized Primer:
<% if @lp_items.length > 0 %>
  <% @lp_items.each do |lpi| %>
    <span class='location'><a href='/primers/<%= @primer.id %>/delete_stock/<%= lpi.id %>'><i class="icon-remove-sign"></i></a> <%= lpi.location %></span>
  <% end %>
<% else %>
  None
<% end %>
</p>

<p>Primer Stock:
<% if @ps_items.length > 0 %>
  <% @ps_items.each do |psi| %>
    <span class='location'><a href='/primers/<%= @primer.id %>/delete_stock/<%= psi.id %>'><i class="icon-remove-sign"></i></a><%= psi.location %></span>
  <% end %>
<% else %>
  None
<% end %>
</p>

<p>Primer Aliquots:
<% if @pa_items.length > 0 %>
  <% @pa_items.each do |pai| %>
    <span class='location'><a href='/primers/<%= @primer.id %>/delete_stock/<%= pai.id %>'><i class="icon-remove-sign"></i></a><%= pai.location %></span>
  <% end %>
<% else %>
  None
<% end %>
</p>
