<h1>Primers </h1>

<% Date::DATE_FORMATS[:pdate] = "%B %d, %Y" %>
<% Time::DATE_FORMATS[:pdate] = "%B %d, %Y" %>

<%= will_paginate %>

<table class='table'>
  <tr>
    <th>ID</th>
    <th>Description [<span class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @user.login %><b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <% (User.all.sort { |x,y| x.login <=> y.login}).each do |u| %>
          <li><%= link_to u.login, '/primers?user_id=' + u.id.to_s %></li>
        <% end %>
      </ul></span>]</th>
    <th>Sequence</th>
    <th>Tm</th>
    <th>Date</th>
  </tr>

<% @primers.each do |primer| %>
  <tr>
    <td><%= primer.id %></td>
    <td><%= link_to primer.description, primer %></td>
    <td title='<%= primer.notes %>'><span style='color: #ddd'>5'-</span>
        <span style='color: #aaf; font-size: 10pt;'><%= primer.overhang %></span><span style='font-size: 10pt;'><%= primer.annealing %></span>
        <span style='color: #ddd'>-3'</span>
    </td>
    <td><%= primer.tm %></td>
    <td><%= primer.created_at.to_formatted_s(:pdate) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />

<%= link_to 'New', new_primer_path, class: 'btn' %>
