<h1>Primer <%= @primer.id %>: <%= @primer.description %></h1>

<p>
<span style='color: #ddd'>5'-</span>
<span style='color: #aaf; font-size: 12pt;'><%= @primer.overhang %></span><span style='font-size: 12pt;'><%= @primer.annealing %></span>
<span style='color: #ddd'>-3'</span>
</p>

<p>
  <b>Melting Temperature(Tm):</b>
  <%= @primer.tm %>
</p>

<% if @primer.notes != "" %>
<p>
  <b>Notes:</b>
  <%= @primer.notes %>
</p>
<% end %> 

<p>
  <b>Owner:</b>
  <%= User.find(@primer.owner).name %> (<%= User.find(@primer.owner).login %>)
</p>

<%= render 'primer_locations' %>

<%= render 'add_inventory' %>

<%= link_to 'Edit', edit_primer_path(@primer) %> |
<%= link_to 'Back', primers_path %>
