<% provide(:title, 'Wizards') %>

<%= content_for :sidebar do %>

<% unless @conflicts.empty? %>

  <md-subheader class="md-title md-warn">
    Conflicts Found!
    Report this issue to an Aquarium Admin ASAP.
  </md-subheader>
  <ul>
    <% @conflicts.each do |c| %>
      <li>
        <%= link_to c[:wizard].name, wizard_path(c[:wizard]) %>: <%= c[:conflicts].join(", ") %>
      </li>
    <% end %>
  </ul>

<% end %>

<h2 class="md-title">About Wizards</h2>

A location wizard manages the storage of new items in a location such as a freezer.
When a new item is made, the wizard finds the first available location for that item.

<% end %>

<%= content_for :specific_title do %>Location Wizards<% end %>

<%= content_for :main do %>

<div layout-padding>

  <table class='table'>
    <tr>
      <th>Name (Click to Edit)</th>
      <th>Description</th>   
      <th>Form</th>
      <th>Ranges</th>    
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% def symb(i) 
    if i >= 0
      i
    else
      "&#8734;" # infinity symbol
    end
  end %>

  <% @wizards.each do |wizard| %>
    <tr>
      <td><%= link_to wizard.name, wizard %></td>
      <td><%= wizard.description %></td>  
      <% if wizard.spec[:fields] %>  
        <td><%= (wizard.spec[:fields].collect { |f| f[:name] }).join('.') %></td>
        <td><%= (wizard.spec[:fields].collect { |f| "[#{0},#{symb(f[:capacity]-1)}]" }).join('.').html_safe %></td>    
      <% else %>
        <td>-</td><td>-</td>
      <% end %>
      <td><%= link_to 'edit', edit_wizard_path(wizard) %></td>
      <td><%= link_to 'x', wizard, method: :delete, data: { confirm: 'Are you sure you want to delete this wizard?' } %></td>
    </tr>
  <% end %>
  </table>

</div>

<% end %>

<%= content_for :action1 do %>
  <%= link_to 'New Wizard', new_wizard_path, class: "md-button md-primary md-raised" %>
<% end %>
