
<% provide(:title, "New Wizard") %>

<%= content_for :controller do %>noCtrl<% end %>

<%= content_for :specific_title do %>
<% end %>

<%= content_for :sidebar do %>

  <h2 class="md-title">Editing Wizards</h2>

  <p>
  Give the wizard name and description.
  The name represents the type of location, and should be a short but mnemonic.
  </p>

  <p>
  Field 1 is the primary location, e.g., which freezer; and fields 2 and 3 represent hierarchical sub-locations.
  The name should descriptive of locations and sub-locations.
  For capacities of sub-locations, give the capacity as a positive whole number, or 0 for sub-locations with no capacity limit.
  </p>

<% end %>

<%= content_for :main do %>
  <div layout-padding>
    <%= render 'form' %>
  </div>
<% end %>

<%= content_for :action2 do %>
  <%= link_to 'All Wizards', wizards_path, class: "md-button md-raised" %>
<% end %>