<% if params[:from] %>
  <% provide(:title, "Open from #{params[:from]}" ) %>
<% else %>
  <% provide(:title, "Open" ) %>
<% end %>

<ul id='nav' class="nav nav-pills"></ul>

<% if params[:from] %>
  <div id='from'>
    <p>Will use the output of job <%= link_to params[:from], job_path(params[:from]) %> as input.</p>
  </div>
<% end %>

<div id='content' class="pill-content"></div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h4 id="myModalLabel">Pulling Latest Changes from Github <%= @path %>.</h4>
  </div>
  <div class="modal-body">
    <p>This proces will take a few seconds.</p>
    <center><%= image_tag 'waiting_animation.gif' %></center>
  </div>
</div>

<script>

  from = '<%= params[:from] ? "&from=#{params[:from]}" : "" %>';
  highlight = '<%= @highlight %>';
  repos = JSON.parse('<%= escape_javascript(@repos.to_json.html_safe) %>');
  rpl = new RepoListing(repos,highlight,from);
  
</script>
