<%= form_for(@task_prototype) do |f| %>

  <% if @task_prototype.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@task_prototype.errors.count, "error") %> prohibited this task_prototype from being saved:</h2>

      <ul>
      <% @task_prototype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>

  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, style: 'width: 100%;' %>
  </div>

  <div class="field">
    <%= f.label :status_options %>
    <%= f.text_field :status_options, style: 'width: 100%;' %>
  </div>

  <div class="field">
    <%= f.label "Prototype (any legal JSON string)" %> 
    <%= f.text_area :prototype, style: 'width: 100%; height: 100px;' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn' %>
  </div>

<% end %>
