<h1>Task Types</h1>

<table class='table'>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Prototype</th>
    <th></th>
    <th></th>
  </tr>

<% @task_prototypes.each do |task_prototype| %>
  <tr>
    <td><%= link_to task_prototype.name, tasks_path(task_prototype_id: task_prototype.id) %></td>
    <td><%= task_prototype.description %></td>
    <td><%= task_prototype.prototype %></td>
    <td><%= link_to 'Edit Prototype', edit_task_prototype_path(task_prototype) %></td>
    <td><%= link_to 'Destroy', task_prototype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task prototype', new_task_prototype_path, class: 'btn' %>
