<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task_prototype.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task_prototype.description %>
</p>

<p>
  <b>Status Options:</b>
  <%= @task_prototype.status_options.inspect %>
</p>

<p>
  <b>Prototype:</b>
  <%= @task_prototype.prototype %>
</p>

<%= link_to 'Edit', edit_task_prototype_path(@task_prototype), class: 'btn' %> 
<%= link_to 'Show All Tasks of this Type', tasks_path(task_prototype_id: @task_prototype.id), class: 'btn' %> 

