<% provide(:title, @object_type.name) %>

<%= content_for :controller do %>noCtrl<% end %>

<% content_for :action1 do %>

  <%= link_to 'Edit', 
               edit_object_type_path(@object_type), 
              class: "md-button md-raised" %>

<% end %>

<% content_for :action2 do %>

  <% if @object_type.sample? %>
    <%= link_to 'Done', @object_type.sample_type, class: "md-button md-raised" %>
  <% else %>
    <%= link_to 'Done', object_types_path, class: "md-button md-raised" %>
  <% end %>

<% end %>

<% content_for :main do %>

  <div style="margin: 20px">

    <h1><%= @object_type.name %></h1>

    <div class="row-fluid">

      <div class="span9 object-description">
        <% wiz = Wizard.find_by_name(@object_type.prefix) %>
        <% if wiz %>
          <h3>Locations managed by the <%= link_to wiz.name, wiz %> wizard</h3>
        <% end %>  
        <%= render 'description' %>
      </div>

    </div>

  </div>

<% end %>