<h1>Items in your cart</h1>


<div class='row-fluid'>

  <div class='span1'></div><div class='span10'>

<h4><span class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @user.login %><b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <% choices = (User.all.sort { |x,y| x.login <=> y.login}) %> 
      <% choices.each do |u| %>
        <li><a href="#" onclick="update_user(<%= u.id %>)"><%= u.login %></a></li>
      <% end %>
    </ul>
</span></h4>


<table class='table'>


  <tr>
    <th>Item</th>
    <th>Location</th>
    <th>Sample</th>
    <th>Container</th>
    <th>Data</th>
    <th></th>
  </tr>

<% @cart_items.each do |cart_item| %>
  <tr>
    <td><%= link_to cart_item.item_id, cart_item.item %></td>

    <td><%= cart_item.item.location %></td>

    <td>
      <%= link_to cart_item.item.sample.name, cart_item.item.sample %>
    </td>

    <td>
      <%= link_to cart_item.item.object_type.name, cart_item.item.object_type %>
    </td>

    <td>
      <% if cart_item.item.data %>

        <% begin
                data = JSON.parse(cart_item.item.data) 
              rescue
                data = {}
              end
         %>

        <% if data.class == Hash %> 
          <% data.each do |k,v| %>
            <%= k %>: <%=  v %><br />
          <% end %>
        <% end %>
      <% end %>

    </td>

    <td><%= link_to(cart_item, method: :delete) do %>
               <i class='icon-remove'></i>
             <% end %>

    </td>
  </tr>
<% end %>
</table>

  </div><div class='span1'></div>

</div>

<script>

function update_user(i) {
  user_id = i;
  reload();
}

function reload() {
  window.location = 'cart_items?user_id=' + user_id;
}

</script>
