<%= render partial: '/data_associations/template' %> 
<%= render partial: "/items/template" %>

<% provide(:title, "#{@item.collection? ? 'Collection' : 'Item' } #{@item.id}") %>

<%= content_for :controller do %>itemCtrl<% end %>

<%= content_for :wider_sidebar do %>true<% end %>

<%= content_for :sidebar do %>
  <div ng-if="collection">

    <div ng-if="selection.length == 0">
      <br>
      <b>Created:</b> {{collection.created_at|date}}<br>
      <b>Updated:</b> {{collection.created_at|date}}<br>
      <b>Location:</b> {{collection.location}}<br>
      <b>Edit global properties:   
        <div item="collection" 
             container="collection.object_type"
             sample="collection.sample"
             no-col-link=true></div><br><br>
      <table class='table'
             style="width: 100%; font-size: 9pt" 
             ng-if="collection.history.length > 0">
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Operation Type</th>
          <th>Plan</th>
          <th>Jobs</th>
        </tr>
        <tr ng-repeat="h in collection.history">
          <td>
            {{h.field_value.name}}
            <span ng-if="h.field_value.is_part">
            [{{h.field_value.row}},{{h.field_value.column}}]
            </span>
          </td>
          <td>{{h.field_value.role}}</td>
          <td>{{h.operation.operation_type.name}}</td>
          <td>
            <a href="/plans?plan_id={{h.operation.plan_associations[0].plan_id}}">
              {{h.operation.plan_associations[0].plan_id}}
            </a>
          </td>
          <td>
            <ul style="list-style: none; margin: 0">
              <li ng-repeat="job in h.operation.jobs">
                <a href="/jobs/{{job.id}}">{{job.id}}</a>
              </li>
            </ul>
          </td>
        </tr>
      </table>

    </div>

    <div ng-if="part">
      <h1 class="md-title" style="margin-bottom: 12px">
        Sample {{part.sample.id}}
      </h1>
      <h1 class="md-subhead" style="margin-bottom: 12px">
        <a href="/browser?sid={{part.sample_id}}" target="sample">{{part.sample.name}}</a>
      </h1>
      <b>Position:</b> {{row}}, {{column}}<br>
      <div ng-if="part.id">
        <b>Part ID:</b> {{part.id}}<br>      
        <b>Type:</b> {{part.sample.sample_type.name}}<br>
        <b>Owner:</b> {{part.sample.user.name}}<br>   
        <b>Created:</b> {{part.sample.created_at|date}}<br>
        <b>Updated:</b> {{part.sample.updated_at|date}}<br>        
      </div>
      <div ng-if="!part.id">
        No sample assigned
      </div>
      <hr>
      Press <tt>Escape</tt> to deselect this part.
    </div>


    <div ng-if="selection.length > 1">
      Multiple parts selected.<br>
      Press <tt>Escape</tt> to deselect.
    </div>

  </div>

<% end %>

<%= content_for :specific_title do %>
  : {{item.object_type.name}}
    {{collection.object_type.name}}
  <span ng-if="mode == 'data'">: <b>{{key}}</b></span>
<% end %>

<%= content_for :action1 do %>  
  <md-button class="md-raised" 
             ng-if="mode == 'data'"
             ng-click="undo_data_changes()"
             ng-disabled='!data_changed() || saving'>
    Undo
  </md-button>
<% end %>

<%= content_for :action2 do %>  
  <md-button class="md-raised md-warn"
             ng-if="mode == 'data'"
             ng-click="save_data()"
             ng-disabled='!data_changed() || saving'>
    <span ng-if="saving">Saving</span>
    <span ng-if="!saving">Save</span>
  </md-button> 
<% end %>


<%= content_for :action3 do %>
  <md-menu>
    <md-button ng-class="mode_class('data')"
      ng-click="openMenu($mdMenu, $event)">Data</md-button>
    <md-menu-content>
      <md-menu-item ng-repeat="key in collection.data_keys">
        <md-button ng-click="choose_data_key(key)">{{key}}</md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>   
      <md-menu-item>
        <md-button ng-click="new_data_key()">New Key</md-button>
      </md-menu-item>         
    </md-menu-content>
  </md-menu>
<% end %>

<%= content_for :action4 do %>  
  <md-button ng-class="mode_class('samples')"
             ng-click="set_mode('samples')">
             Samples
  </md-button> 
<% end %>

<%= content_for :keydown do %>keydown($event)<% end %>

<%= content_for :main do %>

  <div ng-if="collection" class="collection-editor">

    <div>

      <div class="selection-box"
           ng-if="selection.length > 0"
           style="top: {{selection_box.y}}px; 
                  left: {{selection_box.x}}px;
                  height: {{selection_box.height}}px;
                  width: {{selection_box.width}}px;">
      </div>    

      <table>
        <tr>
          <td class="index" style="width: 30px" ng-click="select_all()"></td>
          <td class="index" 
              ng-repeat="part in collection.part_matrix[0] track by $index"
              ng-click="select_column($index)">
            {{$index}}
          </td>
        </tr>
        <tr ng-repeat="row in collection.part_matrix track by $index">
          <td class="index" ng-click="select_row($index)">{{$index}}</td>
          <td ng-repeat="part in row track by $index"
              ng-class="cell_class(part,$parent.$index,$index)"
              ng-click="select(part,$parent.$index,$index,$event)"
              data-selected="{{part.selected}}">
            <div ng-if="mode == 'samples' && part.rid" class="sample-identifier">
              <b>{{part.sample_id}}:</b> {{part.sample.name}}
            </div>
            <div ng-if="mode == 'data' && part.rid && key == da.key"
                 ng-repeat="da in part.data_associations"
                 class="data-input">
              <textarea
                     ng-if="da.is_object"
                     ng-model="da.new_value"
                     json-text="da.new_value"
                     ng-change="gang_data_associations(da.new_value)"></textarea>
              <textarea
                     ng-if="!da.is_object"
                     ng-model="da.new_value"
                     ng-change="gang_data_associations(da.new_value)"></textarea>
            </div>
          </td>
        </tr>
      </table>

    </div>

    <div layout-padding ng-if="selection.length > 0 && samples_loaded && mode == 'samples'">
      <label>Assign Sample to Selection</label>
      <input flex=50
             class="choose-sample"
             samplechooser="info.sample_identifier"><br>
      <md-button ng-click="assign_sample()"
                 ng-disabled="!info.sample_identifier"
                 class="md-raised md-primary">Assign</md-button><br>
      <md-button ng-click="delete_parts()"
                 class="md-raised">Delete</md-button>                 
    </div>

    <div layout-padding ng-if="selection.length > 0 && !samples_loaded">
      Loading sample names...
    </div>

  </div>

  <div ng-if="item" layout-padding>
    This interface is primarily for viewing and editing collections.<br>
    To inspect this item, click here:<div item="item" container="item.object_type" sample="item.sample"></div>
  </div>


<% end %>

