<h1>Item <%= @item.id %></h1>

<% if @item.object_type.handler == 'sample_container' %>
  <h2><%= link_to @item.sample.name, @item.sample %> - <span style='color: #aaa'><%= @item.object_type.name %></span></h2>
  <p><%= @item.sample.description %></p>
<% else %>
  <h2><%= link_to @item.object_type.name, @item.object_type %></h2>
<% end %>

<% if @item.data && @item.data != "" %>
  <h4>Data</h4> <ul class='list'>
      <% begin
                data = JSON.parse(@item.data) 
              rescue
                data = {}
              end
         %>

        <% if data.class == Hash %> 
          <% data.each do |k,v| %>
            <li><%= k %>: <%=  v %></li>
          <% end %>
        <% end %>

</ul>
<% end %>

<h4>History</h4>

<table class='table'>
  <tr>
    <th >Date/Time</th>
    <th>Job</th>
    <th>Protocol</th>
    <th>User</th>
  </tr>
<% @touches.each do |t| %>
  <% j = Job.find(t.job_id) %>
  <tr>
    <td><%= j.created_at.to_formatted_s(:short) %></td>
    <td><%= link_to j.id, j %></td>
    <td><%= j.path %></td>
    <td><%= j.user.login %></td>
  </tr>
<% end %>
</table>
