<h1>Item <%= @item.id %></h1>

<% if @item.object_type.handler == 'sample_container' %>
  <h2><%= link_to @item.sample.name, @item.sample %> - <span style='color: #aaa'><%= @item.object_type.name %></span></h2>
<% else %>
  <h2><%= link_to @item.object_type.name, @item.object_type %></h2>
<% end %>

<p><%= @item.sample.description %></p>

<% if @item.data && @item.data != "" %>
  <p>Data: <%= @item.data %></p>
<% end %>

<h4>History</h4>

<table class='table'>
  <tr>
    <th>Date/Time</th>
    <th>Job</th>
    <th>Protocol</th>
    <th>User</th>
  </tr>
<% @touches.each do |t| %>
  <% j = Job.find(t.job_id) %>
  <tr>
    <td><%= j.created_at.to_formatted_s(:short) %></td>
    <td><%= link_to j.id, j %></td>
    <td><%= j.path %></td>
    <td><%= j.user.login %></td>
  </tr>
<% end %>
</ul>
