<%

  if topic.class == ProtocolSummary
    base = "#{topic.sha}"
    topic_name = "Protocol Discussion: #{topic.protocol.split('/').last}"
  else
    base = "#{topic.class}_#{topic.id}"
    topic_name = "#{topic.class} #{topic.id} Discussion"
  end

  button_name = "#{base}_discussion_button"
  modal_name  = "#{base}_discussion_modal"

 %>

  <%
    button_class = (local_assigns.has_key? :button_class) ? button_class : "btn-mini"
  %>

<a href="#<%= modal_name %>" id="<%= button_name %>" role="button" 
   class="btn btn-info <%= button_class %>" data-toggle="modal">
</a>

  <div id="<%= modal_name %>" class="modal hide fade discussion discussion-modal" tabindex="-1" 
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 style='text-align: left'><%= topic_name %></h3>
  </div>

  <div class="modal-body" style='text-align: left'>

  <% if topic.class == ProtocolSummary %>
    <div class='protocol-version'>
      Protocol Version: <%= topic.sha %><br />
      <a href="/jobs/summary?path=<%= topic.protocol %>">All versions</a>
    </div>
  <% end %>

    <div class="new-post">
      <textarea id="new-post-text"></textarea><br />
      <button id="new-post-button" class='btn btn-mini'>Post</button>
    </div>

    <div id="posts" class="posts-container"></div>

  </div>

</div>

<%= render partial: '/posts/post_template' %>

<script>

  <%
    if local_assigns.has_key? :link
      linkname = link
    else
      n = topic.num_posts
      if n > 0 
        linkname = pluralize(n,"Post")
      else
        linkname = "Discuss"
      end
    end
  %>

  topic_object = JSON.parse('<%= topic.to_json(:except => [:state,:specification,:data]).html_safe %>');

  d = new Discussion();

  d.setup_topic({
    topic: topic_object,
    klass:  '<%= topic.class %>',
    button: $('#<%= button_name %>'),
    modal:  $('#<%= modal_name %>'),
    link:   '<%= linkname %>'
  });

  <% if !(local_assigns.has_key? :reload) || reload %>
    $('.modal').on('hidden', function () {
      location.reload();
    });
  <% end %>

  <% if (local_assigns.has_key? :hidden) && hidden %>
    $('#<%= button_name %>').css('display','none');
  <% end %>

</script>
