<% provide(:title, 'Planner') %>

<%= render partial: 'field_value_editor' %>
<%= render partial: 'operation_info' %>
<%= render partial: 'module_info' %>
<%= render partial: 'io_editor' %>
<%= render partial: '/data_associations/template' %> 
<%= render partial: "/items/template" %>
<%= render partial: 'launch_plan' %>  
<%= render partial: 'field_value_form' %>
<%= render partial: 'parameter_form' %>

<% content_for :controller do %>planCtrl<% end %>
<% content_for :class do %>plans launcher<% end %>
<% content_for :no_main_scroll_decision do %>true<% end %>

<% content_for :specific_title do %>
  <span ng-if="plan.current_module.id !=0" 
        ng-repeat="mod_name in plan.path_to_current_module() track by $index">
    &rang; {{mod_name}}
  </span>
<% end %>

<% content_for :sidebar do %>

  <h1 class="md-title" ng-if="current_user.id != <%= current_user.id %>">Acting as 
    <span style="background: yellow">{{current_user.login}}</span>
  </h1>

  <ul ng-if="plan.errors.length > 0">
    <li ng-repeat="e in plan.errors">{{e}}</li>
  </ul>

  <div ng-if="ready" layout-fill>

    <div ng-if="state.submitted_plan" class="message">
      <p>Successfully submitted plan <a href="/launcher?plan_id={{state.submitted_plan.id}}">{{state.submitted_plan.id}}</a>.</p>
      <div class="dismiss clickable" ng-click="state.submitted_plan = null">&times;</div>
    </div>  

    <div ng-if="state.message" class="message">
      <p>{{state.message}}</p>
      <div class="dismiss clickable" ng-click="state.message = null">&times;</div>
    </div>

    <div ng-if="!current_op && !current_fv && !state.launch && current_draggable.record_type != 'Module'">
      <%= render partial: "plan_editor_tools" %>
    </div>

    <div ng-if="current_op && !current_fv" 
         ng-include="'operation_info'">
    </div>

    <div ng-if="current_draggable.record_type == 'Module' && !current_fv" 
         ng-include="'module_info'">
    </div>    

    <div ng-if="current_fv"
         ng-include="'field_value_editor'">
    </div>

    <div ng-if="state.launch" 
         ng-include="'launch_plan'">
    </div>   

    <% if current_user && current_user.is_admin %>

      <hr>

      <md-input-container layout-margin layout="column">
        <md-select ng-model="state.selected_user_id" class="md-plain-select"
                   md-on-close="select_user()">
          <md-option ng-repeat="user in users" 
                     ng-value="user.id">
            {{user.login}} ( {{user.name}} )
          </md-option>
        </md-select>
      </md-input-container>

    <% end %>    

  </div>

<% end %>

<% content_for :no_specific_padding do %>true<% end %>


<script type="text/ng-template" id="planner-action-template">

  <button layout='column' layout-align='center center'
          ng-disabled='isDisabled'
          class='planner-action clickable no-highlight'>

    <ng-md-icon icon='{{icon}}' size='28' aria-label='{{name}}' ng-class="isDisabled ? 'disabled-icon' : 'active-icon'"/>

    <span class='action-name'>{{name}}</span>

    <md-tooltip md-direction='bottom'>{{tooltip}}</md-tooltip>

  </button>

</script>

<% content_for :action1 do %>

  <planner-action ng-click="select_all()"                    
                  icon="select_all" name="All" 
                  tooltip="Select All (Ctrl-A)"></planner-action>  

  <planner-action ng-click="delete()"
                  icon="clear" name="Delete" 
                  tooltip="Delete (Delete/Backspace)"></planner-action>    

  <div style="width: 1px; height: 100%; border-left: 1pt solid #eee; margin: 5px"></div>

  <planner-action ng-click="select(plan.create_module(current_op))"
                  icon="module" name="Module"
                  tooltip="New Module (Ctrl-M)"></planner-action>  

  <planner-action ng-click="plan.open_module(current_draggable)"
                  is_disabled="!(current_draggable && current_draggable.record_type == 'Module')"
                  icon="zoom_out_map" name="Expand"
                  tooltip="Expand Module (Right Click)"></planner-action>                  

  <planner-action ng-click="add_module_input()"
                  is-disabled="plan.current_module.id == 0"
                  icon="input" name="Input"
                  tooltip="New Module Input (Ctrl-I)"></planner-action>  

  <planner-action ng-click="add_module_output()"
             is-disabled="plan.current_module.id == 0"        
             icon="output" name="Output"
             tooltip="New Module Output (Ctrl-O)"></planner-action>  

  <div style="width: 1px; height: 100%; border-left: 1pt solid #eee; margin: 5px"></div>

  <planner-action ng-click="create_template(plan)"
                  is-disabled="!plan.id"
                  icon="share" name="Template"
                  tooltip="Save as Template (Ctrl-T)"></planner-action>

  <div style="width: 1px; height: 100%; border-left: 1pt solid #eee; margin: 5px"></div>

  <planner-action ng-click="new(plan)" icon="note_add" name="New" tooltip="New Plan"></planner-action>

  <planner-action ng-click="save(plan)" 
                  is-disabled="plan.saving || plan.operations.length == 0" 
                  icon="save" name="Save"
                  tooltip="Save Plan (Ctrl-S)"></planner-action>

  <planner-action ng-click="copy_plan(plan)"
             is-disabled="plan.operations.length == 0"
             icon="content_copy" name='Copy'
             tooltip="Copy (Save as New) Plan"></planner-action>                    

  <planner-action ng-click="delete_plan(plan)"
                  is-disabled="!plan.id"
                  icon="delete" name="Trash"
                  tooltip="Delete Plan"></planner-action>

  <div style="width: 1px; height: 100%; border-left: 1pt solid #eee; margin: 5px"></div>

  <planner-action ng-click="launch()"
                  is-disabled="!plan.id || !plan.valid() || state.launch" 
                  icon="launch" name="Launch"
                  tooltip="Launch Plan"></planner-action>

  <div style="width: 1px; height: 100%; border-left: 1pt solid #eee; margin: 5px"></div>

<% end %>

<% content_for :main do %>

  <div flex layout-padding ng-if="!ready">
    <div layout="row">
      <div flex="34"></div>
      <div flex="66">
        <br /><br />
        <h2 class="md-title">Loading ...</h2>
        <br />
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>
    </div>
  </div>  

  <div class="editor-main" layout="column" ng-if="ready">

    <div flex class="plan-editor-container scrollable"
         ng-keydown="keyDown($event)" tabindex="0">
      <%= render partial: 'plan_editor' %>
    </div>

    <div class="opeditbar operation-editor scrollable">
      <inner>
        <div ng-if="current_op && current_draggable.record_type != 'Module'">
          <%= render partial: 'operation_editor' %>
        </div>
        <div ng-if="current_draggable && current_draggable.record_type == 'Module'">
          <%= render partial: 'module_io_editor' %>
        </div>
        <div ng-if="current_draggable && current_draggable.record_type == 'ModuleIO'">
          {{current_draggable.origin.io.record_type|json}}<br>
          origin: {{current_draggable.origin.io.rid}}<br>
          destinations: <span ng-repeat="d in current_draggable.destinations">{{d.io.rid}} </span>
        </div>
      </inner>
    </div>   

    <div style="position: fixed; top: 130px; right: 40px; font-size: 24pt; cursor: pointer"
         ng-if="plan.current_module.id != 0"
         ng-click="plan.close_current_module()">
         &times;
         <md-tooltip md-direction='bottom'>Close Module "{{plan.current_module.name}}"</md-tooltip>
    </div>    

  </div>

<% end %>
