<% provide(:title, 'Planner') %>

<%= render partial: 'field_value_editor' %>
<%= render partial: 'operation_info' %>
<%= render partial: 'io_editor' %>
<%= render partial: '/data_associations/template' %> 
<%= render partial: "/items/template" %>
<%= render partial: 'launch_plan' %>  

<% content_for :controller do %>planCtrl<% end %>
<% content_for :class do %>plans launcher<% end %>
<% content_for :no_main_scroll_decision do %>true<% end %>

<% content_for :specific_title do %>
  <span ng-if="current_op">&rang; {{current_op.operation_type.name}}</span>
  <span ng-if="current_fv">&rang; {{current_fv.name}}</span>
<% end %>

<% content_for :sidebar do %>

  <ul ng-if="plan.errors.length > 0">
    <li ng-repeat="e in plan.errors">{{e}}</li>
  </ul>

  <div ng-if="ready" layout-fill>

    <div ng-if="state.submitted_plan" class="message">
      <p>Successfully submitted plan <a href="/launcher?plan_id={{state.submitted_plan.id}}">{{state.submitted_plan.id}}</a>.</p>
      <div class="dismiss clickable" ng-click="state.submitted_plan = null">&times;</div>
    </div>  

    <div ng-if="state.message" class="message">
      <p>{{state.message}}</p>
      <div class="dismiss clickable" ng-click="state.message = null">&times;</div>
    </div>

    <div ng-if="!current_op && !current_fv && !state.launch">
      <%= render partial: "plan_editor_tools" %>
    </div>

    <div ng-if="current_op && !current_fv" 
         ng-include="'operation_info'">
    </div>

    <div ng-if="current_fv"
         ng-include="'field_value_editor'">
    </div>

    <div ng-if="state.launch" 
         ng-include="'launch_plan'">ASD
    </div>   

  </div>

<% end %>

<% content_for :action1 do %>
  <md-button class='md-raised' ng-click="new(plan)">New</md-button>
<% end %>

<% content_for :action2 do %>
  <md-button class='md-raised' 
             ng-click="save(plan)" 
             ng-disabled="plan.saving || plan.operations.length == 0">
             Save
  </md-button>
<% end %>

<% content_for :action3 do %>
  <md-button class='md-raised' 
             ng-click="launch()"
             ng-disabled="!plan.id || !plan.valid() || state.launch">
             Launch
  </md-button>
<% end %>

<% content_for :action4 do %>
  <md-menu>
    <md-button ng-click="openMenu($mdMenu, $event)" class="md-icon-button" style="padding-top:5px">
      <ng-md-icon icon="menu" size="30" aria-label="Menu"></ng-md-icon>
    </md-button>
    <md-menu-content>

      <md-menu-item>
        <md-button class='md-raised' 
                   ng-disabled="!plan.id"
                   ng-click="create_template(plan)">
                   Create Template
        </md-button>
      </md-menu-item>

      <% if current_user.is_admin %>
        <md-menu-item>
          <md-button class='md-raised' 
                     ng-disabled="!plan.id"
                     ng-click="create_system_template(plan)">
                     Create System Template
          </md-button>
        </md-menu-item>
      <% end %>


      <md-divider></md-divider>
      <md-menu-item>
        <md-button class='md-raised' 
                   ng-disabled="!plan.id"
                   ng-click="delete_plan(plan)">
                   Delete
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button class='md-raised' 
                   ng-disabled="plan.operations.length == 0"
                   ng-click="copy_plan(plan)">
                   Copy
        </md-button>  
      </md-menu-item>
    </md-menu-content>
  </md-menu>
<% end %>

<% content_for :main do %>

  <div flex layout-padding ng-if="!ready">
    <div layout="row">
      <div flex="34"></div>
      <div flex="66">
        <br /><br />
        <h2 class="md-title">Loading ...</h2>
        <br />
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>
    </div>
  </div>  

  <div class="editor-main" layout="column" ng-if="ready">

    <div flex class="plan-editor-container scrollable"
         ng-keydown="keyDown($event)" tabindex="0">
      <%= render partial: 'plan_editor' %>
    </div>

    <div class="opeditbar operation-editor scrollable">
      <inner>
        <%= render partial: 'operation_editor' %>
      </inner>
    </div>   

  </div>

<% end %>


