<% provide(:title, 'Planner') %>

<%= render partial: 'field_value_editor' %>
<%= render partial: 'operation_info' %>
<%= render partial: 'io_editor' %>
<%= render partial: '/data_associations/template' %> 
<%= render partial: "/items/template" %>

<% content_for :controller do %>planCtrl<% end %>
<% content_for :class do %>plans launcher<% end %>
<% content_for :no_main_scroll_decision do %>true<% end %>

<% content_for :sidebar do %>

  <div ng-if="ready">

    <div ng-repeat="category in operation_types.categories"
         ng-if="!current_op && !current_fv">
      <h2 class="md-title">{{category}}</h2>
      <md-list class='md-compact-list'>
        <md-list-item ng-repeat="ot in operation_types | filter: { category: category }">
          <a href="#" ng-click="add_operation(ot)">{{ot.name}}</a>
        </md-list-item>
      </md-list>
    </div>

    <div ng-if="current_op && !current_fv" ng-include="'operation_info'">
    </div>

    <div ng-if="current_fv"
         ng-include="'field_value_editor'">
    </div>

  </div>

<% end %>

<% content_for :main do %>

  <div flex layout-padding ng-if="!ready">
    <div layout="row">
      <div flex="34"></div>
      <div flex="66">
        <br /><br />
        <h2 class="md-title">Loading ...</h2>
        <br />
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>
    </div>
  </div>  

  <div class="editor-main" layout="column" ng-if="ready">

    <div flex="20" class="operation-editor scrollable">
      <%= render partial: 'operation_editor' %>
    </div>   

    <div flex="80" class="plan-editor-container scrollable"
         ng-keydown="keyDown($event)" tabindex="0">
      <%= render partial: 'plan_editor' %>
    </div>

  </div>

<% end %>


