<p id="notice"><%= notice %></p>

<p>
  <b>Job:</b>
  <%= @log.job %>
</p>

<p>
  <b>User:</b>
  <%= @log.user %>
</p>

<p>
  <b>Entry Type:</b>
  <%= @log.entry_type %>
</p>

<p>
  <b>Data:</b>
  <%= @log.data %>
</p>


<%= link_to 'Back', logs_path %>
