<div class="header not-scrollable no-print">

  <md-toolbar class="main-toolbar md-hue-25">

    <div class="md-toolbar-tools">

      <md-menu layout="row">

        <div class='detail-menu clickable'
             ng-click="openMenu($mdMenu, $event)">
          <ng-md-icon icon="menu" size="30" aria-label="Menu"></ng-md-icon>
        </div>

        <md-menu-content width="4" class="scrollable" flex>

          <md-menu-item>
            <md-button href="/static_pages/direct_purchase">Direct Purchase</md-button>
          </md-menu-item>

          <md-menu-divider></md-menu-divider>

          <md-menu-item>
            <md-button href="/logs">Logs</md-button>
          </md-menu-item>

          <% if current_user && current_user.is_admin %>

            <md-menu-divider></md-menu-divider>

            <md-menu-item>
              <md-button href="/users">Users</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button href="/groups">Groups</md-button>
            </md-menu-item>          
            <md-menu-item>
              <md-button href="/announcements">Announcements</md-button>
            </md-menu-item>            

            <md-menu-divider></md-menu-divider>

            <md-menu-item>
              <md-button href="/budgets">Budgets</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button href="/invoices?all=true">Invoices</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button href="/parameters">Parameters</md-button>
            </md-menu-item>

            <md-menu-divider></md-menu-divider>

            <md-menu-item>
              <md-button href="/sample_types">Sample Type Definitions</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button href="/object_types">Containers</md-button>
            </md-menu-item>            
            <md-menu-item>
              <md-button href="/wizards">Location Wizards</md-button>
            </md-menu-item>

          <% end %>

          <md-menu-divider></md-menu-divider>          

          <md-menu-item>
            <md-button href="/doc/index.html" class="dropdown-toggle" target='documentation'>Help</md-button>
          </md-menu-item>

        </md-menu-content>

      </md-menu> 

      <div class="aq2-logo" layout="column" flex md-truncate>
        <div class='top'>
          <a href="/" class="aquarium">AQUARIUM</a>
          <span class="version">v<%= Bioturk::Application.config.aquarium_version %></span>
        </div>
        <div class='bottom'>
          <span class="instance"><%= Bioturk::Application.config.instance_name %>:</span>
          <span class="mode"><%= Rails.env %></span>
        </div>
      </div>

      <md-button href="/launcher" aria-label="Planner" class="main-button <%= yield(:title) == 'Planner' ? 'underlined' : '' %>">
        <%= link_to "Planner", launcher_path %>
      </md-button>

      <md-button href="/operations" aria-label="Manager" class="main-button <%= yield(:title) == 'Manager' ? 'underlined' : '' %>">
        <%= link_to "Manager", operations_path %>
      </md-button>      

      <md-button href="/browser" aria-label="Inventory" class="main-button <%= yield(:title) == 'Inventory' ? 'underlined' : '' %>">
        <a href="/browser">Inventory</a>
      </md-button>

      <% if current_user && current_user.is_admin %>        

        <md-button href="/operation_types" aria-label="Developer" class="main-button <%= yield(:title) == 'Developer' ? 'underlined' : '' %>">
          <%= link_to "Developer", operation_types_path %>
        </md-button>

      <% end %>      

      <md-menu> 

        <md-button class="login"
                   ng-click="openMenu($mdMenu, $event)" 
                   aria-label="<%= current_user.login %>">
          &#x25CF; <%= current_user.login %>          
        </md-button>

        <md-menu-content width="3" class="scrollable">
          <md-menu-item>
            <md-button href='/users/<%= current_user.id %>'>Profile</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button href="/invoices">Invoices</md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>          
          <md-menu-item>
            <md-button href="/signout" data-method="delete">Signout</md-button>
          </md-menu-item>         
        </md-menu-content>

      </md-menu> 

    </div>

  </md-toolbar>

</div>