<header class="navbar navbar-fixed-top navbar-inverse no-print" id="header">
  <div class="navbar-inner">
    <div class="container-fluid" id="header-bar">
      <%= link_to "AQUARIUM", root_path, id: "logo" %>
      <div id='environment'>
        <%= Bioturk::Application.config.instance_name %>: 
        <%= Rails.env %>
        <span class="aquarium-version">v<%= Bioturk::Application.config.aquarium_version %></span>
      </div>
      <div id="info-area"></div>
      <nav>
        <ul class="nav pull-right">

          <% if current_user && current_user.is_admin %>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle"
              data-toggle="dropdown">Analytics<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Job Logs", logs_path %></li>
                <li><a href="/sample_tree/1">Chain of Custody</a></li>
                <li><%= link_to "Cost Report", cost_report_path %></li>
                <li><%= link_to "Status", status_path %></li>
                <li><%= link_to "Protocol Usage", protocol_usage_path %></li>
                <li><%= link_to "Protocol Versions", jobs_summary_path %></li>
                <li><%= link_to "Inventory Statistics", inventory_stats_path %></li>
                <!-- <li><%= link_to "Critical Inventory", inventory_critical_path %></li> -->
              </ul>
            </li>

          <% end %>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/browser">Samples</a></li>
              <li><%= link_to "Containers", object_types_path %></li>
              <li><%= link_to "Direct Purchase", "/krill/arguments?path=aqualib/purchasing/direct_purchase.rb" %></li>
            </ul>
          </li>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks<b class="caret"></b></a>
            <ul class="dropdown-menu scrollable-menu">
              <% TaskPrototype.order(:name).each do |tp| %>
                <% name = pluralize(2,tp.name)[2..-1] %>
                <li><%= link_to name, tasks_path(task_prototype_id: tp.id) %></li>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to "New Prototype", new_task_prototype_path %></li>
            </ul>
          </li>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Protocols<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Under Version Control", repo_list_path %></li>
              <li><%= link_to "On Local Computer", protocol_tree_file_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Pending Jobs", jobs_path %></li>
              <li><%= link_to "Metacols", metacols_path(:active => true) %></li>
            </ul>
          </li>

          <% if signed_in? %>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="disabled">
                  <a href='#'>Logged in as <%= current_user.login %></a>
                </li>
                <li class="divider"></li>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Invoices", invoices_path %></li> 
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <li><%= current_user %>
          <% end %>

          <% if current_user && current_user.is_admin %>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li><%= link_to "New User", signup_path %></li>
                    <li><%= link_to "Change a Password", password_path %></li>
                    <li><%= link_to "Users", users_path %></li>                
                    <li><%= link_to "Groups", groups_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Budgets", budgets_path %></li>
                    <li><%= link_to "Invoices", invoices_path(:all=>true) %></li>
                    <li><%= link_to "Parameters", parameters_path %></li>
                    <li><%= link_to "Announcements", announcements_path %></li>                    
                    <li class="divider"></li>
                    <% if Rails.env != 'production' %>
                      <li><%= link_to "Developer", developer_path %></li>
                    <% end %>
                    <li><%= link_to "Sample Type Definitions", sample_types_path %></li>
                    <li><%= link_to "Location Wizards", wizards_path %></li>                    
                    <li class="divider"></li>
                    <li><%= link_to "Set Location", location_path %></li>
              </ul>
            </li>

          <% end %>          

          <li id="fat-menu" class="dropdown">
            <a href="/doc/index.html" class="dropdown-toggle" target='documentation'>Help</a>
          </li>

           <li class='dropdown'><%= link_to search_path do %>
               <i class='icon-search icon-white'></i>
             <% end %>
           </li>

        </ul>
      </nav>
    </div>
  </div>
</header>

<%= render 'layouts/color_guard' %>
