<header class="navbar navbar-fixed-top navbar-inverse" id="header">
  <div class="navbar-inner">
    <div class="container-fluid" id="header-bar">
      <%= link_to "AQUARIUM", root_path, id: "logo" %>
      <div id='environment'>
        <%= Bioturk::Application.config.instance_name %>: 
        <%= Rails.env %>
        <span class="aquarium-version">v<%= Bioturk::Application.config.aquarium_version %></span>
      </div>
      <div id="info-area"></div>
      <nav>
        <ul class="nav pull-right">

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle"
            data-toggle="dropdown">Workflow<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Index", workflows_path %></li>
              <li><%= link_to "Processes", workflow_processes_path %></li>
              <li><%= link_to "Operations", operations_path %></li>
              <li><%= link_to "Folders", folders_path %></li>
            </ul>
          </li>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle"
            data-toggle="dropdown">Analytics<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Job Logs", logs_path %></li>
              <li><%= link_to "Status", status_path %></li>
              <li><%= link_to "Protocol Usage", protocol_usage_path %></li>
              <li><%= link_to "Protocol Versions", jobs_summary_path %></li>
              <li><%= link_to "Inventory Statistics", inventory_stats_path %></li>
              <!-- <li><%= link_to "Critical Inventory", inventory_critical_path %></li> -->
            </ul>
          </li>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle"
            data-toggle="dropdown">Inventory<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Basic", object_types_path %></li>
              <li class="divider"></li>
              <% SampleType.all.each do |st| %>
                <% name = pluralize(2,st.name)[2..-1] %>
                <li><%= link_to name, samples_path(sample_type_id: st.id) %></li>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to "Import Samples from Spreadsheet", spreadsheet_path %></li>
              <li><%= link_to "Samples by Project", project_url %></li>
              <li><%= link_to "Sample Type Definitions", sample_types_path %></li>
              <li><%= link_to "Location Wizards", wizards_path %></li>
            </ul>
          </li>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% TaskPrototype.order(:name).each do |tp| %>
                <% name = pluralize(2,tp.name)[2..-1] %>
                <li><%= link_to name, tasks_path(task_prototype_id: tp.id) %></li>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to "New Prototype", new_task_prototype_path %></li>
            </ul>
          </li>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Protocols<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Under Version Control", repo_list_path %></li>
              <li><%= link_to "On Local Computer", protocol_tree_file_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Pending Jobs", jobs_path %></li>
              <li><%= link_to "Metacols", metacols_path(:active => true) %></li>
            </ul>
          </li>

          <% if signed_in? %>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="disabled">
                  <a href='#'>Logged in as <%= current_user.login %></a>
                </li>
                <li class="divider"></li>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li><%= link_to "All Users", users_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Groups", groups_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <li><%= current_user %>
          <% end %>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <% if current_user && current_user.is_admin %>
                  <li><%= link_to "New User", signup_path %></li>
                  <li><%= link_to "Change a Password", password_path %></li>
                  <li><%= link_to "Set Location", location_path %></li>
                  <% if Rails.env != 'production' %>
                    <li class="divider"></li>
                    <li><%= link_to "Mirror Production", production_interface_path %></li>
                  <% end %>
                <% else %>
                <li class="disabled"><a href='#'>Admin Privileges Required</a></li>
                <% end %>
            </ul>
          </li>

          <li id="fat-menu" class="dropdown">
            <a href="/doc/index.html" class="dropdown-toggle" target='documentation'>Help</a>
          </li>

           <li class='dropdown'><a href="https://github.com/aquarium-bio/issues/issues" target='w'>
               <i class='bugico'></i>
             </a>
           </li>

           <li class='dropdown'><%= link_to search_path do %>
               <i class='icon-search icon-white'></i>
             <% end %>
           </li>

        </ul>
      </nav>
    </div>
  </div>
</header>

<%= render 'layouts/color_guard' %>
