<header class="navbar navbar-fixed-top navbar-inverse" id="header">
  <div class="navbar-inner">
    <div class="container-fluid" id="header-bar">
      <%= link_to "AQUARIUM", root_path, id: "logo" %>
      <div id='environment'><%= Rails.env %></div>
      <div class='info' id="info-area"></div>
      <nav>
        <ul class="nav pull-right">

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle"
            data-toggle="dropdown">Analytics<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Logs", logs_path %></li>
              <li><%= link_to "Current Activity", root_path %></li>
              <li><%= link_to "Changes", changes_path %></li>
            </ul>
          </li>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle"
            data-toggle="dropdown">Inventory<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Basic", object_types_path %></li>
              <li class="divider"></li>
              <% SampleType.all.each do |st| %>
                <% name = pluralize(2,st.name)[2..-1] %>
                <li><%= link_to name, samples_path(sample_type_id: st.id) %></li>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to "Sample Type Definitions", sample_types_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Statistics", inventory_stats_path %></li>              
              <li><%= link_to "Critical", inventory_critical_path %></li>              
              <% if Rails.env != 'production' && current_user && current_user.is_admin %>
                <li class="divider"></li>
                <li><%= link_to "Adminstration", production_interface_path %></li>
              <% end %>
            </ul>
          </li>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Protocols<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Metacols", metacols_path(:active => true) %></li>
              <li class="divider"></li>
              <li><%= link_to "Github", protocol_tree_home_path %></li>
              <li><%= link_to "Local", protocol_tree_file_path %></li>
              <li><%= link_to "Recent", protocol_tree_recent_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Pending Jobs", jobs_path %></li>
            </ul>
          </li>

          <% if signed_in? %>
            
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="disabled">
                  <a href='#'>Logged in as <%= current_user.login %></a>
                </li>
                <li class="divider"></li>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li><%= link_to "All Users", users_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Groups", groups_path %></li>
                <% if current_user && current_user.is_admin %>
                  <li class="divider"></li>
                  <li><%= link_to "New", signup_path %></li>
                <% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <li><%= current_user %>
          <% end %>

           <li class='dropdown'><%= link_to "Help", help_path %></li>

           <li class='dropdown'><%= link_to cart_items_path do %>
               <i class='icon-shopping-cart icon-white'></i>
             <% end %>
           </li>

        </ul>
      </nav>
    </div>
  </div>
</header>

<script>

  if ( /3011/.exec(document.URL) ) {

    document.getElementById('logo').style.color = 'orange';
    document.getElementById('header-bar').style.background = '#720';

  } else if ( /3010/.exec(document.URL) ) {

    document.getElementById('logo').style.color = '#aaa';

  } else {

    document.getElementById('logo').style.color = '#0f0';
    document.getElementById('header-bar').style.background = '#030';

  }

  <% if Rails.env == 'production' %>

    var headerColor = document.getElementById('header-bar').style.background;
    var cameraIsOn = false;

    function blinkHeader() {

      var el = document.getElementById('header-bar');

      if ( cameraIsOn ) {

	if ( el.style.background == "rgb(255, 0, 0)" ) {
	  el.style.background = headerColor;
	} else {
	  el.style.background = '#f00';
	}

      } else {
	el.style.background = headerColor;
      }

      setTimeout(blinkHeader,1000); 

    }

    blinkHeader();

    function checkCamera() {

      $.ajax({
	type: 'GET',
//	url: 'http://bioturk.ee.washington.edu/tmp/manta.json',
        url: 'http://istcsrv.cs.washington.edu:8800/statsum?format=json',
	dataType: "json",
	crossDomain: true,
	success: function(data,status) {
	  cameraIsOn = data.cameraIsOn;
	}
      });

      setTimeout(checkCamera,10000); 

    }

    checkCamera();

  <% end %>

</script>


