<header class="navbar navbar-fixed-top navbar-inverse" id="header">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "BIOTURK", root_path, id: "logo" %>
      <div class='info' id="info-area"></div>
      <nav>
        <ul class="nav pull-right">

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle"
            data-toggle="dropdown">Analytics<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Log", logs_path %></li>
              <li><%= link_to "Status", status_path %></li>
            </ul>
          </li>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle"
            data-toggle="dropdown">Inventory<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Basic", object_types_path %></li>
              <li><%= link_to "Samples", samples_path %></li>
              <li><%= link_to "Sample Types", sample_types_path %></li>
              <% if Rails.env != 'production' %>
                <li class="divider"></li>
                <li><%= link_to "Manipulate", production_interface_path %></li>
              <% end %>
            </ul>
          </li>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Protocols<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Github", protocol_tree_home_path %></li>
              <li><%= link_to "Local", protocol_tree_file_path %></li>
              <li><%= link_to "Recent", protocol_tree_recent_path %></li>
              <li><%= link_to "Pending Jobs", jobs_path %></li>
            </ul>
          </li>

          <% if signed_in? %>
            
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="disabled">
                  <a href='#'>Logged in as <%= current_user.login %></a>
                </li>
                <li class="divider"></li>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li><%= link_to "All Users", users_path %></li>
                <% if current_user && current_user.admin? %>
                  <li><%= link_to "New", signup_path %></li>
                <% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <li><%= current_user %>
          <% end %>

          <li class='dropdown'><%= link_to "Help", help_path %></li>

        </ul>
      </nav>
    </div>
  </div>
</header>

<script>
  if ( /3011/.exec(document.URL) ) {
    document.getElementById('logo').style.color = 'orange';
  }
</script>
