<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>

    <%= javascript_include_tag "angular/angular.min.js" %>
    <%= javascript_include_tag "angular-resource/angular-resource.min.js" %>
    <%= javascript_include_tag "angular-cookies/angular-cookies.min.js" %>
    <%= javascript_include_tag "angular-animate/angular-animate.min.js" %>
    <%= javascript_include_tag "angular-aria/angular-aria.min.js" %>
    <%= javascript_include_tag "angular-messages/angular-messages.min.js" %>
    <%= javascript_include_tag "angular-material/angular-material.min.js" %>    

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>       

  </head>

  <body>

    <%= render 'layouts/header' %>

    <div class="container-fluid">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value.class == Array ? value.join('<br />').html_safe : value %></div>
      <% end %>
      <%= yield %>

    </div>

    <%= render 'layouts/footer' %>    

  </body>

</html>
