<!DOCTYPE html>
<html>

  <head>
    <title>Aquarium</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

   <body style="background-color:transparent">

    <header class="navbar navbar-fixed-top navbar-inverse" id="header">
      <div class="navbar-inner">
        <div class="container-fluid" id="header-bar">
          <%= link_to "AQUARIUM", root_path, id: "logo" %>
          <div id='environment'><%= Rails.env %></div>
          <div class='info' id="info-area"></div>
          <nav>
          </nav>
        </div>
      </div>
    </header>

    <div class="container-fluid">

      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value.class == Array ? value.join('<br />').html_safe : value %></div>
      <% end %>

      <%= yield %>

    </div>

  </body>

  <%= render 'layouts/color_guard' %>

</html>
