<!DOCTYPE html>
<html ng-app='aquarium' ng-controller='layoutCtrl' ng-cloak ng-strict-di>

  <head>
    <title><%= Bioturk::Application.config.instance_name %></title>

    <%= render partial: 'layouts/vendor_code' %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>   
 
    <script>
      // set the environment name for use in cookies
      aquarium_environment_name = '<%= Bioturk::Application.environment_name %>';
    </script>
  </head>

  <body style="background-color:transparent">

    <%= yield %>

    <div layout-padding layout="column" layout-align="center center">
      <div style="text-align: center">
        <md-list layout-padding>
          <% flash.each do |key, value| %>
            <md-list-item>
              <p class="md-title" style="color: #b66"><%= value.class == Array ? value.join('<br />').html_safe : value %></p>
            </md-list-item>
          <% end %>
        </md-list>
      </div>
    </div>    

  </body>

</html>
