<% provide(:title, 'Aquarium Parameters') %>
<%= content_for :controller do %>noCtrl<% end %>
<% content_for :sidebar do %>
  <div layout-padding>
    <%= render 'form' %>
  </div>
<% end %>

<% content_for :main do %>

  <div layout-padding>

    <p>
      <b>Edit with care:</b> 
      Changes here can have far reaching consequences.
    </p>

    <table class='table'>
      <tr>
        <th style="width: 10%">Key</th>
        <th style="width: 10%">Value</th>
        <th style="width: 70%">Description</th>
        <th width: 5%></th>
        <th width: 5%></th>
      </tr>

    <% @parameters.each do |parameter| %>
      <tr>
        <td><%= parameter.key %></td>
        <td><%= parameter.value %></td>
        <td><%= parameter.description %></td>    
        <td>
          <%= link_to edit_parameter_path(parameter) do %>
            <icon class='icon-pencil'></icon>
          <% end %>
        </td>
        <td>
          <%= link_to parameter, method: :delete, data: {confirm: 'Are you sure you want to undefine this parameter?' } do %>
            <icon class='icon-remove'></icon>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>

  </div>

<% end %>
