<% provide(:title, 'Parameters') %>
<%= content_for :controller do %>noCtrl<% end %>

<% content_for :sidebar do %>
  <div layout-padding>

    <%= form_for(@parameter) do |f| %>
      <% if @parameter.errors.any? %>
          <%= render 'form' %> 
      <% end %>

      <h3>Create Parameter</h3>
      <%= f.label :key %>
      <%= f.text_field :key, placeholder: "Your key", required: true %>

      <%= f.label :value %>
      <%= f.text_field :value, placeholder: "Your Value", required: true %>
      
      <%= f.label :description %>
      <%= f.text_field :description, placeholder: "Your description", required: true %>

      <br />
      <% if @parameter.id %>
        <%= f.submit 'Save', class: 'md-button md-raised md-primary' %>
      <% else %>
        <%= f.submit 'New Parameter', class: 'md-button md-raised md-primary' %>
      <% end %>  
          
    <% end %>

  </div>
<% end %>

<% content_for :main do %>

  <div layout-padding>

    <div class="alert alert-danger">
      <strong>Edit with care:</strong> Changes here can have far reaching consequences.
    </div>

    <table class='table'>
      <tr>
        <th style="width: 10%">Key</th>
        <th style="width: 10%">Value</th>
        <th style="width: 70%">Description</th>
        <th width: 5%></th>
        <th width: 5%></th>
      </tr>

    <% @parameters.each do |parameter| %>
      <tr>
        <td><%= parameter.key %></td>
        <td><%= parameter.value %></td>
        <td><%= parameter.description %></td>    
        <td>
          <%= link_to edit_parameter_path(parameter) do %>
            <icon class='icon-pencil'></icon>
          <% end %>
        </td>
        <td>
          <%= link_to parameter, method: :delete, data: {confirm: 'Are you sure you want to undefine this parameter?' } do %>
            <icon class='icon-remove'></icon>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>

  </div>

<% end %>
