<%= form_for(@operation) do |f| %>
  <% if @operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
      <% @operation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :protocol_path %>
  <%= f.text_field :protocol_path %><br />

  <%= f.label :specification %>
  <%= f.text_area :specification, class: "input-block-level code-text-area", rows: "20", cols: "80" %><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
