<% provide(:title, 'Manager') %>

<%= render partial: "/items/template" %>
<%= render partial: 'operation_list' %> 

<%= content_for :class do %>operations<% end %>

<%= content_for :controller do %>operationsCtrl as planner<% end %>

<% content_for :wider_sidebar do %>
  true
<% end %>

<%= content_for :sidebar do %>

  <div layout='column' layout-fill style="height: calc(100vh - 50px) !important">

    <md-tabs flex  md-selected="current.category_index">

      <md-tab label="{{cat}}" ng-repeat="cat in categories" layout-fill>

        <table class='table table-condensed status-table'>
          <tr>
            <th class='operation-name'>
              <md-switch ng-model="current.show_completed" aria-label="Show completed" style="padding-left: 16px; padding-top: 16px">
                Completed
              </md-switch>
            </th>
            <th ng-repeat="status in [ 'Waiting', 'Delayed', 'Pending', 'Deferred', 'Scheduled', 'Running', 'Error', 'Done' ]"
                class='rotate'
                ng-if="current.show_completed || ( status != 'Error' && status != 'Done' )">
              <div><span>{{status}}</span></div>
            </th>
          </tr>
          <tr ng-repeat="operation_type in operation_types | filter: { category: cat }: true" ng-click="choose(operation_type)">
            <td class="operation-name">
              <span ng-class="timing_bullet(operation_type)">&#9679;</span>
              {{operation_type.name}}
            </td>
            <td ng-repeat="status in [ 'waiting', 'delayed', 'pending', 'deferred', 'scheduled', 'running', 'error', 'done' ]"
                ng-class="$parent.status_selector(operation_type,status)"
                ng-click="$parent.select(operation_type,status)"
                ng-if="current.show_completed || ( status != 'error' && status != 'done' )">
                {{numbers[operation_type.id][status] ? numbers[operation_type.id][status] : 0}}
            </td>
          </tr>
        </table>

      </md-tab>

    </md-tabs>

    <div>

      <% if current_user && current_user.is_admin %>

        <hr>

        <div ng-if="users && users.length > 0" layout="column">

          <div layout="row">

            <div flex="60">
              <md-switch ng-model="current.filter_user" 
                         aria-label="Filter User"
                         style="margin: 8px 0 0 32px">
                Filter by User 
              </md-switch>    
            </div>

            <div flex="40">
              <md-button class='md-raised' ng-disabled="applying_user_filter" ng-click="select_user()">Apply</md-button>
            </div>

          </div>

          <md-input-container layout-margin layout="column">
            <md-select ng-model="current.selected_user" 
                       class="md-plain-select">
              <md-option ng-repeat="user in users" 
                         ng-value="user"
                         ng-selected="user.id == current.selected_user.id">
                {{user.login}} ( {{user.name}} )
              </md-option>
            </md-select>
          </md-input-container>

        </div>

        <div ng-if="!users || users.length == 0">
          <p>Loading user list.</p>
        </div>

      <% end %>  

     </div>

   </div>

<% end %>

<%= content_for :specific_title do %>

  <span ng-if="current.selected_user && current.filter_user">
    &rang; {{current.selected_user.name}}
  </span>

  <span ng-if="current.operation_type">
    &rang; {{current.operation_type.category}} &rang; {{current.operation_type.name}} &rang;
    <span class='capitalize'>
      {{current.status}}
    </span>
  </span>
<% end %>

<% if current_user && current_user.is_admin %>
  <%= content_for :action1 do %>

    <md-button aria-label="Schedule"  class='md-raised'
      ng-if="!current.operation_type.on_the_fly && current.status == 'pending'"
      ng-click="batch(current.operation_type)">
      Schedule
    </md-button>

    <md-button aria-label="Retry" class='md-raised'
      ng-if="current.status == 'error'"
      ng-click="retry(current.operation_type)">
      Retry
    </md-button>

  <% end %>
<% end %>

<% if current_user && current_user.is_admin %>
  <%= content_for :action2 do %>
    <md-button aria-label="Click"  class='md-raised'
      ng-if="!current.operation_type.on_the_fly && current.status == 'pending'"
      ng-click="choose(current.operation_type,'pending',true)">
      All
    </md-button>
    <md-button aria-label="Click"  class='md-raised'
      ng-if="!current.operation_type.on_the_fly && current.status == 'error'"
      ng-click="choose(current.operation_type,'error',true)">
      All
    </md-button>  
  <% end %>
<% end %>

<% if current_user && current_user.is_admin %>
  <%= content_for :action3 do %>
    <md-button aria-label="Click" class='md-raised'
      ng-if="!current.operation_type.on_the_fly && current.status == 'pending'"
      ng-click="choose(current.operation_type,'pending',false)">
      None
    </md-button>
    <md-button aria-label="Click"  class='md-raised'
      ng-if="!current.operation_type.on_the_fly && current.status == 'error'"
      ng-click="choose(current.operation_type,'error',false)">
      None
    </md-button>  
  <% end %>
<% end %>

<% if current_user && current_user.is_admin %>
  <%= content_for :action4 do %>
    <md-button class="md-raised md-primary" ng-click="step_all()" ng-disabled="current.stepping">
      <span ng-if="!current.stepping">Step All</span>
      <span ng-if="current.stepping">
        <md-progress-linear class="md-hue-2" md-diameter="20px" style="display: inline-block">
        </md-progress-linear>       
      </span>
    </md-button>
  <% end %>
<% end %>

<%= content_for :main do %>

   <%= render partial: '/data_associations/template' %> 

   <div class='timing md-subhead timing-info'
        ng-if="current.operation_type.timing && current.operation_type.timing.active">
        Usually Scheduled {{current.operation_type.timing.as_string}}
   </div>

  <oplist operationtype="current.operation_type"
          operations="current.operation_type.operations"
          status="current.status"
          ng-if="current.operation_type && current.status != 'scheduled' && current.status != 'running'">
  </oplist>

  <div ng-if="current.operation_type && current.status == 'scheduled' || current.status == 'running'">

    <div ng-if="jobs.length > 0" ng-repeat="job_id in jobs" class='job'  style='margin: 16px'>

      <md-toolbar class="job-toolbar">

        <div class='md-toolbar-tools'>

          <h2 flex md-truncate>
            Job <a href="/jobs/{{job_id}}">{{job_id}}</a>
            <span ng-if="debugging_job_id == job_id">
              <md-progress-circular class="md-hue-2" md-diameter="20px" style="display: inline-block">
              </md-progress-circular> 
            </span>
          </h2>
        
          <% if current_user && current_user.is_admin %>
            <md-button ng-if="current.status != 'running'" class='md-small' ng-href="/krill/start?job={{job_id}}" aria-lable="Run">Run</md-button>
            <% if Bioturk::Application.config.debug_tools %>
              <md-button ng-if="current.status != 'running'" class='md-small' ng-click="debug(current.operation_type,job_id)" aria-lable="Debug">Debug</md-button>
            <% end %>
            <md-button ng-if="current.status != 'running'" class='md-small' ng-click="unschedule(current.operation_type,job_id)" aria-lable="Unschedule">Remove</md-button>
            <md-button ng-if="current.status != 'running'" class='md-small' ng-click="$parent.choose(current.operation_type,'scheduled',true,job_id)" aria-label="All">All</md-button>
            <md-button ng-if="current.status != 'running'" class='md-small' ng-click="$parent.choose(current.operation_type,'scheduled',false,job_id)" aria-lable="None">None</md-button>
          <% end %>
        </div>

      </md-toolbar>

      <oplist operation_type="current.operation_type"
              operations="current.operation_type.operations"
              status="current.status" 
              jobid="job_id">
      </oplist>

    </div>

    <h1 class="md-title" ng-if="jobs.length == 0">No operations</h1>

    <h1 class="md-title" ng-if="!jobs">Loading operations ...</h1>    

  </div>

  <h1 class='md-title' ng-if="!current.operation_type">No operations selected</h1>

<% end %>