<% provide(:title, 'Manager') %>

<%= render partial: 'operation_list' %> 

<%= content_for :class do %>operations<% end %>

<%= content_for :controller do %>operationsCtrl as planner<% end %>

<% content_for :wider_sidebar do %>
  true
<% end %>

<%= content_for :sidebar do %>

  <!-- <h1 class='md-title'>Active Operations</h1> -->

  <md-tabs layout-fill md-selected="current.category_index">

    <md-tab label="{{cat}}" ng-repeat="cat in categories" layout-fill>

      <table class='table table-condensed status-table'>
        <tr>
          <th class='operation-name'>
            <md-switch ng-model="current.show_completed" aria-label="Show completed" style="padding-left: 16px; padding-top: 16px">
              Completed
            </md-switch>
          </th>
          <th ng-repeat="status in [ 'Waiting', 'Pending', 'Deferred', 'Scheduled', 'Running', 'Error', 'Done' ]"
              class='rotate'
              ng-if="current.show_completed || ( status != 'Error' && status != 'Done' )">
            <div><span>{{status}}</span></div>
          </th>
        </tr>
        <tr ng-repeat="ot in operation_types | filter: { category: cat }" ng-click="choose(ot)">
          <td class="operation-name">
            <span ng-class="timing_bullet(ot)">&#9679;</span>          
            {{ot.name}}
          </td>
          <td ng-repeat="status in [ 'waiting', 'pending_true', 'deferred', 'scheduled', 'running', 'error', 'done' ]"
              ng-class="$parent.status_selector(ot,status)"
              ng-click="$parent.select(ot,status)"
              ng-if="current.show_completed || ( status != 'error' && status != 'done' )">
              {{status == "waiting" ? numbers[ot.id]["waiting"] + numbers[ot.id]["pending_false"] : numbers[ot.id][status]}}
          </td>
        </tr>
      </table>

    </md-tab>

  </md-tabs>

<% end %>

<%= content_for :specific_title do %>
  <span ng-if="current.ot">
    &rang; {{current.ot.category}} &rang; {{current.ot.name}} &rang;
    <span class='capitalize'>
      {{
        current.status == 'pending_false' ? 'Waiting' : 
        current.status == 'pending_true' ? 'Pending' : current.status
      }}
    </span>
  </span>
<% end %>

<%= content_for :action1 do %>
  <md-button aria-label="Schedule"  md-class='md-raised'
    ng-if="!current.ot.on_the_fly && current.status == 'pending_true'"
    ng-click="batch(current.ot)">
    Schedule
  </md-button>
<% end %>

<%= content_for :action2 do %>
  <md-button aria-label="Click"  md-class='md-raised'
    ng-if="!current.ot.on_the_fly && current.status == 'pending_true'"
    ng-click="choose(current.ot,'pending',true)">
    All
  </md-button>
<% end %>

<%= content_for :action3 do %>
  <md-button aria-label="Click" md-class='md-raised'
    ng-if="!current.ot.on_the_fly && current.status == 'pending_true'"  
    ng-click="choose(current.ot,'pending',false)">
    None
  </md-button>
<% end %>

<%= content_for :main do %>

   <div class='timing md-subhead timing-info'
         ng-if="current.ot.timing && current.ot.timing.active">
        Usually Scheduled {{current.ot.timing.as_string}}
   </div>

  <oplist ot="current.ot" 
          operations="current.ot.operations" 
          status="current.status"
          ng-if="current.ot && current.status != 'scheduled' && current.status != 'running'">
  </oplist>

  <div ng-if="current.ot && current.status == 'scheduled' || current.status == 'running'">

    <div ng-if="jobs.length > 0" ng-repeat="job_id in jobs" class='job'  style='margin: 16px'>

      <md-toolbar class="job-toolbar">

        <div class='md-toolbar-tools'>

          <h2 flex md-truncate>
            Job <a href="/jobs/{{job_id}}">{{job_id}}</a>
            <span ng-if="debugging_job_id == job_id">
              <md-progress-circular class="md-hue-2" md-diameter="20px" style="display: inline-block">
              </md-progress-circular> 
            </span>
          </h2>
        
          <md-button ng-if="current.status != 'running'" class='md-small' ng-href="/krill/start?job={{job_id}}" aria-lable="Run">Run</md-button>
          <md-button ng-if="current.status != 'running'" class='md-small' ng-click="debug(current.ot,job_id)" aria-lable="Debug">Debug</md-button>
          <md-button ng-if="current.status != 'running'" class='md-small' ng-click="unschedule(current.ot,job_id)" aria-lable="Unschedule">Remove</md-button>
          <md-button ng-if="current.status != 'running'" class='md-small' ng-click="$parent.choose(current.ot,'scheduled',true,job_id)" aria-label="All">All</md-button>
          <md-button ng-if="current.status != 'running'" class='md-small' ng-click="$parent.choose(current.ot,'scheduled',false,job_id)" aria-lable="None">None</md-button>

        </div>

      </md-toolbar>

      <oplist ot="current.ot" 
              operations="current.ot.operations"
              status="current.status" 
              jobid="job_id">
      </oplist>

    </div>

    <h1 class="md-title" ng-if="jobs.length == 0">No operations</h1>

    <h1 class="md-title" ng-if="!jobs">Loading operations ...</h1>    

  </div>

  <h1 class='md-title' ng-if="!current.ot">No operations selected</h1>

<% end %>