<%= render partial: "/items/template" %>
<%= render partial: 'operation_list' %> 
<%= render partial: '/operations/operation_list_report' %>

<%= content_for :class do %>operations<% end %>

<%= content_for :controller do %>operationsCtrl<% end %>

<% content_for :much_wider_sidebar do %>
  true
<% end %>

<%= content_for :sidebar do %>

  <div layout='column'>
    <%= render partial: 'sidebar' %> 
  </div>

<% end %>

<%= content_for :specific_title do %>

  <span ng-if="current.selected_user && current.filter_user && !current.activity_report.selected">
    &rang; {{current.selected_user.name}}
  </span>

<!-- 
  <span ng-if="current.operation_type && !current.activity_report.selected">
    {{current.operation_type.name}} &rang;
    <span class='capitalize'>
      {{current.status}}
    </span>
  </span>
-->

  <span ng-if="current.activity_report.selected">
    &rang; Activity Report &rang; {{current.activity_report.date|date}}
  </span>

<% end %>

<% if current_user && current_user.is_admin %>

  <%= content_for :specific_title do %>

<!-- TODO: Disable if no operations are selected -->
    <div ng-if="!current.activity_report.selected">
      <md-button aria-label="Schedule"
                 class='md-raised md-primary'
                 ng-if="!current.operation_type.on_the_fly && current.status == 'pending'"
                 ng-click="batch(current.operation_type)"
                 data-manager-action="schedule">
        Create Job
      </md-button>
    
      <md-button ng-if="current.status === 'scheduled'"
                 class='md-raised md-primary'
                 ng-click="unschedule(current.operation_type,job_id)"
                 aria-lable="Unschedule"
                 data-manager-job-action="remove">
        Remove Operation(s)
      </md-button>

      <md-button aria-label="Retry" 
                 class='md-raised md-primary'
                 ng-if="current.status == 'error'"
                 ng-click="retry(current.operation_type)"
                 data-manager-action="retry">
        Retry
      </md-button>

      <md-button class="md-icon-button"
                 ng-click="step_all()"
                 ng-disabled="current.stepping"
                 data-manager-action="step all"
                 aria-label="Step All">
        <ng-md-icon icon="youtube_searched_for" size="20" aria-label="Step All" style="fill: #444" ng-if="!current.stepping"></ng-md-icon>
        <span ng-if="current.stepping">
          <md-progress-linear class="md-hue-2" md-diameter="20px" style="display: inline-block">
          </md-progress-linear>       
        </span>
      </md-button>
    </div>

  <% end %>

  <md-button ng-if="current.activity_report.selected"
             ng-click="decrement_date()"
             data-manager-action="prev">PREV</md-button> 
<% end %>

<%= content_for :action2 do %>
  <md-button ng-if="current.activity_report.selected"
             ng-click="increment_date()"
             data-manager-action="next">NEXT</md-button> 

<% end %>

<%= content_for :action4 do %>
  
<% end %>

<%= content_for :main do %>

   <%= render partial: '/data_associations/template' %> 

   <div ng-if="!current.activity_report.selected">

     <div class='timing md-subhead timing-info'
          ng-if="current.operation_type.timing && current.operation_type.timing.active">
          Usually Scheduled {{current.operation_type.timing.as_string}}
     </div>

    <oplist operationtype="current.operation_type"
            operations="current.operation_type.operations"
            status="current.status"
            ng-if="current.operation_type && current.status != 'scheduled' && current.status != 'running'">
    </oplist>

    <div ng-if="current.operation_type && current.status == 'scheduled' || current.status == 'running'">

      <div ng-if="jobs.length > 0" ng-repeat="job_id in jobs" class='job'  style='margin: 16px'>

        <md-toolbar class="job-toolbar">

          <div class='md-toolbar-tools'>

            <h2 flex md-truncate>
              Job <a href="/jobs/{{job_id}}">{{job_id}}</a>
              <span ng-if="debugging_job_id == job_id">
                <md-progress-circular class="md-hue-2" md-diameter="20px" style="display: inline-block">
                </md-progress-circular> 
              </span>
            </h2>
          
            <% if current_user && current_user.is_admin %>
              <md-button ng-if="current.status != 'running'"
                         class='md-icon-button'
                         ng-href="/krill/start?job={{job_id}}"
                         aria-lable="Run"
                         data-manager-job-action="run">
                        <ng-md-icon icon="play_circle_outline" size="20" aria-label="run" style="fill: #444"></ng-md-icon>
              </md-button>

              <md-menu >
                <md-button ng-click="$mdMenu.open($event)" 
                           class='md-icon-button'
                           aria-label="Open assignment menu">
                  <ng-md-icon icon="assignment_ind" size="20" aria-label="Open assignment menu" style="fill: #444"></ng-md-icon>
                </md-button>
                <md-menu-content width="4" class="scrollable flex">
                  <h1 class="md-title" style="text-align: left; margin-left: 26px";>Assign Job</h1>
                  
                  <md-radio-group ng-model="selectedTech" class="md-primary">
                      <md-radio-button ng-repeat="tech in current.technicians"
                                        ng-value="tech" 
                                        style="margin-left: 26px">
                          {{ tech['name'] }} (# jobs)<br/>
                      </md-radio-button>
                  </md-radio-group>

                  <div style="display: flex; justify-content: flex-end;">
                    <md-button ng-click="$mdMenu.close($event)" 
                               class="md-primary"
                               aria-label="Close assignment menu">
                      Cancel
                    </md-button>
                    <md-button ng-click="$mdMenu.close($event)" 
                               class="md-primary"
                               aria-label="Close assignment menu">
                      OK
                    </md-button>
                  </div>

                </md-menu-content>
              </md-menu>

              <% if Bioturk::Application.config.debug_tools %>
                <md-button ng-if="current.status != 'running'"
                           class='md-icon-button'
                           ng-click="debug(current.operation_type,job_id)"
                           aria-lable="Debug"
                           data-manager-job-action="debug">
                  <ng-md-icon icon="bug_report" size="20" aria-label="Debug" style="fill: #444"></ng-md-icon>
                </md-button>
              <% end %>
            <% end %>
          </div>

        </md-toolbar>

        <oplist operation_type="current.operation_type"
                operations="current.operation_type.operations"
                status="current.status" 
                jobid="job_id">
        </oplist>

      </div>

      <h1 class="md-title" ng-if="jobs.length == 0">No operations</h1>

      <h1 class="md-title" ng-if="!jobs">Loading operations ...</h1>    

    </div>

    <h1 class='md-title' ng-if="!current.operation_type">No operations selected</h1>

  </div>

  <div ng-if="current.activity_report.selected">  
    <%= render partial: "job_report" %>
  </div>

<% end %>
