<% provide(:title, 'Manager') %>

<%= render partial: 'operation_list' %> 

<%= content_for :class do %>operations<% end %>

<%= content_for :controller do %>operationsCtrl as planner<% end %>

<%= content_for :sidebar do %>

  <h1 class='md-title'>Active Operations</h1>

  <table class='table table-condensed status-table'>
    <tr>
      <th class='operation-name'></th>
      <th ng-repeat="status in [ 'Waiting', 'Pending', 'Scheduled', 'Running' ]"
          class='rotate'>
        <div><span>{{status}}</span></div>
      </th>
    </tr>
    <tr ng-repeat="ot in operation_types | filter: show_operation_type()" ng-click="choose(ot)">
      <td class="operation-name">{{ot.name}}</td>
      <td ng-repeat="status in [ 'pending_false', 'pending_true', 'scheduled', 'running' ]"
          ng-class="$parent.status_selector(ot,status)"
          ng-click="$parent.select(ot,status)">
          {{ot.numbers[status]}}
      </td>
    </tr>
  </table>

<% end %>

<%= content_for :specific_title do %>
  <div ng-if="current.ot">
    {{current.ot.name}}: 
    <span class='capitalize'>
      {{
        current.status == 'pending_false' ? 'Waiting' : 
        current.status == 'pending_true' ? 'Pending' : current.status
      }}
    </span>
  </div>
<% end %>

<%= content_for :action1 do %>
  <md-button aria-label="Schedule" 
    ng-if="!current.ot.on_the_fly && current.status == 'pending_true'"
    ng-click="batch(current.ot)">
    Schedule
  </md-button>
<% end %>

<%= content_for :action2 do %>
  <md-button aria-label="Click" 
    ng-if="!current.ot.on_the_fly && current.status == 'pending_true'"
    ng-click="choose(current.ot,'pending',true)">
    All
  </md-button>
<% end %>

<%= content_for :action3 do %>
  <md-button aria-label="Click" 
    ng-if="!current.ot.on_the_fly && current.status == 'pending_true'"  
    ng-click="choose(current.ot,'pending',false)">
    None
  </md-button>
<% end %>

<%= content_for :main do %>

  <oplist ot="current.ot" 
          operations="current.ot.operations" 
          status="current.status"
          ng-if="current.ot && current.status != 'scheduled'">
  </oplist>

  <div ng-if="current.ot && current.status == 'scheduled'">

    <div ng-if="jobs.length > 0" ng-repeat="job_id in jobs" class='job'>

      <md-toolbar class="job-toolbar">

        <div class='md-toolbar-tools'>

          <h2 flex md-truncate>
            Job <a href="/jobs/{{job_id}}">{{job_id}}</a>
          </h2>
        
          <md-button class='md-small' ng-href="/krill/start?job={{job_id}}" aria-lable="Run">Run</md-button>
          <md-button class='md-small' ng-click="unschedule(current.ot,job_id)" aria-lable="Unschedule">Remove</md-button>
          <md-button class='md-small' ng-click="$parent.choose(current.ot,'scheduled',true,job_id)" aria-label="All">All</md-button>
          <md-button class='md-small' ng-click="$parent.choose(current.ot,'scheduled',false,job_id)" aria-lable="None">None</md-button>

        </div>

      </md-toolbar>

      <oplist ot="current.ot" 
              operations="current.ot.operations"
              status="current.status" 
              jobid="job_id">
      </oplist>

    </div>

    <h1 class="md-title" ng-if="jobs.length == 0">No operations</h1>

    <h1 class="md-title" ng-if="!jobs">Loading operations ...</h1>    

  </div>

  <h1 class='md-title' ng-if="!current.ot">No operations selected</h1>

<% end %>

 
