<p id="notice"><%= notice %></p>

Name: <%= @operation.name %></br>

<pre id='spec'></pre>

<%= link_to 'Edit', edit_operation_path(@operation) %> |
<%= link_to 'Back', operations_path %>

<script>

$('#spec').html(JSON.stringify(JSON.parse('<%= @operation.specification.gsub(/\n|\r/, '').html_safe %>'),null,2));

</script>