<p id="notice"><%= notice %></p>

Name: <%= @operation.name %></br>

<pre><%= @operation.specification %></pre>

<%= link_to 'Edit', edit_operation_path(@operation) %> |
<%= link_to 'Back', operations_path %>
